.info {
	background-color: rgb(var(--vinisto-color-light-green));
	padding: 0.75rem;
	display: flex;
	gap: 0.25rem;
	color: rgb(var(--vinisto-color-darker-gray));
	font-size: 0.875rem;
}

.infoIcon {
	--icon-size: 2rem;
	flex: 0 0 var(--icon-size);
	display: block;
	width: var(--icon-size);
	height: var(--icon-size);
	margin-left: -0.25rem;
	margin-top: -0.25rem;
}
