.modal {
	display: flex;
	align-items: stretch;
}

.wrap {
	flex: 1 1 auto;
	padding: 1.6875rem 1.25rem 1.875rem;
}

.formWrap {
	flex: 0 0 21.875rem;
	padding: 1.6875rem 1.25rem 1.875rem;
	background-color: rgb(var(--vinisto-color-lighter-gray));
}

.heading {
	font-family: var(--font-family-ubuntu);
	font-size: 1.25rem;
	font-weight: 700;
	color: rgb(var(--vinisto-color-darker-gray));
	text-align: center;
	margin-bottom: 1rem;
}

.heading.green {
	color: rgb(var(--vinisto-color-green));
}

.text {
	font-size: 0.875rem;
	font-weight: 300;
	color: rgb(var(--vinisto-color-darker-gray));
	text-align: center;
	margin-bottom: 0.625rem;
}

.moreLink {
	color: rgb(var(--vinisto-color-green));
}

.moreLink:hover {
	text-decoration: underline;
	color: rgb(var(--vinisto-color-green));
}

@media (max-width: 991.98px) {
	.modal {
		flex-direction: column;
	}

	.formWrap {
		flex: 1 1 auto;
	}

	.text {
		font-size: 0.75rem;
	}
}
