.vinisto-user-orders__header {
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid rgb(var(--vinisto-color-gold));
	padding: 0 0 0.5rem 0.8125rem;
	margin-bottom: 0.75rem;
}

.vinisto-user-orders__header__sort {
	flex: 0 0 66.6666%;
	display: flex;
}

.vinisto-user-orders__header__sort > div {
	flex: 0 0 25%;
	padding-left: 1.0625rem;
}

.vinisto-user-orders__header__sort > div:first-child {
	padding-left: 0;
}

.vinisto-user-orders__header__sort__item {
	display: flex;
	align-items: center;
	white-space: nowrap;
	font-size: 1.25rem;
}

.vinisto-user-orders__header__sort__item svg {
	margin-left: 0.625rem;
	opacity: 0.5;
	transition: opacity 0.3s ease-in-out;
	transform: rotate(180deg);
}

.vinisto-user-orders__header__sort__item.active svg,
.vinisto-user-orders__header__sort__item:hover svg {
	opacity: 1;
}

.vinisto-user-orders__header__sort__item.is-desc svg {
	transform: rotate(0deg);
}

.vinisto-user-orders__header__order-count {
	font-size: 1.25rem;
}

.vinisto-user-orders__search {
	display: flex;
	justify-content: space-between;
	gap: 1.5rem;
}

.vinisto-user-orders__search__label {
	flex: 1 1 100%;
	position: relative;
	width: 100%;
	height: 2.5rem;
	margin-left: 0 !important;
}

.vinisto-user-orders__search__label::before {
	display: inline-flex;
	content: '';
	background-image: url('/assets/images/search_icon.svg');
	background-size: 20px 20px;
	height: 20px;
	width: 20px;
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 0.688rem;
	transform: translateY(-50%);
	cursor: pointer;
}

.vinisto-user-orders__search__input {
	padding: 0.25rem 0.75rem 0.25rem 2.75rem !important;
	height: 2.5rem;
	margin-bottom: 0 !important;
	font-weight: 300;
	border: 1px solid transparent !important;
	box-shadow: inset 1px 1px 4px 0px rgba(var(--vinisto-color-black), 0.2);
	width: 100%;
	max-width: 100% !important;
	transition: border 0.3s ease-out;
}

.vinisto-user-orders__search__input:focus,
.vinisto-user-orders__search__input:hover {
	border: 1px solid rgba(var(--vinisto-color-gold), 0.5) !important;
	outline: none !important;
}

.vinisto-user-orders__search__paging {
	flex: 1 0 auto;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.vinisto-user-orders__search__paging__text {
	font-size: 1.125rem;
	color: rgb(var(--vinisto-color));
}

.vinisto-user-orders__search__paging__count {
	border: 1px solid rgba(var(--vinisto-color-gold), 0.5);
	border-radius: var(--vinisto-radius-base);
	cursor: pointer;
}

.vinisto-user-orders__search__paging__count .dropdown-menu {
	min-width: 3.9375rem;
	font-size: 1.125rem;
	border: none;
	border-radius: var(--vinisto-radius-base);
	bottom: 0;
	box-shadow: 0px 2px 8px 0px rgba(16, 3, 54, 0.4);
	text-align: left;
	min-width: 3.4844rem;
}

.vinisto-user-orders__search__paging__count .dropdown-menu .dropdown-item:hover,
.vinisto-user-orders__search__paging__count
	.dropdown-menu
	.dropdown-item:focus {
	font-weight: 500;
	color: rgb(var(--vinisto-color-white));
	background-color: rgb(var(--vinisto-color));
}

#vinisto-user-orders__search__paging__count {
	padding: 0;
	font-size: 1.125rem;
	color: rgb(var(--vinisto-color));
	line-height: 1.2;
	display: flex;
	align-items: center;
	padding: 0.5625rem 0.5rem;
	transition: 0.3s ease-in-out;
}

#vinisto-user-orders__search__paging__count:hover {
	background-color: rgb(var(--vinisto-color));
	color: rgb(var(--vinisto-color-white));
}

#vinisto-user-orders__search__paging__count:hover::after {
	filter: brightness(0) invert(1);
}

#vinisto-user-orders__search__paging__count::after {
	transition: 0.3s ease-in-out;
	content: url('/assets/images/filter_dropdown_arrow.svg');
}

.vinisto-user-orders__no-order {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	font-size: 1.25rem;
}

.vinisto-user-orders__header__title {
	font-size: 1rem;
	font-weight: 500;
}

.vinisto-user-orders__mobile-filter__btn {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid rgba(var(--vinisto-color-gold), 0.5);
	border-radius: var(--vinisto-radius-base);
	background-color: rgb(var(--vinisto-color-white));
	padding: 0.25rem 0.75rem 0.25rem 0.375rem;
	margin-bottom: 0.75rem;
	font-size: 0.875rem;
	color: rgb(var(--vinisto-color));
	cursor: pointer;
	z-index: 50;
}

.vinisto-user-orders__mobile-filter__btn:hover {
	text-decoration: underline;
}

.vinisto-user-orders__mobile-filter__list {
	display: none;
	flex-flow: column;
	position: absolute;
	top: -1.0625rem;
	padding: 0.375rem 0.375rem 0 0.375rem;
	background-color: rgb(var(--vinisto-color-white));
	box-shadow: 0px 2px 8px 0px rgba(16, 3, 54, 0.4);
	border-bottom-left-radius: var(--vinisto-radius-big);
	border-bottom-right-radius: var(--vinisto-radius-big);
	width: 100%;
	z-index: 40;
}

.vinisto-user-orders__mobile-filter__list.open {
	display: flex;
}

.vinisto-user-orders__mobile-filter__list__item {
	font-size: 0.875rem;
	color: rgb(var(--vinisto-color));
	border-bottom: 1px solid rgba(var(--vinisto-color-gold), 0.5);
	padding: 0.4375rem 0;
}

.vinisto-user-orders__mobile-filter__list__item.active {
	font-weight: 500;
}

.vinisto-user-orders__mobile-filter__list__item:last-of-type {
	border-bottom: none;
}

.vinisto-user-orders__mobile-filter.open
	.vinisto-user-orders__mobile-filter__list {
	display: flex;
}

.vinisto-user-orders__mobile-filter.open
	.vinisto-user-orders__mobile-filter__btn {
	text-decoration: underline;
}

.vinisto-user-orders__mobile-filter.open
	.vinisto-user-orders__mobile-filter__btn
	svg {
	transform: rotate(180deg);
}

.vinisto-user-orders__orders {
	display: flex;
	flex-flow: column;
	gap: 0.875rem;
	margin-top: 0.625rem;
}

.vinisto-user-orders__orders__order {
	border: 1px solid rgba(var(--vinisto-color), 0.1);
	border-radius: var(--vinisto-radius-base);
	padding: 0.6563rem 1.5rem;
	background-color: rgb(var(--vinisto-color-white));
}

.vinisto-user-orders__orders__order__total-price {
	font-size: 1.125rem;
	font-weight: 500;
	color: rgb(var(--vinisto-color-red));
}

.vinisto-user-orders__orders__order.open {
	box-shadow: 0px 2px 8px 0px rgba(var(--vinisto-color), 0.2);
}

.vinisto-user-orders__orders__order.open
	.vinisto-user-orders__orders__order-body {
	display: flex;
}

.vinisto-user-orders__orders__order.vinisto-user-orders__orders__order--mobile,
.vinisto-user-orders__orders__order.vinisto-user-favorites--mobile {
	display: flex;
	flex-direction: column;
}

.vinisto-user-orders__orders__order.vinisto-user-orders__orders__order--mobile
	.vinisto-user-orders__orders__order-footer__others__invoice,
.vinisto-user-orders__orders__order.vinisto-user-orders__orders__order--mobile
	.vinisto-user-orders__orders__order-footer__others__complaint-form,
.vinisto-user-orders__orders__order.vinisto-user-favorites--mobile
	.vinisto-user-orders__orders__order-footer__others__invoice,
.vinisto-user-orders__orders__order.vinisto-user-favorites--mobile
	.vinisto-user-orders__orders__order-footer__others__complaint-form {
	font-size: 1rem;
}

.vinisto-user-orders__orders__order.vinisto-user-orders__orders__order--mobile
	.vinisto-user-orders__orders__order__number,
.vinisto-user-orders__orders__order.vinisto-user-favorites--mobile
	.vinisto-user-orders__orders__order__number {
	font-weight: 500;
}

.vinisto-user-orders__orders__order.vinisto-user-orders__orders__order--mobile
	.vinisto-user-orders__orders__order__small-products,
.vinisto-user-orders__orders__order.vinisto-user-favorites--mobile
	.vinisto-user-orders__orders__order__small-products {
	display: flex;
	flex-wrap: wrap;
	gap: 0.75rem;
}

.vinisto-user-orders__orders__order.vinisto-user-orders__orders__order--mobile
	.vinisto-user-orders__orders__order__cta__btn,
.vinisto-user-orders__orders__order.vinisto-user-favorites--mobile
	.vinisto-user-orders__orders__order__cta__btn {
	padding: 0.1875rem 0.4375rem;
	width: auto;
	font-size: 0.9375rem;
}

.vinisto-user-orders__orders__order.vinisto-user-orders__orders__order--mobile
	.vinisto-user-orders__orders__order__small-products__product,
.vinisto-user-orders__orders__order.vinisto-user-favorites--mobile
	.vinisto-user-orders__orders__order__small-products__product {
	position: relative;
	border: 1px solid rgba(var(--vinisto-color), 0.1);
	border-radius: var(--vinisto-radius-base);
	padding: 0.375rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2.5rem;
	margin-top: 0.5625rem;
}

.vinisto-user-orders__orders__order.vinisto-user-orders__orders__order--mobile
	.vinisto-user-orders__orders__order__small-products__product
	img,
.vinisto-user-orders__orders__order.vinisto-user-orders__orders__order--mobile
	.vinisto-user-orders__orders__order__small-products__product
	svg,
.vinisto-user-orders__orders__order.vinisto-user-favorites--mobile
	.vinisto-user-orders__orders__order__small-products__product
	img,
.vinisto-user-orders__orders__order.vinisto-user-favorites--mobile
	.vinisto-user-orders__orders__order__small-products__product
	svg {
	height: 3.125rem;
}

.vinisto-user-orders__orders__order.vinisto-user-orders__orders__order--mobile
	.vinisto-user-orders__orders__order__small-products__product__count,
.vinisto-user-orders__orders__order.vinisto-user-favorites--mobile
	.vinisto-user-orders__orders__order__small-products__product__count {
	position: absolute;
	top: -0.5625rem;
	right: -0.5625rem;
	border-radius: 0.1875rem;
	background-color: rgb(var(--vinisto-color));
	color: rgb(var(--vinisto-color-white));
	padding: 0.0938rem 0.25rem;
}

.vinisto-user-orders__orders__order.vinisto-user-orders__orders__order--mobile
	.vinisto-user-orders__orders__order-body__item,
.vinisto-user-orders__orders__order.vinisto-user-favorites--mobile
	.vinisto-user-orders__orders__order-body__item {
	color: rgb(var(--vinisto-color-black));
	justify-content: space-between;
	align-items: stretch;
	padding: 0.375rem 0.5rem;
}

.vinisto-user-orders__orders__order.vinisto-user-orders__orders__order--mobile
	.vinisto-user-orders__orders__order-body__item__mobile-info,
.vinisto-user-orders__orders__order.vinisto-user-favorites--mobile
	.vinisto-user-orders__orders__order-body__item__mobile-info {
	display: flex;
	flex-direction: column;
}

.vinisto-user-orders__orders__order.vinisto-user-orders__orders__order--mobile
	.vinisto-user-orders__orders__order-body__item__info,
.vinisto-user-orders__orders__order.vinisto-user-favorites--mobile
	.vinisto-user-orders__orders__order-body__item__info {
	flex: 1 1 100%;
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	align-items: flex-start;
	padding-right: 0;
}

.vinisto-user-orders__orders__order.vinisto-user-orders__orders__order--mobile
	.vinisto-user-orders__orders__order-body__item__status,
.vinisto-user-orders__orders__order.vinisto-user-favorites--mobile
	.vinisto-user-orders__orders__order-body__item__status {
	flex: initial;
}

.vinisto-user-orders__orders__order.vinisto-user-orders__orders__order--mobile
	.vinisto-user-orders__orders__order-body__item__info__data,
.vinisto-user-orders__orders__order.vinisto-user-favorites--mobile
	.vinisto-user-orders__orders__order-body__item__info__data {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.vinisto-user-orders__orders__order.vinisto-user-orders__orders__order--mobile
	.vinisto-user-orders__orders__order-body__item__info__img,
.vinisto-user-orders__orders__order.vinisto-user-favorites--mobile
	.vinisto-user-orders__orders__order-body__item__info__img {
	display: flex;
	align-items: center;
	justify-content: center;
}

.vinisto-user-orders__orders__order.vinisto-user-orders__orders__order--mobile
	.vinisto-user-orders__orders__order__cta,
.vinisto-user-orders__orders__order.vinisto-user-favorites--mobile
	.vinisto-user-orders__orders__order__cta {
	flex: initial;
}

.vinisto-user-orders__orders__order.vinisto-user-orders__orders__order--mobile
	.vinisto-user-orders__orders__order__rating__btn
	img,
.vinisto-user-orders__orders__order.vinisto-user-orders__orders__order--mobile
	.vinisto-user-orders__orders__order__rating__btn
	svg,
.vinisto-user-orders__orders__order.vinisto-user-favorites--mobile
	.vinisto-user-orders__orders__order__rating__btn
	img,
.vinisto-user-orders__orders__order.vinisto-user-favorites--mobile
	.vinisto-user-orders__orders__order__rating__btn
	svg {
	height: 0.625rem;
}

.vinisto-user-orders__orders__order.vinisto-user-orders__orders__order--mobile
	.vinisto-user-orders__orders__order-body__item__prices,
.vinisto-user-orders__orders__order.vinisto-user-favorites--mobile
	.vinisto-user-orders__orders__order-body__item__prices {
	text-align: right;
}

.vinisto-user-orders__orders__order.vinisto-user-orders__orders__order--mobile
	.vinisto-user-orders__orders__order-footer,
.vinisto-user-orders__orders__order.vinisto-user-favorites--mobile
	.vinisto-user-orders__orders__order-footer {
	flex-direction: column;
}

.vinisto-user-orders__orders__order.vinisto-user-orders__orders__order--mobile
	.vinisto-user-orders__orders__order-footer__shipping,
.vinisto-user-orders__orders__order.vinisto-user-favorites--mobile
	.vinisto-user-orders__orders__order-footer__shipping {
	width: 100%;
}

.vinisto-user-orders__orders__order.vinisto-user-orders__orders__order--mobile
	.vinisto-user-orders__orders__order-footer__others,
.vinisto-user-orders__orders__order.vinisto-user-favorites--mobile
	.vinisto-user-orders__orders__order-footer__others {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	gap: 0.5rem;
}

.vinisto-user-orders__orders__order.vinisto-user-orders__orders__order--mobile
	.vinisto-user-orders__orders__order-footer__others
	> div,
.vinisto-user-orders__orders__order.vinisto-user-favorites--mobile
	.vinisto-user-orders__orders__order-footer__others
	> div {
	display: flex;
	flex-direction: column;
	gap: 0.375rem;
	justify-content: center;
}

.vinisto-wine__img-labels.vinisto-wine__img-labels--user-orders {
	position: static;
	display: flex;
	gap: 0.25rem;
}

.vinisto-user-orders__orders__order__detail {
	flex: 0 0 auto !important;
}

.vinisto-user-orders__orders__order__cta {
	flex: 0 1 16.6666%;
}

.vinisto-user-orders__orders__order__cta__btn {
	min-width: 8.75rem;
	text-align: center;
	padding: 0.2813rem;
	font-size: 1.0625rem;
	cursor: pointer;
}

.vinisto-user-orders__orders__order-body {
	display: none;
	flex-flow: column;
	gap: 0.75rem;
	margin-top: 0.625rem;
}

.vinisto-user-orders__orders__order-body__item {
	position: relative;
	display: flex;
	align-items: center;
	gap: 0.75rem;
	padding: 1rem;
}

.vinisto-user-orders__orders__order-body__item::before {
	display: block;
	content: '';
	position: absolute;
	left: 0.75rem;
	top: 0;
	width: calc(100% - 1.5rem);
	height: 1px;
	background-color: rgba(var(--vinisto-color-darker-gray), 0.25);
}

.vinisto-user-orders__orders__order-body__item:first-child::before {
	display: none;
}

.vinisto-user-orders__orders__order-body__item .vinisto-wine__item-overlay {
	top: 0;
}

.vinisto-user-orders__orders__order-body__item.pointer {
	transition: box-shadow 300ms ease-in-out;
}

.vinisto-user-orders__orders__order-body__item.pointer:hover {
	box-shadow: 2px 2px 6px 0px rgba(var(--vinisto-color-darker2), 0.4);
}

.vinisto-user-orders__orders__order-body__item-payment-info {
	display: flex;
	gap: 0.75rem;
	width: 100%;
	scroll-margin-top: var(--header-height);
}

.vinisto-user-orders__orders__order-body__item__info {
	flex: 0 1 33.3333%;
	display: flex;
	align-items: center;
	padding-right: 0.75rem;
}

.vinisto-user-orders__orders__order-body__item__prices {
	flex: 1 1 16.6666%;
	color: #2f121f;
	font-size: 0.875rem;
}

.vinisto-user-orders__orders__order-body__item__prices__big-price,
.vinisto-user-orders__orders__order-body__item__prices__big-total {
	font-size: 1.125rem;
	font-weight: 500;
}

.vinisto-user-orders__orders__order-body__item__prices__big-price {
	color: rgb(var(--vinisto-color-red));
}

.vinisto-user-orders__orders__order-body__item__status {
	flex: 0 0, 16.6666%;
}

.vinisto-user-orders__orders__order-body__item__info__img {
	min-width: 4rem;
	width: 4rem;
	text-align: center;
}

.vinisto-user-orders__orders__order-body__item__info__img img {
	width: 100%;
	height: auto;
}

.vinisto-user-orders__orders__order-body__item__info__data {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.vinisto-user-orders__orders__order-body__item__info__data__name {
	font-size: 1.125rem;
	font-weight: 600;
}

.vinisto-user-orders__orders__order-body__item__info__data__score {
	display: flex;
	align-items: center;
	gap: 0.25rem;
}

.vinisto-user-orders__orders__order-body__item__info__data__score span {
	font-style: italic;
}

.vinisto-user-orders__orders__order-body__item__info__data__winery {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	cursor: pointer;
}

.vinisto-user-orders__orders__order-body__item__info__data__winery span {
	font-style: italic;
	color: rgb(var(--vinisto-color));
}

.vinisto-user-orders__orders__order-body__item__prices__shipping {
	font-size: 1rem;
}

.vinisto-user-orders__orders__order-footer {
	display: flex;
	gap: 0.75rem;
	margin-top: 0.75rem;
}

.vinisto-user-orders__orders__order-footer__shipping {
	border: 1px solid rgba(var(--vinisto-color), 0.1);
	border-radius: var(--vinisto-radius-base);
	padding: 0.25rem 0.5rem;
	width: 50%;
	font-size: 1.0625rem;
}

.vinisto-user-orders__orders__order-footer__shipping__title {
	font-weight: 500;
}

.vinisto-user-orders__orders__order-footer__others {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	width: 100%;
}

.vinisto-user-orders__orders__order-footer__others__invoice,
.vinisto-user-orders__orders__order-footer__others__complaint-form {
	font-size: 1.125rem;
	color: rgb(var(--vinisto-color));
	cursor: pointer;
}

.vinisto-user-orders__orders__order-footer__others__complaint-btn {
	text-align: center;
	padding: 0.3125rem;
	width: 140px;
	cursor: pointer;
}

.vinisto-user-orders__orders__order-footer__others__complaint-storno {
	display: flex;
	align-items: center;
	gap: 0.375rem;
	font-size: 0.875rem;
	color: rgb(var(--vinisto-color));
	cursor: pointer;
}

.vinisto-user-orders__orders__order__rating__btn {
	display: flex;
	gap: 0.5rem;
	border: 1px solid rgba(var(--vinisto-color-gold), 0.5);
	border-radius: var(--vinisto-radius-base);
	padding: 0.5rem 1rem;
	cursor: pointer;
}

.vinisto-user-favorites {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	margin-top: 0.75rem;
}

.vinisto-user-favorites .vinisto-wine__count {
	margin-top: 0;
}

.vinisto-user-favorite .vinisto-user-orders__orders__order-body__item {
	position: relative;
	color: rgb(var(--vinisto-color-black));
}

.vinisto-user-favorite .vinisto-user-orders__orders__order-body__item:hover {
	color: rgb(var(--vinisto-color-black));
}

.vinisto-user-favorite .vinisto-user-orders__orders__order-body__item.pointer {
	transition: box-shadow 300ms ease-in-out;
}

.vinisto-user-favorite
	.vinisto-user-orders__orders__order-body__item.pointer:hover {
	box-shadow: 2px 2px 6px 0px rgba(var(--vinisto-color-darker2), 0.4);
}

.vinisto-user-favorite .vinisto-user-orders__orders__order-body__item__stock {
	flex: 1 0 5%;
	text-align: center;
}

.vinisto-user-favorite .vinisto-user-orders__orders__order__cta {
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.vinisto-user-favorite .vinisto-user-orders__orders__order-body {
	display: flex;
	position: relative;
}

.vinisto-user-favorite .vinisto-user-orders__orders__order-body-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
}

.vinisto-user-orders__orders__order.vinisto-user-favorites--mobile {
	padding: 0;
	box-shadow: none;
}

.vinisto-user-orders__orders__order.vinisto-user-favorites--mobile
	.vinisto-user-orders__orders__order__cta {
	flex: 1 1 125px;
	justify-content: flex-end;
	width: 100%;
}

.vinisto-user-orders__orders__order.vinisto-user-favorites--mobile
	.vinisto-user-orders__orders__order__cta__btn {
	width: 100% !important;
	max-width: 7.8125rem !important;
}

@media (max-width: 1199.98px) {
	.vinisto-user-orders .vinisto-mobile-card {
		padding-bottom: 0;
	}

	.vinisto-user-orders__header {
		border: none;
		padding: 0;
		margin-bottom: 0;
	}
	.vinisto-user-orders__search__input,
	.vinisto-user-orders__search__label {
		height: 1.75rem;
	}
	.vinisto-user-section__main .vinisto-mobile-card {
		padding: 0.75rem;
	}
	.vinisto-user-section__main .vinisto-input {
		font-size: 0.875rem;
		padding: 0.25rem 0.75rem 0.25rem 2rem !important;
	}
	.vinisto-user-orders__search__label::before {
		background-size: 12px 12px;
		height: 12px;
		width: 12px;
	}
	.vinisto-user-orders__orders__order {
		border: none;
		box-shadow: 0px 2px 8px 0px rgba(var(--vinisto-color), 0.2);
	}
	.vinisto-cart-btn-next {
		min-height: 2.5rem;
	}
	.vinisto-user-orders__orders__order-body__item__prices__big-price {
		font-size: 0.875rem;
	}
}

@media (min-width: 768px) and (max-width: 1199.98px) {
	.vinisto-user-orders__header__order-count {
		font-size: 1rem;
	}
	.vinisto-user-orders__no-order {
		font-size: 1.125rem;
	}
	.vinisto-user-orders__orders__order-body__item__info__data__name {
		font-size: 0.875rem;
	}
	.vinisto-user-orders__orders__order-body__item__info__data__score,
	.vinisto-user-orders__orders__order-body__item__info__data__winery {
		font-size: 0.75rem;
	}
	.vinisto-user-orders__orders__order-body__item__info__data__score img,
	.vinisto-user-orders__orders__order-body__item__info__data__score svg,
	.vinisto-user-orders__orders__order-body__item__info__data__winery img,
	.vinisto-user-orders__orders__order-body__item__info__data__winery svg {
		height: 10px;
		width: auto;
	}
	.vinisto-user-orders__orders__order-body__item__status {
		font-size: 0.875rem;
	}
	.vinisto-user-orders__orders__order-body__item__prices {
		font-size: 0.75rem;
	}
	.vinisto-user-orders__orders__order-body__item__prices__big-price {
		font-size: 1rem;
	}
	.vinisto-user-orders__orders__order-body__item,
	.vinisto-user-orders__orders__order-body__item-payment-info {
		gap: 0.25rem;
	}
	.vinisto-user-orders__orders__order-footer__others__invoice,
	.vinisto-user-orders__orders__order-footer__others__complaint-form {
		font-size: 1rem;
	}
	.vinisto-user-orders__orders__order-footer__others__complaint-btn {
		font-size: 0.875rem;
		width: 94px;
	}
	.vinisto-user-orders__orders__order-footer__shipping__title {
		font-size: 1rem;
	}
	.vinisto-user-orders__orders__order-footer__shipping {
		font-size: 0.875rem;
	}
}

@media (max-width: 767.98px) {
	.vinisto-user-orders__no-order {
		font-size: 1rem;
	}

	.vinisto-user-orders__orders__order-body__item,
	.vinisto-user-orders__orders__order-body__item__prices {
		font-size: 0.75rem;
	}

	.vinisto-user-orders__orders__order-body__item__info__data__name {
		font-size: 0.875rem;
	}

	.vinisto-user-orders__header__order-count {
		font-size: 1rem;
	}

	.vinisto-user-orders__orders__order-body__item-payment-info {
		scroll-margin-top: var(--header-mobile-height);
	}

	.vinisto-user-orders__orders__order.vinisto-user-orders__orders__order--mobile,
	.vinisto-user-orders__orders__order.vinisto-user-favorites--mobile {
		font-family: var(--font-family-roboto);
		padding: 0;
		margin: 0;
		border-radius: 0;
		border-top: 1px solid rgb(var(--vinisto-color-darker-gray));
		border-bottom: 1px solid rgb(var(--vinisto-color-darker-gray));
		gap: 0;
	}
	.vinisto-user-orders__orders__order.vinisto-user-orders__orders__order--mobile
		.vinisto-user-favorite
		.vinisto-user-orders__orders__order-body,
	.vinisto-user-orders__orders__order.vinisto-user-favorites--mobile
		.vinisto-user-favorite
		.vinisto-user-orders__orders__order-body {
		margin-top: 0;
	}
	.vinisto-user-orders__orders__order.vinisto-user-orders__orders__order--mobile
		.vinisto-user-favorite
		.vinisto-user-orders__orders__order-body__item,
	.vinisto-user-orders__orders__order.vinisto-user-favorites--mobile
		.vinisto-user-favorite
		.vinisto-user-orders__orders__order-body__item {
		position: relative;
		border-radius: 0;
		border: none;
	}
	.vinisto-user-orders__orders__order.vinisto-user-orders__orders__order--mobile
		.vinisto-user-favorite
		.vinisto-user-orders__orders__order-body__item::before,
	.vinisto-user-orders__orders__order.vinisto-user-favorites--mobile
		.vinisto-user-favorite
		.vinisto-user-orders__orders__order-body__item::before {
		display: block;
		content: '';
		position: absolute;
		top: 0;
		left: 0.5rem;
		width: calc(100% - 1rem);
		height: 1px;
		background-color: rgba(var(--vinisto-color-darker-gray), 0.25);
	}
	.vinisto-user-orders__orders__order.vinisto-user-orders__orders__order--mobile
		.vinisto-user-favorite
		.vinisto-user-orders__orders__order-body__item__info__data__name,
	.vinisto-user-orders__orders__order.vinisto-user-favorites--mobile
		.vinisto-user-favorite
		.vinisto-user-orders__orders__order-body__item__info__data__name {
		margin-top: 0.125rem;
		font-size: 0.75rem;
		font-weight: 400;
	}
	.vinisto-user-orders__orders__order.vinisto-user-orders__orders__order--mobile
		.vinisto-user-favorite
		.vinisto-user-orders__orders__order-body__item__info__data__winery
		span,
	.vinisto-user-orders__orders__order.vinisto-user-favorites--mobile
		.vinisto-user-favorite
		.vinisto-user-orders__orders__order-body__item__info__data__winery
		span {
		font-weight: 400;
		color: rgb(var(--vinisto-color-darker-gray));
	}
	.vinisto-user-orders__orders__order.vinisto-user-orders__orders__order--mobile
		.vinisto-user-favorite
		.vinisto-user-orders__orders__order-body__item__prices,
	.vinisto-user-orders__orders__order.vinisto-user-favorites--mobile
		.vinisto-user-favorite
		.vinisto-user-orders__orders__order-body__item__prices {
		font-family: var(--font-family-ubuntu);
	}
	.vinisto-user-orders__orders__order.vinisto-user-orders__orders__order--mobile
		.vinisto-user-favorite
		.vinisto-user-orders__orders__order-body__item__prices__without-vat,
	.vinisto-user-orders__orders__order.vinisto-user-favorites--mobile
		.vinisto-user-favorite
		.vinisto-user-orders__orders__order-body__item__prices__without-vat {
		font-size: 0.625rem;
		font-weight: 300;
	}
	.vinisto-user-orders__orders__order.vinisto-user-orders__orders__order--mobile
		.vinisto-user-favorite
		.vinisto-user-orders__orders__order-body__item__prices__big-price,
	.vinisto-user-orders__orders__order.vinisto-user-favorites--mobile
		.vinisto-user-favorite
		.vinisto-user-orders__orders__order-body__item__prices__big-price {
		font-size: 0.875rem;
		font-weight: 500;
		white-space: nowrap;
	}
	.vinisto-user-orders__orders__order.vinisto-user-orders__orders__order--mobile
		.vinisto-user-favorite
		.vinisto-user-orders__orders__order-body__item__prices__big-price-discounted,
	.vinisto-user-orders__orders__order.vinisto-user-favorites--mobile
		.vinisto-user-favorite
		.vinisto-user-orders__orders__order-body__item__prices__big-price-discounted {
		font-size: 0.875rem;
		font-weight: 500;
		white-space: nowrap;
	}
	.vinisto-user-orders__orders__order.vinisto-user-orders__orders__order--mobile
		.vinisto-user-favorite:first-child
		.vinisto-user-orders__orders__order-body__item::before,
	.vinisto-user-orders__orders__order.vinisto-user-favorites--mobile
		.vinisto-user-favorite:first-child
		.vinisto-user-orders__orders__order-body__item::before {
		display: none;
	}
	.vinisto-user-orders__orders__order.vinisto-user-orders__orders__order--mobile
		.vinisto-user-favorite.discounted
		.vinisto-user-orders__orders__order-body__item__prices__big-price,
	.vinisto-user-orders__orders__order.vinisto-user-favorites--mobile
		.vinisto-user-favorite.discounted
		.vinisto-user-orders__orders__order-body__item__prices__big-price {
		font-size: 0.625rem;
		font-weight: 400;
	}
	.vinisto-user-orders__orders__order.vinisto-user-orders__orders__order--mobile
		.vinisto-cart__item--mobile.pointer:hover
		.vinisto-user-orders__orders__order-body__item,
	.vinisto-user-orders__orders__order.vinisto-user-favorites--mobile
		.vinisto-cart__item--mobile.pointer:hover
		.vinisto-user-orders__orders__order-body__item {
		box-shadow: none;
	}
}
