button.subscription {
	position: relative;
	width: 12.5rem;
	min-height: 10.375rem;
	padding: 0.625rem 0.625rem 1.25rem 0.625rem;
	border: 1px solid rgba(var(--vinisto-color-purple), 0.1);
	background-color: rgb(var(--vinisto-color-white));
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	text-align: center;
	color: rgb(var(--vinisto-color-darker-gray));
	transition: border 0.3s ease, box-shadow 0.3s ease;
}

button.subscription.selected {
	border: 1px solid rgb(var(--vinisto-color-green));
	box-shadow: 0px 2px 8px rgba(var(--vinisto-color-black), 0.16);
}

button.subscription:not(.selected):hover {
	border: 1px solid rgb(var(--vinisto-color-green));
	box-shadow: 0px 2px 8px rgba(var(--vinisto-color-black), 0.16);
}

.youSave {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: var(--font-family-ubuntu);
	font-size: 0.625rem;
	font-weight: 300;
	background-color: rgb(var(--vinisto-color-red));
	color: rgb(var(--vinisto-color-white));
	border-radius: 0.3125rem;
	white-space: nowrap;
	padding: 0.375rem 0.5rem;
}

.selectBadge {
	--badge-size: 0.9375rem;
	position: absolute;
	top: 0.625rem;
	left: 0.625rem;
	width: var(--badge-size);
	height: var(--badge-size);
	background-color: rgb(var(--vinisto-color-white));
	border: 1px solid rgb(var(--vinisto-color-lighter-gray2));
	border-radius: 50%;
	transition: border 0.3s ease;
}

button.subscription.selected .selectBadge {
	border: 3px solid rgb(var(--vinisto-color-green));
}

.name {
	font-family: var(--font-family-ubuntu);
	font-size: 1.25rem;
	font-weight: 700;
	margin: 1.0625rem 0 0 0;
}

.description {
	font-size: 0.625rem;
	font-weight: 300;
	margin-bottom: 0.5rem;
}

.originalPrice {
	font-size: 1rem;
	color: rgb(var(--vinisto-color-red));
	text-decoration: line-through;
	line-height: 1;
	margin-bottom: -0.125rem;
}

.price {
	font-family: var(--font-family-ubuntu);
	font-size: 1.875rem;
	font-weight: 500;
	color: rgb(var(--vinisto-color-red));
}

.infoText {
	font-size: 0.625rem;
	font-weight: 300;
}

.infoText2 {
	font-size: 0.625rem;
	font-weight: 700;
}

@media (max-width: 1199.98px) {
	button.subscription {
		width: 9.625rem;
		min-height: 11rem;
	}

	.name {
		font-size: 1rem;
		margin: 1.3125rem 0 0.3125rem 0;
	}

	.description {
		margin-bottom: 0.625rem;
	}
}
