.product {
	display: grid;
	grid-template-columns: auto 1fr 1fr 1fr 20rem;
	grid-template-rows: 1fr;
	align-items: center;
	gap: 0 0.5rem;
	grid-auto-flow: row;
	grid-template-areas: 'productImg secondColumn thirdColumn productCount prices';
	border-bottom: 1px solid rgba(var(--vinisto-color-darker-gray), 0.25);
	padding: 1.125rem 0;
}

.productImg {
	grid-area: productImg;
	margin: 0 0.5rem;
}

.secondColumn {
	grid-area: secondColumn;
	font-family: var(--font-family-roboto);
	font-weight: 500;
	font-size: 1rem;
	color: rgb(var(--vinisto-color-black));
	text-decoration: underline;
	display: flex;
	flex-direction: column;
	gap: 0.3125rem;
}

.secondColumn :global(.vinisto-wine__variety) {
	color: rgba(var(--vinisto-color-darker-gray), 0.75);
	text-decoration: none;
}

.secondColumn :global(.vinisto-wine__variety):hover {
	color: rgba(var(--vinisto-color-darker-gray), 0.75);
}

.thirdColumn {
	grid-area: thirdColumn;
	font-family: var(--font-family-ubuntu);
}

.productCount {
	grid-area: productCount;
	font-family: var(--font-family-ubuntu);
	font-size: 1rem;
	font-weight: 300;
	color: rgb(var(--vinisto-color-darker-gray));
}

.prices {
	grid-area: prices;
	font-family: var(--font-family-ubuntu);
	font-weight: 300;
	color: rgb(var(--vinisto-color-darker-gray));
	font-size: 1rem;
}

.productPrice {
	font-weight: 500;
	font-size: 1rem;
	color: rgb(var(--vinisto-color-red));
}

.productPriceNoVat,
.productSeller {
	font-size: 0.75rem;
	font-weight: 300;
	color: rgb(var(--vinisto-color-darker-gray));
}

.productPriceNoVatPrice {
	font-weight: 500;
}

.productPriceNoVat {
	font-size: 0.625rem;
}

.sellerName {
	font-weight: 500;
	color: rgb(var(--vinisto-color-green));
}
