.vinisto-modal-add-to-basket {
	padding-bottom: 0.5rem;
}

.vinisto-modal-add-to-basket__image {
	text-align: center;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

.vinisto-modal-add-to-basket__image img,
.vinisto-modal-add-to-basket__image svg {
	height: 200px;
}

.vinisto-modal-add-to-basket .vinisto-wine__variety {
	margin-bottom: 1rem;
}
