.main_wrapper {
	width: 100%;
}

.title {
	height: 40px;
	min-width: 260px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	align-self: center;
	font-weight: bold;
	font-size: 14px;
}

.image_list_wrapper {
	display: flex;
	flex-wrap: wrap;
}

.image_wrapper {
	position: relative;
	width: 9em;
	height: 9em;
	border: 1px solid #eaeaea;
	margin: 0.125em;
}

.image_wrapper.main {
	border: 1px solid rgb(var(--vinisto-color));
}

.dropdown_toggle_icon {
	cursor: pointer;
	color: rgba(var(--vinisto-color-dark-gray), 1);
  width: 1.2rem;
  height: auto;
}

.dropdown:global(.dropdown) {
	position: absolute;
	width: 100%;
	text-align: right;
	padding-right: 0.5rem;
	z-index: 10;
}

.dropdown :global(.dropdown-menu) {
	right: 1px;
	left: auto;
}

.dropdown :global(.dropdown-item) {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.image {
	height: 100%;
	width: 100%;
	-o-object-fit: contain;
	object-fit: contain;
}

.main_title {
	position: absolute;
	bottom: 0;
	text-align: center;
	background-color: rgb(var(--vinisto-color));
	color: #fff;
	width: 100%;
	opacity: 0;
	transition: 0.1s;
}

.image_wrapper:hover .main_title {
	opacity: 1;
}
