.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.supplierWrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.detailRow {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}
