.vinisto-user-orders__mobile-filter__btn.vinisto-code__filter-btn {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding: 0.375rem 0.75rem 0.375rem 0.375rem;
	margin-bottom: 0;
}

.vinisto-user-orders__mobile-filter__list.vinisto-code__filter-list {
	padding-top: 0.875rem;
}
.vinisto-user-orders__mobile-filter__list.vinisto-code__filter-list
	.vinisto-user-orders__mobile-filter__list__item {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	cursor: pointer;
}
