.wrapper {
	display: flex;
	align-items: center;
	background-color: rgb(var(--vinisto-color-lighter-green));
	width: 100%;
	transition: opacity 0.2s ease-in-out;
}

.infoBox {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 4.375rem;
	width: 3.9375rem;
}

.hexagon {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 1.875rem;
	height: 2.125rem;
	-webkit-clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
	clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
	background-color: rgb(var(--vinisto-color-green));
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.hexagon > * {
	font-family: var(--font-family-ubuntu);
	color: rgb(var(--vinisto-color-white));
	width: 100%;
	max-width: 100%;
	height: auto;
	max-height: 100%;
	filter: grayscale(1) brightness(0) invert(1);
	text-align: center;
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 1;
}

.messageBox {
	font-size: 0.875rem;
	font-weight: 300;
	color: rgb(var(--vinisto-color-darker-gray));
}

.logInLink.logInLink {
	text-decoration: underline;
	color: rgb(var(--vinisto-color-green));
	font-weight: 500;
}

@media (min-width: 1200px) {
	.wrapper:hover {
		opacity: 0.8;
	}
}

@media (max-width: 1199.98px) {
	.infoBox {
		height: 2.25rem;
		width: 2.75rem;
	}

	.hexagon > * {
		font-size: 1.125rem;
	}

	.messageBox {
		font-size: 0.75rem;
	}
}
