.b2bCustomerInfo {
	color: rgb(var(--vinisto-color-black));
	background-color: rgb(var(--vinisto-color-white));
	padding-inline: 0.5rem;
	padding-top: 0.75rem;
	padding-bottom: 1rem;
}

@media (min-width: 1200px) {
	.b2bCustomerInfo {
		padding-top: 0.5rem;
	}
}

.priceLevelInfo {
	background-color: rgba(var(--vinisto-color-green), 0.15);
}

.priceInfoLabel, .creditInfoLabel {
	font-weight: 300;
	display: flex;
	align-items: center;
}

.priceInfoLabel::before, .creditInfoLabel::before {
	font-weight: 500;
	margin-inline-end: 0.5rem;
	color: rgb(var(--vinisto-color-white));
	padding: 0.1rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 100%;
	line-height: 1;
}

.priceInfoLabel::before {
	/* ≈ symbol is not vertically centered, we need to adjust a little */
	padding-top: 0rem;
	padding-bottom: 0.2rem;
	content: "≈";
	background-color: rgba(var(--vinisto-color-green), 0.5);
}

.creditInfoLabel::before {
	content: '$';
	background-color: rgb(255, 178, 101);
}

.priceInfoValue, .creditInfoValue {
	font-weight: 500;
}

.creditInfo {
	background-color: rgb(255, 178, 101, 0.25);
}

.requestCreditIncreaseButton {
	font-size: 14px;
	background-color: rgb(255, 178, 101);
	color: #fff;
	padding: 0.2rem 0.5rem;
	transition: background-color 0.2s ease-in-out;
}

.requestCreditIncreaseButton:hover {
	background-color: hsl(30, 100%, 63%);
	color: #fff;
}