.aresBtn:global(.vinisto-btn) {
	font-family: var(--font-family-roboto);
	font-weight: 400;
	font-size: 1rem;
	color: rgb(var(--vinisto-color-green));
	background-color: rgb(var(--vinisto-color-white));
	border: 1px solid rgb(var(--vinisto-color-green));
	border-radius: 0;
	padding: 0.5rem 1rem;
	white-space: nowrap;
	margin-top: 1rem;
	align-self: flex-start;
	transition: color 0.3s ease-in, border-color 0.3s ease-in,
		opacity 0.3s ease-in;
}

.aresBtn:global(.vinisto-btn):not(:disabled):hover {
	color: rgb(var(--vinisto-color-green-hover));
	background-color: rgb(var(--vinisto-color-white));
	border-color: rgb(var(--vinisto-color-green-hover));
	opacity: 1;
}

.vatNumber {
	display: flex;
	gap: 0.5rem;
}
