.conditionRow {
	display: flex;
	gap: 0.5rem;
	align-items: flex-start;
}

.conditionRow label {
	margin-bottom: 0.5rem;
	font-weight: 600;
}

.conditionRow > div,
.conditionRow > select {
	flex-basis: 50%;
	flex-grow: 1;
	flex-shrink: 1;
}

.button {
	appearance: none;
	border: none;
	background-color: transparent;
	cursor: pointer;
	color: darkblue;
	text-decoration: underline;
}

.conditionRow :global(.input-error):empty {
	display: none;
}
