.v-blog-post {
	padding-bottom: 1.5rem;
}

.v-blog-post::after {
	display: block;
	content: '';
	clear: both;
}

.v-blog-post table {
	height: auto;
	width: 100%;
	aspect-ratio: auto;
}

.v-blog-post img {
	max-width: 100%;
	height: auto;
}

.v-blog-post h1,
.v-blog-post .h1 {
	font-family: var(--font-family-ubuntu);
	font-size: 1.625rem;
	font-weight: 700;
}

.v-blog-post h2,
.v-blog-post .h2 {
	font-family: var(--font-family-ubuntu);
	font-size: 1.5rem;
	font-weight: 500;
}

.v-blog-post h3,
.v-blog-post .h3 {
	font-family: var(--font-family-ubuntu);
	font-size: 1.375rem;
	font-weight: 500;
}

.v-blog-post h4,
.v-blog-post .h4 {
	font-family: var(--font-family-ubuntu);
	font-size: 1.25rem;
	font-weight: 500;
}

.v-blog-post h5,
.v-blog-post .h5 {
	font-family: var(--font-family-ubuntu);
	font-size: 1.125rem;
	font-weight: 500;
}

.v-blog-post h6,
.v-blog-post .h6 {
	font-family: var(--font-family-roboto);
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5rem;
}

.v-blog-post p,
.v-blog-post ul,
.v-blog-post ol {
	font-family: var(--font-family-roboto);
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5rem;
}

.v-blog-post ol li {
	padding-left: 0.625rem;
	margin-bottom: 0.875rem;
}

.v-blog-post ol li ol li {
	margin-bottom: 0;
}

.v-blog-post ol li ol {
	margin-top: 0.5rem;
}

.v-blog-post ul li {
	padding-left: 0.8125rem;
	margin-bottom: 0.875rem;
}

.v-blog-post ul li ul li {
	margin-bottom: 0.125rem;
}

.v-blog-post ul li ul {
	margin-top: 0.5625rem;
}

.v-blog-post h1,
.v-blog-post .h1,
.v-blog-post h2,
.v-blog-post .h2,
.v-blog-post h3,
.v-blog-post .h3,
.v-blog-post h4,
.v-blog-post .h4,
.v-blog-post h5,
.v-blog-post .h5,
.v-blog-post h6,
.v-blog-post .h6 {
	margin: 1.25rem 0 0.25rem;
}

.v-blog-post figure {
	width: auto;
	display: table;
}

.v-blog-post figcaption {
	display: table-caption;
	caption-side: bottom;
	font-family: var(--font-family-roboto);
	font-size: 0.875rem;
	font-style: italic;
	line-height: 1.1875rem;
	margin-top: 0.125rem;
}

.v-blog-post .blog-button,
.v-blog-post .btn {
	font-family: var(--font-family-ubuntu);
	font-size: 1.125rem;
	font-weight: 700;
	color: rgb(var(--vinisto-color-white));
	background-color: rgb(var(--vinisto-color-green));
	border-radius: 0;
	padding: 0.5rem 1rem;
	min-width: 11.125rem;
}

.v-blog-post .blog-button:hover,
.v-blog-post .btn:hover,
.v-blog-post .blog-button:active,
.v-blog-post .btn:active {
	color: rgb(var(--vinisto-color-white));
	background-color: rgb(var(--vinisto-color-green-hover));
}

.v-blog-post .blog-image-left {
	float: left;
	margin: 1.25rem 1rem 1.25rem 0;
}

.v-blog-post .blog-image-center {
	margin: 1.25rem 1rem;
}

.v-blog-post .blog-image-right {
	float: right;
	margin: 1.25rem 0 1.25rem 1rem;
}

.blog-highlighted-text {
	padding: 0.25rem 0.5rem;
}

@media (max-width: 1199.98px) {
	.v-blog-post h1,
	.v-blog-post .h1 {
		font-size: 1.375rem;
	}

	.v-blog-post h2,
	.v-blog-post .h2 {
		font-size: 1.25rem;
	}

	.v-blog-post h3,
	.v-blog-post .h3 {
		font-size: 1.125rem;
	}

	.v-blog-post h4,
	.v-blog-post .h4 {
		font-size: 1rem;
	}

	.v-blog-post h5,
	.v-blog-post .h5 {
		font-size: 0.875rem;
	}

	.v-blog-post h6,
	.v-blog-post .h6 {
		font-size: 0.875rem;
		font-weight: 500;
		line-height: 1.375rem;
	}
	.v-blog-post p,
	.v-blog-post ul,
	.v-blog-post ol {
		font-size: 0.875rem;
		line-height: 1.375rem;
	}

	.v-blog-post .blog-button,
	.v-blog-post .btn {
		font-size: 1rem;
	}

	.v-blog-post h1,
	.v-blog-post .h1,
	.v-blog-post h2,
	.v-blog-post .h2,
	.v-blog-post h3,
	.v-blog-post .h3,
	.v-blog-post h4,
	.v-blog-post .h4,
	.v-blog-post h5,
	.v-blog-post .h5,
	.v-blog-post h6,
	.v-blog-post .h6 {
		margin: 0.75rem 0 0.25rem;
	}

	.v-blog-post figcaption {
		font-size: 0.75rem;
		line-height: 1rem;
	}

	.v-blog-post .blog-image-left {
		margin: 0.75rem 0.75rem 0.75rem 0;
	}

	.v-blog-post .blog-image-center {
		margin: 0.75rem;
	}

	.v-blog-post .blog-image-right {
		margin: 0.75rem 0 0.75rem 0.75rem;
	}

	.blog-highlighted-text {
		padding: 0.2188rem 0.4375rem;
	}

	.v-blog-post ol li {
		margin-bottom: 0.75rem;
	}

	.v-blog-post ul li {
		padding-left: 0.75rem;
		margin-bottom: 0.75rem;
	}

	.v-blog-post ul li ul li {
		margin-bottom: 0.5rem;
	}

	.v-blog-post ul li ul {
		margin-top: 0.75rem;
	}
}
