.heading {
	font-family: var(--font-family-ubuntu);
	font-size: 1.5rem;
	font-weight: 300;
	color: rgb(var(--vinisto-color-darker-gray));
	margin-bottom: 0.625rem;
}

.address {
	background-color: rgb(var(--vinisto-color-lighter-gray));
	padding: 0.625rem;
	color: rgb(var(--vinisto-color-darker-gray));
	font-size: 0.75rem;
	font-weight: 300;
}

.address p {
	margin-bottom: 0.5rem;
}

@media (max-width: 991.98px) {
	.heading {
		font-size: 1rem;
		font-weight: 500;
	}

	.address {
		font-size: 0.6875rem;
	}
}
