.container {
	padding: 0.5rem;
}

.items {
	background-color: rgba(var(--vinisto-color-lighter-gray));
}

.fee {
	background-color: rgba(var(--vinisto-color-green), 0.15);
}

.feeText {
	color: rgb(var(--vinisto-color-green));
	filter: brightness(0.8);
}

.items,
.fee {
	border-radius: var(--vinisto-radius);
}
