.userSectionBundleNotesWrapper {
	padding-top: 0;
	width: 50%;
	border: none;
}

@media (max-width: 1199.98px) {
	.userSectionBundleNotesWrapper {
		width: 100%;
	}
}
.userSectionBundleNotesWrapper form {
	padding-left: 0.3125rem;
}

.userSectionBundleNotesWrapper h2,
.userSectionBundleNotesWrapper h2 + div {
	display: none;
}
