.specifications-list__heading {
	font-weight: bold;
	font-size: 0.875rem;
}

.specification {
	display: flex;
	min-height: 40px;
	font-size: 14px;
}
.specification__icon {
	height: 16px;
	width: 18px;
	min-width: 18px;
	margin-top: 2px;
	color: rgb(var(--vinisto-color-lighter));
}
.specification__label {
	flex-basis: 150px;
	padding-left: 10px;
}
.specification__value {
	flex: 1;
}
