.addAddress {
	display: flex;
	align-items: center;
	justify-content: center;
}

.addAddressButton {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	border: 1px solid rgb(var(--vinisto-color-green));
	padding: 0.5rem;
}
.addAddress:global(.checkout) {
	padding: 0;
}
.addAddress:global(.checkout) .addAddressButton {
	width: 100%;
	height: 100%;
	min-height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	border-style: dashed;
	border-radius: 4px;
}

.addAddress:global(.checkout) .addAddressIcon {
	width: 1rem;
	height: 1rem;
	background-color: rgb(var(--vinisto-color-lighter-gray));
	display: block;
}

.addAddress:global(.checkout) .addAddressIconWrap {
	width: 50px;
	height: 50px;
	background-color: rgb(var(--vinisto-color-lighter-gray));
	display: grid;
	place-items: center;
	border-radius: 50%;
}

.addAddress:global(.checkout) .addAddressButton .addAddressText {
	font-size: 1rem;
	font-weight: 500;
	color: rgb(var(--vinisto-color-black));
	padding: 0.5625rem;
	border: 1px solid rgb(var(--vinisto-color-black));
	background-color: rgb(var(--vinisto-color-white));
}

.addAddressButton:hover {
	background-color: rgb(var(--vinisto-color-green));
}

.addAddressButton:hover .addAddressText {
	color: rgb(var(--vinisto-color-white));
}

.addAddress:not(:global(.checkout)) .addAddressButton:hover .addAddressIcon {
	filter: brightness(0) invert(1);
}

.addAddressText {
	font-family: var(--font-family-roboto);
	font-size: 0.75rem;
	font-weight: 400;
	color: rgb(var(--vinisto-color-darker-gray));
}

@media (min-width: 1200px) {
	.addAddressButton {
		padding: 0.25rem 0.5rem;
	}

	.addAddressText {
		font-size: 1rem;
	}
}

@media (max-width: 1199.98px) {
	.addAddress:global(.checkout) {
		width: fit-content;
		margin: 0 auto;
	}
	.addAddress:global(.checkout) .addAddressButton {
		border: none;
		min-height: unset;
		padding: 0;
	}

	.addAddress:global(.checkout) .addAddressButton .addAddressIconWrap {
		display: none;
	}
}
