.breadcrumbsWrap {
	margin-top: 0.8125rem !important;
}

.container:global(.col-12) {
	padding: 0;
	margin-bottom: 0.5rem;
}

@media (max-width: 1199.98px) {
	.breadcrumbsWrap {
		padding: 0.25rem !important;
	}

	.breadcrumbsWrap ol {
		margin-bottom: 0 !important;
	}
}

@media (min-width: 1400px) {
	.container:global(.col-12) {
		padding: 0 0.75rem;
	}
}

@media (min-width: 1200px) {
	.container:global(.col-12) {
		margin-bottom: 0;
	}

	/* These styles are necessary to make skeleton the same height as breadcrumbs to prevent layout shift */
	.breadcrumbSkeleton {
		display: inline-block;
		height: 19.2px;
		margin-bottom: 0.75rem;
	}
}
