.vinisto-wine-profile__property.empty .vinisto-thumb {
	background-color: #9480a2;
}

.vinisto-wine-profile__property.empty .vinisto-slider::before {
	display: block;
	position: absolute;
	content: '';
	width: calc(100% - 1rem);
	height: 2px;
	top: 50%;
	transform: translateY(-50%);
	left: 0.5rem;
	background-color: rgba(var(--vinisto-color-warn), 0.5);
	z-index: 10;
}

@media (max-width: 1199.98px) {
	.modal-dialog--review .modal-body form {
		max-width: 500px;
		margin: 0 auto;
	}
}
