.breadcrumbs {
	padding-left: 1.25rem;
	margin-bottom: 0;
}

.breadcrumbs :global(.breadcrumb) {
	margin-bottom: 0;
}

.homeIcon {
	width: 0.875rem;
	height: 0.75rem;
}

.homeIcon path {
	fill: rgb(var(--vinisto-color-darker-gray));
}

.breadcrumb {
	font-family: var(--font-family-ubuntu);
	font-size: 0.75rem;
	font-weight: 400;
}

.breadcrumb :global(a) {
	text-decoration: underline;
	color: rgb(var(--vinisto-color-darker-gray));
}

.breadcrumb :global(a):hover,
.breadcrumb :global(a):hover .link {
	text-decoration: none;
	color: rgb(var(--vinisto-color-darker-gray));
}

.breadcrumb::before {
	font-size: 0.8125rem;
	color: rgb(var(--vinisto-color-darker-gray));
	font-weight: 500;
}

.link {
	font-weight: 500;
	color: rgb(var(--vinisto-color-darker-gray));
}

@media (max-width: 1199.98px) {
	.breadcrumbs {
		padding-left: 0rem;
	}

	.breadcrumbs > ol {
		margin-bottom: 0px;
	}
}
