.bundleLabel {
	--tag-color: red;
	display: block;
	font-size: 0.8375rem;
	line-height: 1.25rem;
	opacity: 0.75;
	text-align: left;
	white-space: nowrap;
	transition: opacity 0.2s ease-in-out;
	position: relative;
	margin: 0.125rem 0.75rem 0 0.1875rem;
	padding: 0.3125rem 0.125rem;
	float: left;
	clear: left;
	border-radius: 0.125rem;
	background-color: var(--tag-color);
}

.bundleLabel,
.bundleLabel:hover {
	color: rgb(var(--vinisto-color-white));
}

:global(.vinisto-wine__item):hover .bundleLabel {
	opacity: 1;
}

.left,
.right {
	position: absolute;
	height: 100%;
	top: 0;
	width: auto;
	overflow: visible;
	line-height: 1;
}

.left {
	right: calc(100% - 0.125rem);
}

.right {
	left: calc(100% - 0.125rem);
	transform: rotate(180deg);
}

.left path,
.right path {
	fill: var(--tag-color);
}
