.sidebar-toggable-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: center;
	align-content: center;
	width: 100%;
	box-shadow: 0px 0px 10px 2px rgba(55, 8, 91, 0.688);
	margin-top: 15px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-webkit-backdrop-filter: blur(0.8px);
	backdrop-filter: blur(0.8px);
	border: 0.4px solid rgba(255, 255, 255, 0.08);
	background: linear-gradient(
		15deg,
		rgba(40, 0, 68, 0.25) 0%,
		rgba(57, 0, 68, 0.25) 39%,
		rgba(57, 0, 68, 0.25) 63%,
		rgba(40, 0, 68, 0.25) 100%
	);
}
.sidebar-toggable-item.is-open {
	padding-bottom: 1rem;
}
.sidebar-toggable-item .sidebar-toggable-item {
	border: unset;
	box-shadow: unset;
	background: unset;
	backdrop-filter: unset;
	-webkit-backdrop-filter: unset;
	padding: unset;
	margin-left: 16px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: calc(100% - 10px);
}
.sidebar-toggable-item .sidebar-toggable-item .toggle-click-panel {
	height: unset;
	padding: unset;
}
.sidebar-toggable-item
	.sidebar-toggable-item
	.toggle-click-panel
	.sidebar-toggable-item-icon {
	font-size: 18px;
}

.sidebar-toggable-item .toggle-click-panel {
	display: flex;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-self: center;
	align-content: center;
	width: 100%;
	height: 60px;
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer;
	opacity: 0.8;
	text-shadow: rgba(255, 255, 255, 0) 0px 0 0px;
	transform: scale(1);
	transition: all 400ms ease-in-out;
}

.sidebar-toggable-item .toggle-click-panel:hover {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	text-shadow: rgba(255, 255, 255, 0.4) 1px 0 10px;
	opacity: 1;
	transform: scale(1.01);
	transition: all 400ms ease-in-out;
}

.sidebar-toggable-item .toggle-click-panel .sidebar-toggable-item-icon {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	color: white;
	font-size: 24px;
}

.sidebar-toggable-item .toggle-click-panel .sidebar-toggable-item-title {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	display: flex;
	flex: 1;
	font-family: 'Roboto', sans-serif !important;
	flex-direction: row;
	justify-content: flex-start;
	margin-left: 10px;
	align-items: center;
	align-self: center;
	align-content: center;
	color: white;
	font-size: 14px;
	text-align: left;
	font-weight: bold;
}

.sidebar-toggable-item .toggle-click-panel .sidebar-toggable-item-icon-toggle {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-self: center;
	align-content: center;
	color: white;
	margin-top: 4px;
	font-size: 14px;
}

.sidebar-toggable-item .toggle-content-panel {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: center;
	align-content: center;
	width: 90%;
}
.sidebar-toggable-item .toggle-content-panel > div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-self: center;
	align-content: center;
}
