:root {
	--golden-ratio: 61.8%;
}

.primaryCard {
	aspect-ratio: 950/360;
}

.card {
	overflow: hidden;
	position: relative;
	font-family: var(--font-family-ubuntu);
}

.card:hover {
	cursor: pointer;
}

.card:hover .cta {
	background-color: rgb(var(--vinisto-color-green-hover));
}

.heading {
	position: absolute;
	top: 0;
	left: 0;
	padding: 1.5rem 2rem;
	color: rgb(var(--vinisto-color-white));
	max-width: var(--golden-ratio);
	z-index: 1;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.title {
	font-size: 1.875rem;
	font-weight: 500;
	line-height: 1.16667;
	margin-bottom: 0.75rem;
}

.subtitle {
	font-size: 1rem;
	line-height: 1.3125;
	font-family: var(--font-family-roboto);
}

.cta {
	position: absolute;
	bottom: 1.5rem;
	left: 2rem;
	font-size: 1.125rem;
	line-height: 1;
	font-weight: 500;
	color: rgb(var(--vinisto-color-white));
	padding: 0.566rem 1rem;
	background-color: rgb(var(--vinisto-color-green));
	z-index: 1;
	transition: background-color 0.3s ease-in-out;
}

.secondaryCard .heading {
	padding: 1.125rem 1.5rem;
}

.secondaryCard .title {
	font-size: 1.5rem;
	margin-bottom: 0.25rem;
}

.secondaryCard .subtitle {
	font-size: 0.875rem;
}

.secondaryCard .cta {
	left: 1.5rem;
}

.imgContainer {
	position: absolute;
	display: block;
	inset: 0;
}

.img {
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

:global(.banner-image-preview--mobile) .primaryCard,
:global(.banner-image-preview--mobile) .card::after {
	max-width: 360px;
	aspect-ratio: 500/242;
}

:global(.banner-image-preview--mobile) .subtitle {
	font-size: 0.875rem;
}

:global(.banner-image-preview--mobile) .heading {
	max-width: 80%;
	padding: 1rem 1.25rem;
}

:global(.banner-image-preview--mobile) .title {
	font-size: 1.25rem;
	margin-bottom: 0.333rem;
}

:global(.banner-image-preview--mobile) .cta {
	bottom: 1.25rem;
	left: 1.25rem;
	font-size: 1rem;
	padding: 0.333rem 0.75rem;
}
