.container {
	max-width: 66ch;
	color: rgb(var(--vinisto-color-darker-gray));
}

.description {
	font-weight: 300;
	margin-bottom: 1.5rem;
}

.emphasized {
	font-weight: 500;
	color: rgb(var(--vinisto-color-green));
}

.vinistoLogo {
	height: 1em;
	width: auto;
}

.emphasizedLabel {
	font-size: 0.875rem;
	position: relative;
	top: -0.0875rem;
}

.readonlyWrapper {
	pointer-events: none;
}

.readonlyInput {
	background-color: rgba(var(--vinisto-color-darker-gray), 0.05);
}

.links {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 0.875rem;
}
