.component {
	display: grid;
	font-size: 1rem;
	color: rgb(var(--vinisto-color-darker-gray));
	line-height: 1.75;
	border-top: 1px solid rgba(var(--vinisto-color-darker-gray), 0.2);
	padding-top: 0.75rem;
	padding-bottom: 1rem;
}

.title {
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
	text-align: center;
	font-family: var(--font-family-ubuntu);
	overflow: hidden;
}

.description {
	line-height: 1.75;
	display: -webkit-box;
  -webkit-box-orient: vertical;
	overflow-y: hidden;
}

.articles {
	display: grid;
	column-gap: 1.5rem;
	row-gap: 1.5rem;
}

.restArticles {
	display: grid;
	grid-template-rows: 0fr;
	transition: 0.3s grid-template-rows ease;
}

.restArticles .articles {
	overflow: hidden;
}

.restArticles.expanded {
	grid-template-rows: 1fr;
}

.articles.columns_1 {
	grid-template-columns: 1fr;
}

.articles.columns_2 {
	grid-template-columns: repeat(2, 1fr);
}

.articles.columns_3 {
	grid-template-columns: repeat(3, 1fr);
}

.articles.columns_4 {
	grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 768px) {
	.articles.columns_3,
	.articles.columns_4 {
		grid-template-columns: repeat(2, 1fr);
	}
}

.arrowDown {
	width: 1rem;
	height: auto;
	transition: transform 0.3s ease-in-out;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.arrowDown.rotated {
	transform: rotate(180deg);
}
