.textElement.withContainer {
	margin: 5.25rem 0;
}

.textElement {
	margin-bottom: 0.75rem;
}

.textElement.withBackground {
	padding: 0.75rem;
}

.text a {
	color: rgb(var(--vinisto-color-green));
}

.text,
.text p,
.text li {
	font-family: var(--font-family-roboto);
	font-size: 0.875rem;
	font-weight: 300;
	line-height: 1.5;
	color: rgb(var(--vinisto-color-darker-gray));
}

.text h2 {
	font-family: var(--font-family-ubuntu);
	font-size: 1.5rem;
	font-weight: 700;
	color: rgb(var(--vinisto-color-wine));
	margin-bottom: 2.5rem;
}

.text h3 {
	font-family: var(--font-family-ubuntu);
	font-weight: 700;
	font-size: 1.25rem;
	color: rgb(var(--vinisto-color-darker-gray));
	margin-bottom: 1.5rem;
}

.text table {
	width: 100%;
}

.text table tr {
	border-bottom: 1px solid rgb(var(--vinisto-color-golden));
	transition: background-color 0.3s ease;
}

.text table tr:hover {
	background-color: rgb(var(--vinisto-color-lighter-gray));
}

.text table tr td {
	padding: 0.75rem;
	font-size: 0.875rem;
}

.text table tr td:first-child {
	padding-left: 2.5625rem;
}

.text table tr td:last-child {
	padding-right: 2.5625rem;
}

.text table a {
	font-weight: 300;
	color: rgb(var(--vinisto-color-green));
}

@media (min-width: 1200px) {
	.text table a:hover {
		color: rgb(var(--vinisto-color-green));
		font-weight: 700;
		text-decoration: underline;
	}
}

.text blockquote {
	border-left: 0.625rem solid rgb(var(--vinisto-color-green));
	background-color: rgb(var(--vinisto-color-lighter-green));
	padding: 1.1875rem 1rem;
}

.text blockquote,
.text blockquote p,
.text blockquote li {
	font-size: 1rem;
	font-style: italic;
	font-weight: 300;
	line-height: 1.3;
	color: rgb(var(--vinisto-color-darker-gray));
}

.text blockquote p:last-child,
.text blockquote li:last-child,
.text blockquote ul:last-child {
	margin-bottom: 0;
}

.text :global(.btn) {
	display: inline-block;
	font-family: var(--font-family-ubuntu);
	font-size: 1.125rem;
	font-weight: 500;
	color: rgb(var(--vinisto-color-white));
	background-color: rgb(var(--vinisto-color-wine-red));
	border-radius: 0;
	min-width: 17.1875rem;
	padding: 0.875rem;
	margin: 1.3125rem 0;
}

.text strong {
	font-weight: 500;
}

.text.readMoreWrap {
	--read-more-line-height: 2;
	position: relative;
	font-family: var(--font-family-roboto);
	font-size: 0.875rem;
	font-weight: 400;
	line-height: var(--read-more-line-height);
	white-space: pre-wrap;
	word-break: break-word;
	margin-bottom: 1.5rem;
}

.readMoreLink {
	position: relative;
	display: block;
	width: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
	margin-top: 1rem;
	color: rgb(var(--vinisto-color-green));
	line-height: var(--read-more-line-height);
	background-color: transparent;
	border: none;
}

.readMoreLink:hover {
	color: rgb(var(--vinisto-color-green));
	text-decoration: underline;
}

.readMoreWrap.preview .readMoreLink::before {
	display: block;
	content: '';
	position: absolute;
	left: 0;
	bottom: 100%;
	width: 100%;
	height: 2.25rem;
	background: rgb(var(--read-more-background));
	background: linear-gradient(
		0deg,
		rgba(var(--read-more-background), 1) 0%,
		rgba(var(--read-more-background), 0) 100%
	);
}

.readMoreWrap.preview .readMoreLink::after {
	rotate: 90deg;
	top: 100%;
}

.readMoreWrap.preview .readMoreLink {
	margin-top: 0;
}

.readMoreLink::after {
	display: block;
	content: '';
	background: url('/assets/images/arrow-down-green.svg') no-repeat 0 0;
	position: absolute;
	left: 50%;
	margin-top: -3px;
	margin-left: -11px;
	width: 20px;
	height: 19px;
	rotate: 270deg;
	top: auto;
	bottom: 100%;
}

.readMoreWrap > span {
	font-size: 0.875rem;
	line-height: var(--read-more-line-height);
}

.readMoreWrap.preview > span {
	word-break: break-word;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	line-clamp: 3;
	-webkit-line-clamp: 3;
}

@media (min-width: 1200px) {
	.textElement.onlyElementInColumns .text :global(.table) {
		padding-left: 3rem;
	}
}

@media (max-width: 1199.98px) {
	.textElement.withContainer {
		margin: 2rem 0;
	}

	.text blockquote {
		padding: 1rem 0.875rem;
	}

	.text blockquote,
	.text blockquote p,
	.text blockquote li {
		font-size: 0.875rem;
	}

	.text h2 {
		font-size: 1.5rem;
		margin-bottom: 1.875rem;
	}

	.text h3 {
		font-size: 1.125rem;
	}

	.text :global(.btn) {
		font-size: 1rem;
		min-width: 15rem;
		padding: 0.625rem;
		margin: 1rem 0;
	}
}
