.list {
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid rgba(var(--vinisto-color-darker-gray), 0.25);
}

.list:not(.cartTitle) > div:not(:last-child) {
	border-bottom: 1px solid rgba(var(--vinisto-color-darker-gray), 0.1);
}

.list > div {
	padding: 0.1rem 0;
}

.list > label {
	font-size: 0.8125rem !important;
}

.heading {
	font-family: var(--font-family-ubuntu);
	font-size: 0.875rem;
	font-weight: 500;
	margin-bottom: 0.75rem;
}

.productDetailTitleHeading,
.cartTitleHeading {
	font-family: var(--font-family-ubuntu);
	font-size: 0.875rem;
	font-weight: 500;
	margin-bottom: 0.75rem;
}

.productDetailTitle > div {
	border-bottom: none !important;
}

.cartTitle * {
	font-weight: 400;
}

.cartTitle {
	border-bottom: none;
}

@media (max-width: 1199.98px) {
	.productDetailTitleHeading,
	.cartTitleHeading {
		color: rgb(var(--vinisto-color-darker-gray));
		font-size: 0.75rem;
		font-weight: 500;
		margin-bottom: 0.5rem;
	}

	.list:not(.cartTitle) > div:not(:last-child) {
		border-bottom: none;
	}

	.list > div {
		padding: 0;
	}
}
