.goBackButton {
	font-family: var(--font-family-ubuntu);
	font-size: 1.125rem;
	font-weight: 500;
	color: rgb(var(--vinisto-color-darker-gray));
	text-decoration: none;
	padding: 0;
}

@media (min-width: 1200px) {
	.goBackButton:hover {
		text-decoration: underline;
	}
}

@media (max-width: 1199.98px) {
	.basketContainer {
		flex-direction: column;
		gap: 0;
	}

	.goBackButton {
		font-size: 0.875rem;
	}
}

:is(.goBackButton):focus-visible {
	outline: 2px solid rgb(var(--vinisto-color-green), 0.75);
}