.warningContainer {
	background-color: rgba(255, 0, 16, 0.15);
}

.warningText {
	color: rgb(var(--vinisto-color-black));
}

.warningLink, .warningLink:hover, .warningLink:active, .warningLink:visited {
	color: rgb(255, 0, 16);
}
