.items {
	margin: 0.625rem 0 1.875rem;
}

.footer {
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	align-items: flex-end;
	padding-top: 0.5rem;
}

.pricesContainer {
	color: rgb(var(--vinisto-color-darker-gray));
	font-family: var(--font-family-ubuntu);
	font-size: 0.75rem;
	font-weight: 300;
	margin-bottom: 1.8rem;
}

.priceContainer {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.075rem;
}

.priceWithVatTitle {
	font-weight: 500;
}

.priceWithVat {
	color: rgb(var(--vinisto-color-red));
	font-size: 1rem;
	font-weight: 500;
}

.ctaButton {
	padding-inline: 3.375rem;
	padding-block: 0.875rem;
	font-size: 1.125rem;
	font-weight: 500;
	white-space: nowrap;
	margin-left: 2.5rem;
}

@media (max-width: 767.98px) {
	.footer {
		display: flex;
		flex-direction: column;
    align-items: center;
		padding-top: 0;
	}

  .footerMainContent {
    width: 100%;
  }

	.backToShoppingButton {
		display: none;
	}

	.ctaButton {
    width: 100%;
		margin-left: 0;
    font-size: 0.9375rem;
    padding-block: 0.4rem;
	}
}
