.register-process {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}
.register-process__body {
	flex: 1 1 100%;
}
.register-process__ico-wrap {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	align-items: flex-start;
	margin-top: 0.625rem;
}
.register-process__ico-wrap input {
	padding: 0.3125rem 0.75rem;
}
.register-process__input-wrap {
	width: 100%;
	max-width: 320px;
}
.register-process__input-wrap.code {
	max-width: 100px;
}
.register-process__bank-wrap {
	display: flex;
	gap: 0.5rem;
}
