.component {
	color: rgb(var(--vinisto-color-darker-gray));
	border: 1px solid rgb(var(--vinisto-color-lighter-gray));
	padding: 2.5rem;
	display: flex;
	gap: 2rem;
	margin-bottom: 2rem;
	justify-content: center;
}

.icon {
	height: auto;
	width: 1.7rem;
}

.title {
	font-size: 1rem;
	font-weight: 500;
	padding-right: 1rem;
	margin-bottom: 0.2rem;
}

.info {
	font-size: 0.875rem;
	font-weight: 300;
}

@media (min-width: 768px) {
	.component {
		display: inline-flex;
		justify-content: flex-start;
	}
}
