.userHeaderWrap {
	font-family: var(--font-family-ubuntu);
	font-size: 0.875rem;
	font-weight: 400;
	color: rgb(var(--vinisto-color-darker-gray));

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.userGrid {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	gap: 0 0.75rem;
	grid-template-areas:
		'nickname name'
		'nickname email';
	color: rgb(var(--vinisto-color-darker-gray));
}

.userGrid:hover {
	color: rgb(var(--vinisto-color-darker-gray));
}

.nickname {
	grid-area: nickname;
	display: flex;
	align-items: center;
}

.name {
	grid-area: name;
	font-size: 1.125rem;
	font-weight: 700;
	text-decoration: underline;
}

.email {
	grid-area: email;
}

.nick {
	--nick-size: 2.625rem;

	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(var(--vinisto-color-green));
	color: rgb(var(--vinisto-color-white));
	width: var(--nick-size);
	height: var(--nick-size);
	border-radius: 50%;
}

@media (min-width: 1200px) {
	.userHeaderWrap {
		justify-content: flex-start;
		gap: 1.5rem;
	}

	.logOutIcon {
		height: 1.75rem;
		width: 1.75rem;
	}
}
