.breadcrumbs {
	margin-top: 1rem;
	margin-bottom: 0.25rem;
	font-family: var(--font-family-ubuntu);
	font-size: 0.75rem;
}

.breadcrumb {
	font-weight: 500;
	color: rgb(var(--vinisto-color-darker-gray));
	text-decoration: underline;
}

.breadcrumbArrow {
	font-weight: 400;
	color: rgb(var(--vinisto-color-darker-gray));
	margin: 0 0.25rem;
}

.breadcrumb:hover {
	color: rgb(var(--vinisto-color-darker-gray));
}
