.component {
	display: flex;
	flex-direction: column;
	padding-bottom: 1.5rem;
}

.summary {
	padding-top: 0.5rem;
	border-top: 1px solid rgba(var(--vinisto-color), 0.4);
	font-size: 0.825rem;
}

.form {
	padding-bottom: 1.5rem;
}

@media (min-width: 1200px) {
	.component {
		flex-direction: row;
	}

	.form {
		width: 75%;
		padding-right: 1rem;
	}

	.summary {
		border-top: none;
		border-left: 1px solid rgba(var(--vinisto-color), 0.4);
		padding-left: 1rem;
	}
}

.strong {
	font-weight: 600;
	color: rgb(var(--vinisto-color));
}

.itemsToApproveHeading {
	font-size: 1rem;
}

.radio {
	display: flex;
	margin-bottom: 1.375rem;
}

.radio input {
	appearance: none;
}

.radio label:not(:first-of-type) {
	border-left-color: transparent;
}

.radio label:first-of-type {
	border-top-left-radius: 0.33rem;
	border-bottom-left-radius: 0.33rem;
}

.radio label:last-of-type {
	border-top-right-radius: 0.33rem;
	border-bottom-right-radius: 0.33rem;
}

.radio label {
	padding: 0.5rem 1rem;
	border: 1px solid #ced4da;
	flex: 1 0 auto;
	text-align: center;
	cursor: pointer;
}

.radio input:checked + label {
	color: rgb(var(--vinisto-color-white));
	background-color: rgb(var(--vinisto-color));
}

.credibilityInfoComponent {
	font-size: 0.875rem;
	font-weight: 300;
  display: flex;
  gap: 0.5rem;
	margin-bottom: 1rem;
}
