.emptyDeliveryList {
	text-align: center;
	padding: 1.25rem;
}

.items {
	margin-bottom: 1.875rem;
}

.heading {
	font-family: var(--font-family-ubuntu);
	font-size: 1.5rem;
	font-weight: 300;
	color: rgb(var(--vinisto-color-darker-gray));
	margin-bottom: 0.625rem;
}

.deliveriesListWrapper {
	margin-bottom: 1.875rem;
}

.hiddenPayment {
	display: none;
}

.singlePayment {
	border-top: 1px solid rgb(var(--vinisto-color-lighter-gray)) !important;
}

.changeDeliveryButton {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-family: var(--font-family-ubuntu);
	margin-top: 0.625rem;
	padding: 0.25rem 0.5rem;
	color: rgb(var(--vinisto-color-darker-gray));
	transition: background-color 0.3s ease-in-out;
	margin-left: auto;
}

.changeDeliveryButton svg path {
	stroke: rgb(var(--vinisto-color-darker-gray));
}

.changeDeliveryButton:hover {
	background-color: rgb(var(--vinisto-color-lighter-gray));
}

@media (max-width: 1199.98px) {
	.heading {
		font-size: 1rem;
		font-weight: 500;
	}

	.changeDeliveryButton {
		font-size: 0.875rem;
	}
}

:is(.changeDeliveryButton):focus-visible {
	outline: 2px solid rgba(var(--vinisto-color-green), 0.75);
}
