.product-detail-category-list {
	width: auto;
	display: inline-block;
	margin-right: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
	vertical-align: top;
}

.product-detail-category-list .detail-category-list-title {
	height: 40px;
	min-width: 260px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	align-self: center;
	font-weight: bold;
	font-size: 14px;
}

.product-detail-category-list .product-category {
	width: calc(100% - 20px);
	height: 40px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	align-self: center;
}

.product-detail-category-list .product-category .product-category-icon {
	height: 20px;
	width: 22px;
	min-width: 22px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	align-self: flex-start;
	font-size: 14px !important;
	color: rgb(57, 0, 68);
}

.product-detail-category-list .product-category .product-category-label {
	height: 40px;
	min-width: 220px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	align-self: flex-start;
	padding-left: 10px;
	font-size: 14px;
}
