.countrySelector {
	display: flex;
	gap: 0.5rem;
	margin-bottom: 0.5rem;
}

.countrySelector button {
	flex: 0 0 110px;
	text-align: center;
	justify-content: center;
	padding: 0.5rem 0.75rem;
	transition: none;
}
