.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: var(--font-family-roboto);
	font-size: 0.8125rem;
	padding: 0 0.25rem;
}

.container[href] .title::before {
	content: '';
	position: absolute;
	bottom: -1px;
	left: 50%;
	width: 0;
	height: 1px;
	background-color: currentColor;
	transition: 0.25s linear;
	transform: translateX(-50%);
}

.container[href]:hover .title::before {
	width: 100%;
}

.container[href]:hover .title,
.container[href]:hover .subtitle,
.container[href]:hover .title::before {
	opacity: 0.75;
}

.skeletonContainer {
	width: 100%;
}

.imageWrap {
	width: 40px;
	height: 40px;
	margin-bottom: 0.25rem;
}

.image {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.title {
	font-weight: 500;
	position: relative;
	line-height: 1.5;
	margin-bottom: 0.125rem;
	font-size: 0.8125rem;
}

.subtitle {
	font-weight: 400;
	font-size: 0.75rem;
}

.title,
.subtitle {
	color: rgb(var(--vinisto-color-darker-gray));
	text-align: center;
	max-width: 24ch;
	text-wrap: balance;
}

.container.productDetailUspBanner {
	display: inline-grid;
	grid-template-columns: 30px 1fr;
	grid-template-rows: 1fr auto;
	grid-column-gap: 0.75rem;
	grid-row-gap: 0px;
	width: 50%;
	margin-top: 0;
	margin-bottom: 0.75rem;
}

.container.productDetailUspBanner:last-child {
	margin-bottom: 0;
}

.container.productDetailUspBanner .imageWrap {
	grid-area: 1 / 1 / 3 / 2;
	width: 30px;
	height: 30px;
	margin-bottom: auto;
}

.container.productDetailUspBanner .title,
.container.productDetailUspBanner .subtitle {
	text-align: left;
	max-width: initial;
	font-size: 0.75rem;
}

.container.productDetailUspBanner .title {
	grid-area: 1 / 2 / 2 / 3;
	margin-bottom: 0.125rem;
	font-family: var(--font-family-ubuntu);
	max-width: fit-content;
	font-size: 0.8125rem;
}

.container.productDetailUspBanner .subtitle {
	font-family: var(--font-family-ubuntu);
	grid-area: 2 / 2 / 3 / 3;
}

@media (max-width: 1199.98px) {
	.container.productDetailUspBanner .title,
	.container.productDetailUspBanner .subtitle {
		font-size: 0.625rem;
		line-height: 1.083;
	}
}

@media (min-width: 768px) {
	.items_2 {
		flex-basis: 50%;
	}

	.items_3 {
		flex-basis: 33%;
	}

	.items_4 {
		flex-basis: 25%;
	}

	.items_5 {
		flex-basis: 20%;
	}

	.items_6,
	.items_8 {
		flex-basis: 16.6%;
	}

	.items_7 {
		flex-basis: 14.2857%;
	}
}

@media (max-width: 767.98px) {
	.container {
		flex: 1 1 120px;
		max-width: 170px;
	}

	.imageWrap {
		width: 40px;
		height: 40px;
	}

	.container.productDetailUspBanner {
		display: grid;
		width: 100%;
		max-width: 100%;
		margin-bottom: 0.5rem;
	}

	.title {
		font-size: 0.75rem;
	}

	.subtitle {
		font-size: 0.625rem;
	}
	.imageWrap {
		width: 30px;
		height: 30px;
	}
}
