.userSectionHeader {
	font-family: var(--font-family-ubuntu);
	font-size: 0.875rem;
	font-weight: 500;
	color: rgb(var(--vinisto-color-darker-gray));
	margin-bottom: 0.5rem;
}

.userSectionHeader::after {
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	background-color: rgb(var(--vinisto-color-darker-gray));
	margin-top: 0.625rem;
}

.userSectionMainHeader {
	font-family: var(--font-family-ubuntu);
	font-size: 1.375rem;
	font-weight: 700;
	color: rgb(var(--vinisto-color-darker-gray));
	margin-bottom: 1rem;
}

.activeVinistoPlus {
	color: rgb(var(--vinisto-color-green));
	font-weight: 700;
}

@media (min-width: 1200px) {
	.userSectionHeader {
		font-size: 1rem;
		padding-left: 0.5rem;
	}

	.userSectionHeader::after {
		margin-left: -0.5rem;
		width: calc(100% + 0.5rem);
		background-color: rgba(var(--vinisto-color-darker-gray), 0.5);
	}

	.userSectionMainHeader {
		font-size: 1.375rem;
	}
}
