.file-upload {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.file-upload__label {
	font-family: 'Segoe UI', sans-serif;
	font-size: 1rem;
	line-height: 1.3125rem;
	font-weight: 700;
}
.file-upload__input {
	height: 30px;
	max-width: 420px;
	pointer-events: none;
}
.file-upload__button {
	height: 30px;
	width: 137px;
	text-align: center;
	font-family: 'Segoe UI', sans-serif;
	font-size: 1rem;
	line-height: 1.3125rem;
	padding: 1px 15px !important;
}
