.reviewBtn:global(.vinisto-btn) {
	width: auto;
	padding: 0.5rem 1rem;
	white-space: nowrap;
	font-size: 1rem;
	background-color: rgb(var(--vinisto-color-wine-red));
	color: rgb(var(--vinisto-color-white));
}

.reviewBtn:global(.vinisto-btn):hover {
	opacity: 0.85;
}

.reviewSection {
	font-family: var(--font-family-ubuntu);
	margin-bottom: 1rem;
}

.ratingMainHeading {
	font-size: 1.5rem;
	font-weight: 700;
	color: rgb(var(--vinisto-color-darker-gray));
}

.ratingMainHeadingWrap {
	display: flex;
}

.ratingSummaryContainer {
	display: flex;
	align-items: center;
	margin-bottom: 0.5rem;
	margin-bottom: 2rem;
	gap: 2rem;
}

.ratingSummary {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.ratingSummaryTotalScore {
	font-size: 3.875rem;
	margin-bottom: 0.5rem;
	font-weight: 600;
	text-align: center;
}

.ratingSummaryCount {
	font-family: var(--font-family-roboto);
	text-align: center;
	font-size: 1rem;
}

.ratingSummaryStars {
	text-align: center;
}

.ratingTable {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	max-width: 33%;
	gap: 0.33rem;
}

.ratingTableRow {
	display: inline-flex;
	align-items: center;
}

.ratingTableRow :global(.vinisto-slider) {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	display: flex;
	align-items: center;
}

.ratingDescription {
	font-family: var(--font-family-roboto);
	font-size: 1rem;
	margin-right: 0.5rem;
	margin-left: 0.5rem;
	white-space: nowrap;
}

.ratingSlider {
	overflow: hidden;
}

.ratingSliderTrack {
	background-color: rgba(var(--vinisto-color-wine-red), 0.05);
	height: 0.5rem;
	border-radius: 0;
	transform: translateX(-1px);
}

.ratingSliderThumb {
	background-color: rgb(var(--vinisto-color-wine-red));
	border-radius: 0;
}

.ratingSliderTrack:first-child {
	background-color: rgb(var(--vinisto-color-wine-red));
}

@media (min-width: 1200px) {
	.ratingMainHeadingWrap {
		margin-top: 1.5rem;
	}
}

@media (max-width: 1199.98px) {
	.reviewBtn:global(.vinisto-btn) {
		font-size: 0.875rem;
	}

	.ratingMainHeading {
		font-size: 1.25rem;
		text-align: center;
	}

	.ratingSummaryContainer {
		justify-content: flex-start;
		gap: 1rem;
		margin-bottom: 1rem;
	}

	.ratingSummaryTotalScore {
		font-size: 3rem;
	}

	.ratingSummaryCount {
		font-size: 0.875rem;
	}

	.ratingTable {
		gap: 0.2rem;
		max-width: min(50%, 240px);
	}

	.ratingDescription {
		font-size: 0.875rem;
	}

	.ratingSliderTrack {
		height: 0.1875rem;
	}

	.reviewSection {
		margin-bottom: 0;
	}
}

@media (max-width: 600px) {
	.ratingSummaryContainer {
		justify-content: center;
	}
}
