.orderLink {
	display: block;
	font-family: var(--font-family-roboto);
	color: rgb(var(--vinisto-color-black));
	text-decoration: underline;
}

@media (min-width: 1200px) {
	.orderLink:hover {
		text-decoration: none;
		color: rgb(var(--vinisto-color-darker-gray));
	}
}

@media (max-width: 1199.98px) {
	.orderLink {
		font-size: 0.75rem;
	}
}
