.name {
	font-family: var(--font-family-roboto);
	font-size: 1rem;
	font-weight: 500;
	color: rgb(var(--vinisto-color-black));
}

.price {
	font-family: var(--font-family-ubuntu);
	font-size: 1rem;
	font-weight: 500;
	color: rgb(var(--vinisto-color-darker-gray));
	text-align: right;
}

.payment {
	padding: 2rem 1rem;
}

@media (max-width: 1199.98px) {
	.name {
		font-size: 0.75rem;
		font-weight: 400;
	}

	.price {
		font-size: 0.75rem;
		font-weight: 400;
	}
}

@media (max-width: 767.98px) {
	.price {
		text-align: right;
	}
}
