.activeFilters {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0.75rem;
	border-left: 1px solid rgba(var(--vinisto-color-darker-gray), 0.5);
}

.activeFiltersWrap {
	padding: 0 0.75rem;
}

.forceSingleRow {
	flex-wrap: wrap;
}

.forceSingleRow,
.forceSingleRow li,
.forceSingleRow ul {
	border-left-color: transparent;
	margin-left: -1px;
}

@media (max-width: 1199.98px) {
	.activeFiltersWrap {
		padding: 0;
	}
}
