.component {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.3rem 1rem;
  font-size: 0.75rem;
  color: rgb(var(--vinisto-color-darker-gray));
  background-color: rgb(var(--vinisto-color-white));
  margin-bottom: 0.5rem;
}

.icon {
  width: 21px
}

.text {
  font-weight: 300;
  position: relative;
  top: 2px;
}

.text .bold {
  font-weight: 500;
}

.text .highlight {
  color: rgb(var(--vinisto-color-red));
} 

.time {
  font-size: 0.9375rem;
}