.component {
	padding-top: 0.75rem;
	border-top: 1px solid rgba(var(--vinisto-color-darker-gray), 0.2);
	margin-bottom: 1rem;
	/* 
   * This is used to make opened QuantityBox smaller -
   * - not a solution I like, but it is virtually impossible
   * doing another way without substantial QuantityBox refactor
   */
	--vinisto-count-height: 1.75rem;
}

.title {
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
	text-align: center;
	font-family: var(--font-family-ubuntu);
	overflow: hidden;
	color: rgb(var(--vinisto-color-darker-gray));
	margin-bottom: 1.5rem;
}

.items {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}

@media (max-width: 1200px) {
	.items {
		display: grid;
		grid-template-columns: 1fr;
		gap: 1rem;
	}
}

.item {
	border: 1px solid rgba(var(--vinisto-color-darker-gray), 0.15);
}


.item  a:hover {
  text-decoration: underline;
}