.editPrice {
	background-color: rgb(var(--vinisto-color-white));
	border-radius: 4px;
	padding: 30px;
	box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);
}

.editPrice.inline {
	box-shadow: none;
	padding: 0;
}

.title {
	font-size: 24px;
	font-weight: bold;
	color: rgba(40, 0, 68, 1);
	user-select: none;
	margin: 0 0 0.5rem 0;
}

.message {
	color: #666;
}

.button {
	display: inline-block;
	padding: 6px 18px;
	font-size: 12px;
	font-weight: 700;
	border-radius: 4px;
	color: rgb(var(--vinisto-color-white));
	border: none;
	background: linear-gradient(
		15deg,
		rgba(40, 0, 68, 1) 0%,
		rgba(57, 0, 68, 1) 39%,
		rgba(57, 0, 68, 1) 63%,
		rgba(40, 0, 68, 1) 100%
	) !important;
	margin-right: 10px;
}

.button:disabled {
	opacity: 0.6;
	cursor: not-allowed;
}
