.hamburgerIcon {
	position: relative;
	width: 35px;
	height: 25px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.line {
	width: 35px;
	height: 5px;
	background-color: rgb(57, 0, 68);
	border-radius: 10px;
	transition: all 0.3s ease-in-out;
	transform-origin: center;
}

@media (max-width: 600px) {
	.active .line {
		background-color: white;
	}
}

.top {
	position: absolute;
	top: 0;
}

.middle {
	position: absolute;
	top: 10px; /* 5px (height of first line) + 4px (gap) = 9px + 1px adjustment for exact center */
}

.bottom {
	position: absolute;
	top: 20px; /* 5px + 4px + 5px + 4px = 18px + 2px adjustment for visual balance */
}

.active .top {
	transform: translateY(10px) rotate(45deg);
}

.active .middle {
	opacity: 0;
	transform: translateX(-16px);
}

.active .bottom {
	transform: translateY(-10px) rotate(-45deg);
}
