.vinisto-admin-burger {
	position: absolute;
	top: 0px;
	left: 10px;
	width: 60px;
	height: 60px;
	z-index: 299;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	align-self: center;
	justify-content: center;
}

.vinisto-admin-burger button > div {
	height: 20px;
	z-index: 99;
	box-shadow: 0px 0px 0.5px 22px rgba(40, 0, 68, 1);
	background: linear-gradient(
		15deg,
		rgba(40, 0, 68, 1) 0%,
		rgba(57, 0, 68, 1) 39%,
		rgba(57, 0, 68, 1) 63%,
		rgba(40, 0, 68, 1) 100%
	);
}

.vinisto-admin-burger.is-opened button > div {
	z-index: 99;
}

.vinisto-admin-burger.is-opened {
	left: 312px;
	top: 0px;
}

.vinisto-admin-burger button {
	border-radius: 2px;
	height: 30px;
}
