.heading {
	font-family: var(--font-family-ubuntu);
	font-size: 1.25rem;
	font-weight: 700;
	color: rgb(var(--vinisto-color-darker-gray));
	margin-bottom: 2rem;
}

.param {
	font-family: var(--font-family-roboto);
	font-size: 0.875rem;
	border-bottom: 1px solid rgb(var(--vinisto-color-golden));
	padding: 0.75rem 2.5625rem;
	background-color: transparent;
	transition: background-color 0.3s ease;
}

.paramName {
	display: inline-block;
	font-weight: 700;
	color: rgb(var(--vinisto-color-darker-gray));
	width: 18.75rem;
}

.paramValue {
	display: inline-block;
	font-weight: 300;
	color: rgb(var(--vinisto-color-darker-gray));
}

.paramValueLink {
	display: inline-block;
	font-weight: 300;
	color: rgb(var(--vinisto-color-green));
}

@media (min-width: 1200px) {
	.param:hover {
		background-color: rgb(var(--vinisto-color-lighter-gray));
	}

	.paramValueLink:hover {
		color: rgb(var(--vinisto-color-green));
		font-weight: 700;
		text-decoration: underline;
	}
}

@media (max-width: 1199.98px) {
	.heading {
		font-size: 1.25rem;
		margin-bottom: 1.25rem;
	}

	.param {
		padding: 0.625rem 1.25rem;
	}
}
