.prices {
	text-align: right;
	margin-bottom: 0.125rem;
}

.originalPrice {
	text-decoration: line-through;
	color: rgb(var(--vinisto-color-darker-gray));
	font-size: 0.5625rem;
	margin-right: 0.3125rem;
}

.priceWithVat {
	color: rgb(var(--vinisto-color-red));
	font-size: 1rem;
	font-weight: 500;
}

.priceWithoutVat {
	color: rgb(var(--vinisto-color-darker-gray));
	font-size: 0.5625rem;
	text-align: right;
}
