.subMenuItemLink {
	font-family: var(--font-family-roboto);
	font-size: 0.75rem;
	font-weight: 500;
	display: flex;
	align-items: center;
	gap: 0.75rem;
	color: rgb(var(--vinisto-color-darker-gray));
	border: none;
	background-color: transparent;
}

.imgWrap {
	--wrap-size: 3rem;
	width: var(--wrap-size);
	height: var(--wrap-size);
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(var(--vinisto-color-selected-green2));
	box-shadow: 0px 2px 4px rgba(var(--vinisto-color-darker-gray), 0.1);
}

.image {
	--image-size: 2.25rem;
	margin-right: 0.375rem;
	width: var(--image-size);
	height: var(--image-size);
	object-fit: contain;
}

.icon {
	--icon-size: 1.25rem;
	--image-size: 2.25rem;
	width: 100%;
	height: 100%;
	max-width: var(--icon-size);
	max-height: var(--icon-size);
	margin: calc((var(--image-size) - var(--icon-size)) / 2);
}

.plusIcon {
	font-family: var(--font-family-roboto);
	font-size: 1.875rem;
	font-weight: 500;
	color: rgb(var(--vinisto-color-green));
}
