.pretitle {
	font-family: var(--font-family-roboto);
	font-size: 3.125rem;
	font-weight: 100;
	line-height: 1;
	color: rgb(var(--vinisto-color-lighter-gray2));
	margin-bottom: 0;
}

@media (max-width: 1199.98px) {
	.pretitle {
		font-size: 1.5625rem;
	}
}
