.productsWrapper {
	background-color: rgb(var(--vinisto-color-green));
	font-family: var(--font-family-ubuntu);
}

.productsWrapper :global(.row) {
	margin-right: 0;
	margin-left: 0;
}

.navItem {
	flex: 1 1 auto;
	z-index: 10;
	height: 100%;
}

.desktopNavbar:global(.navbar-nav) {
	gap: 0;
	flex-direction: row;
	padding-right: 0;
}

.desktopNavbar > .navItem > :global(.nav-link),
.desktopNavbar > .navItem > :global(.nav-link) > span {
	width: 100%;
	text-align: center;
}
