.vinisto-admin-table--loading {
	min-height: 9.4em;
}
.vinisto-admin-table__loading-overlay {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.vinisto-admin-table__sorting-ico {
	margin-right: 0.4em;
}
.vinisto-admin-table__sorting-ico--faded {
	opacity: 0.4;
}
.vinisto-admin-table__header-cell {
	display: flex;
	gap: 0.25rem;
	justify-content: space-between;
	margin-bottom: 0.5rem;
	line-height: 1;
}
.vinisto-admin-table__header-caption {
	margin-inline-end: 0.75rem;
	line-height: 1.125;
}
.vinisto-admin-table__selection-cell {
	width: 0;
	cursor: default;
	position: relative;
}
.vinisto-admin-table__selection {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.vinisto-admin-table__selection .form-check-input {
	margin-top: 0;
}
.vinisto-admin-table__text-input.form-control,
.vinisto-admin-table__text-input.form-select {
	display: inline-block;
	width: 100%;
}
.vinisto-admin-table .highlight td {
	background-color: rgb(var(--vinisto-color-green-highlight));
}

.vinisto-admin-table .warning td {
	background-color: rgba(var(--vinisto-color-flag-warning), 0.1);
}

.vinisto-admin-table .alert td {
	background-color: rgba(var(--vinisto-color-flag-warning), 0.3);
}

.vinisto-admin-table .movement-up td {
	background-color: rgba(var(--vinisto-color-green), 0.15);
}

.vinisto-admin-table .movement-down td {
	background-color: rgba(var(--vinisto-color-red), 0.12);
}

.vinisto-admin-table .alert td {
	white-space: wrap;
}

/* This is needed to allow inner element to take the full height */
/* https://stackoverflow.com/questions/3215553/make-a-div-fill-an-entire-table-cell */
.vinisto-admin-table thead tr {
	height: 1px;
}
.vinisto-admin-table thead tr > th {
	height: inherit;
}

@-moz-document url-prefix() {
	.vinisto-admin-table thead tr > th {
		height: 100%;
	}
}

.vinisto-admin-table__drag-handle {
	position: relative !important;
	all: unset;
	background-color: transparent;
	padding-right: 0.1rem;
	cursor: move !important;
}

@media (max-width: 767.98px) {
	#page-export-count {
		width: auto;
	}
}
