.subheading {
	display: flex;
	justify-content: space-between;
	gap: 0.75rem;
}

.supplierName {
	font-weight: 700;
}

.suppliersInput {
	max-width: 18.75rem;
}

.suppliersInput :global(.container) {
	padding: 0;
}

.suppliersInput :global(.admin-button-submit) {
	display: none;
}
