.wrapper {
	border-radius: 50%;
	background-color: rgb(var(--vinisto-color-green));
	color: rgb(var(--vinisto-color-white));
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
}

.inverted {
	background-color: rgb(var(--vinisto-color-white));
	color: rgb(var(--vinisto-color-green));
}

.sizeXs {
	width: 1.45rem !important;
	height: 1.45rem !important;
	font-size: 0.65rem !important;
}

.sizeSm {
	width: 2rem !important;
	height: 2rem !important;
	font-size: 0.8rem !important;
}

.sizeMd {
	width: 2.5rem !important;
	height: 2.5rem !important;
	font-size: 1.15rem !important;
}

.sizeLg {
	width: 3rem !important;
	height: 3rem !important;
	font-size: 1.25rem !important;
}

.sizeXl {
	width: 3.5rem !important;
	height: 3.5rem !important;
	font-size: 1.45rem !important;
}

.vipAvatarWrapper {
	position: relative;
}

.vipBadge {
	position: absolute;
	bottom: 0;
	left: 50%;
	background-color: rgb(var(--vinisto-color-light-wine-gray));
	color: rgb(var(--vinisto-color-wine));
	border: 1px dashed rgb(var(--vinisto-color-wine));
	border-radius: 1px;
	font-size: 0.4375rem;
	padding: 0.125rem 0.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1px;
	transform: translate(-50%, 50%);
}

.vipBadge svg {
	--icon-size: 8px;
	width: var(--icon-size);
	height: var(--icon-size);
}

.vipEmblemBadge {
	--left-spacing: 0.5rem;
	position: absolute;
	top: 50%;
	left: 100%;
	width: 1.25rem;
	height: 0.875rem;
	background-color: rgb(var(--vinisto-color-light-wine-gray));
	color: rgb(var(--vinisto-color-wine));
	border: 1px dashed rgb(var(--vinisto-color-wine));
	border-radius: 1px;
	transform: translate(calc(var(--left-spacing) * -1), calc(-50% + 1px));
	z-index: -1;
}

.plus {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(-2px, calc(-50% - 1px));
	font-family: var(--font-family-ubuntu);
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 1;
}

@media (max-width: 1199.98px) {
	.sizeXl {
		width: 2.5rem !important;
		height: 2.5rem !important;
		font-size: 1rem !important;
	}
}
