.vinisto-contest-easter {
	background-image: url('/assets/images/christmas-flakes.svg');
	background-position: 50% 50%;
	background-repeat: repeat-y;
}

.vinisto-contest-easter .vinisto-big-banner__text-wrap {
	gap: 0;
	padding: 0.5rem 0;
	height: 6.125rem;
}

.vinisto-contest-easter__contest-box-left.vinisto-big-banner__img-wrap,
.vinisto-contest-easter__contest-box-right.vinisto-big-banner__img-wrap {
	flex: 0 0 140px;
}

.vinisto-contest-easter__contest-box-left .vinisto-big-banner__img,
.vinisto-contest-easter__contest-box-right .vinisto-big-banner__img {
	top: 100%;
	left: 40%;
	width: 180px;
}

.vinisto-contest-easter__contest-box-right {
	transform: rotate(-56deg);
}

.vinisto-contest-easter__wrap {
	width: 100%;
	max-width: 40.5rem;
	margin: 0 auto;
	font-size: 1.375rem;
	text-align: center;
}

.vinisto-contest-easter__wrap p {
	margin-bottom: 0;
}

.vinisto-contest-easter__wines {
	display: flex;
	gap: 1.5rem;
	flex-wrap: wrap;
	justify-content: center;
	margin: 2.5rem 0 1.5rem;
}

.vinisto-contest-easter__wine {
	flex: 0 0 200px;
	padding: 0.625rem;
	text-align: center;
	font-size: 1.375rem;
	border-radius: 0.625rem;
	transition: box-shadow 0.3s ease-in-out;
}

.vinisto-contest-easter__wine__link {
	display: block;
	margin: 1rem 0;
	font-weight: bold;
	color: rgb(var(--vinisto-color));
	text-decoration: underline;
}

.vinisto-contest-easter__wine__text {
	padding: 0 0.5rem;
	word-break: break-word;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	-webkit-line-clamp: 4;
}

.vinisto-contest-easter__wine:hover {
	box-shadow: 0px 2px 8px 0px rgba(var(--vinisto-color-black), 0.25);
}

.vinisto-contest-easter__rules .accordion-item {
	border: none;
}

.vinisto-contest-easter__rules .accordion-item:first-of-type .accordion-button {
	border-bottom-left-radius: var(--bs-accordion-inner-border-radius);
	border-bottom-right-radius: var(--bs-accordion-inner-border-radius);
}

.vinisto-contest-easter__rules .accordion-button {
	justify-content: center;
	color: rgb(var(--vinisto-color));
	border: 1px solid rgb(var(--vinisto-color));
}

.vinisto-contest-easter__rules .accordion-button:not(.collapsed) {
	border: none;
}

.vinisto-contest-easter__rules .accordion-button::after {
	display: none;
}

.vinisto-contest-easter__btn.vinisto-btn {
	width: 100%;
	margin: 0 0 1.5rem;
	font-size: 1.625rem;
	padding: 0.875rem 1.5rem;
	font-weight: bold;
	border-radius: 0.625rem;
}

.vinisto-contest-easter__container {
	margin-top: 3rem !important;
	margin-bottom: 3.5rem;
}

.vinisto-contest-easter__small {
	font-size: 1.375rem;
	font-style: italic;
	text-align: center;
	margin: 2rem 0;
}

.bg-white {
	background-color: rgb(var(--vinisto-color-white)) !important;
}

.vinisto-big-banner-contest-bottom.vinisto-big-banner
	.vinisto-big-banner__img-wrap {
	flex: 0 0 220px;
}

.vinisto-big-banner-contest-bottom.vinisto-big-banner .vinisto-big-banner__img {
	width: 190px;
}

@media (max-width: 1199.98px) {
	.vinisto-contest-easter .vinisto-big-banner__text-wrap {
		height: auto;
	}

	.vinisto-contest-easter__wrap {
		font-size: 1rem;
	}

	.vinisto-contest-easter__btn.vinisto-btn {
		font-size: 1.375rem;
		padding: 0.5rem 1rem;
	}

	.vinisto-contest-easter__container {
		margin-top: 1rem !important;
		margin-bottom: 1.5rem;
	}

	.vinisto-contest-easter__small {
		font-size: 1rem;
	}
}
