.mobileMenuGrid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0.75rem;
}

.submenu {
	margin-top: 0.5rem;
	background-color: rgb(var(--vinisto-color-selected-green));
	padding: 0.375rem;
	box-shadow: 0px 2px 4px rgba(var(--vinisto-color-darker-gray), 0.15);
	z-index: 1;
	position: relative;
}

.submenuWrap {
	background-color: rgb(var(--vinisto-color-white));
	padding: 0.375rem;
	display: flex;
	flex-direction: column;
	gap: 0.5625rem;
}

.wrap {
	display: grid;
	grid-template-rows: 0fr;
	transition: grid-template-rows 0.3s ease-in-out;
}

.wrap.open {
	grid-template-rows: 1fr;
}

.overflow {
	overflow: hidden;
	margin-left: -0.75rem;
	width: calc(100% + 1.5rem);
}
