.admin-action-button {
	background: linear-gradient(
		15deg,
		rgb(148, 9, 26) 0%,
		rgb(168, 9, 26) 39%,
		rgb(168, 9, 26) 63%,
		rgb(148, 9, 26) 100%
	);
	cursor: pointer !important;
	min-width: 220px;
}

.admin-action-button .action-button-icon {
	font-weight: 700;
	font-size: 18px;
	color: rgb(var(--vinisto-color-white));
	margin-right: 10px;
}

.admin-action-buttons-row {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0.5rem 0;
}
