.tabsWrap {
	display: flex;
	gap: 0.625rem;
	max-width: 100%;
}

.tabs {
	display: flex;
}

.tabWrapper {
	border: 1px solid rgb(var(--vinisto-color-light-border));
	display: flex;
	min-width: 0;
	flex-grow: 0;
}

.tab {
	font-size: 0.875rem;
	font-weight: 300;
	line-height: 1;
	padding: 0.4375rem;
	margin: 0;
	background-color: transparent;
	color: rgb(var(--vinisto-color-darker-gray));
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: background-color 0.2s ease-in-out;
	min-width: 0;
	gap: 0.4rem;
	flex: 1;
	max-width: 9.375rem;
}

/*
 * TODO This is not a good solution, delete this and try to do it in a smarter way
 * I would try css grid and some calculations (width/number of tabs)
 * This would also allow animationg the size changing
 */
@media (min-width: 767.98px) {
	.tabs.up_to_4 .tabWrapper {
		flex-shrink: 0;
		width: 9.375rem;
	}

	.tabs.up_to_6 .tabWrapper {
		flex-shrink: 1;
	}

	.tabs.up_to_8 .tabWrapper {
		flex-shrink: 1;
	}

	.tabs.more_than_8 .tabWrapper {
		flex-shrink: 1;
	}

	.isSummaryDisplayed .tabs.up_to_4 .tabWrapper {
		width: 9.375rem;
	}

	.isSummaryDisplayed .tabs.up_to_6 .tabWrapper {
		max-width: 8rem;
	}

	.isSummaryDisplayed .tabs.up_to_8 .tabWrapper {
		max-width: 6rem;
	}

	.isSummaryDisplayed .tabs.more_than_8 .tabWrapper {
		max-width: 5rem;
	}

	.tabs.up_to_4 .tabWrapper:has(.tab.active),
	.tabs.up_to_6 .tabWrapper:has(.tab.active),
	.tabs.up_to_8 .tabWrapper:has(.tab.active),
	.tabs.more_than_8 .tabWrapper:has(.tab.active) {
		flex-shrink: 0;
		width: 9.375rem;
		max-width: 100%;
	}
}

.tab:not(:last-child) {
	border-right: none;
}

.tab.active,
.tab:hover {
	position: relative;
	background-color: rgb(var(--vinisto-color-lighter-green));
	font-weight: 400;
}

.tab.active::after,
.tab:hover::after {
	content: '';
	display: block;
	width: calc(100% + 0.125rem);
	height: 0.125rem;
	background-color: rgb(var(--vinisto-color-green));
	position: absolute;
	bottom: -0.0625rem;
	left: -0.0625rem;
}

.tabDeleteButton {
	color: rgb(var(--vinisto-color-darker-gray));
	align-items: center;
	display: none;
}

.tabDeleteButton.active {
	display: block;
}

.tabDeleteButton.active:hover,
.tabDeleteButton.active:active,
.tabDeleteButton.active:focus,
.tabDeleteButton.active:focus-visible {
	color: rgb(var(--vinisto-color-green));
}

@media (max-width: 767.98px) {
	.tabs {
		flex: 1;
		min-width: 0;
	}

	.tab,
	.tabWrapper {
		display: flex;
		flex: 1;
		max-width: 100%;
	}

	.tabDeleteButton {
		display: none;
	}
}

.name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.name::after {
	display: block;
	content: attr(data-content);
	font-weight: 500;
	height: 0px;
	color: transparent;
	overflow: hidden;
	visibility: hidden;
}

.count {
	min-width: 1.875rem;
	font-size: 0.875rem;
	font-weight: 300;
	border-radius: 0.1875rem;
	background-color: rgb(var(--vinisto-color-lighter-green));
	color: rgb(var(--vinisto-color-darker-gray));
	text-align: center;
	padding: 0.0625rem 0.125rem;
	align-self: center;
}

.showMore {
	font-family: var(--font-family-ubuntu);
	font-size: 1.125rem;
	font-weight: 500;
	color: rgb(var(--vinisto-color-darker-gray));
	border: 1px solid rgb(var(--vinisto-color-light-border));
	padding: 0 0.5rem;
	height: 100%;
	transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.showMore.opened {
	color: rgb(var(--vinisto-color-green));
	border-color: rgba(var(--vinisto-color-darker-gray), 0.5);
}

.moreTabs {
	position: absolute;
	top: 100%;
	right: 0;
	width: 21rem;
	border: 1px solid rgba(var(--vinisto-color-darker-gray), 0.5);
	background-color: rgb(var(--vinisto-color-white));
	padding: 1.1875rem 0.8125rem 0.875rem;
	z-index: 20;
}

.subheading {
	font-weight: 500;
	font-size: 0.875rem;
	color: rgb(var(--vinisto-color-green));
	margin-bottom: 0.625rem;
}

.subheading.subheadingList {
	margin-top: 0.625rem;
}

.moreTabWrap {
	display: flex;
	align-items: center;
	transition: background-color 0.2s ease-in-out;
	min-width: 0;
}

.moreTab {
	display: flex;
	justify-content: space-between;
	padding: 0.3125rem 0 0.3125rem 0.5625rem;
	width: 100%;
	margin: 0;
	background-color: transparent;
	border: none;
	min-width: 0;
}

.moreText {
	font-size: 0.75rem;
	color: rgb(var(--vinisto-color-darker-gray));
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
}

.moreTabIcon {
	--icon-size: 1.25rem;
	width: var(--icon-size);
	height: var(--icon-size);
	background-color: rgb(var(--vinisto-color-white));
	flex-shrink: 0;
}

.deleteIcon {
	--icon-size: 1.875rem;
	flex: 0 0 calc(var(--icon-size) - 0.0625rem);
	width: var(--icon-size);
	height: var(--icon-size);
	padding: 0;
	margin: 0.0625rem 0.0625rem 0.0625rem 0;
}

button.deleteIcon {
	background-color: rgb(var(--vinisto-color-white));
}

.iconName {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	min-width: 0;
}

.countDelete {
	display: flex;
	align-items: center;
	gap: 0.4375rem;
}

.icon {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.input {
	display: block;
	width: 100%;
	font-size: 0.6875rem;
	padding: 0.625rem;
	border: 1px solid rgb(var(--vinisto-color-lighter-gray));
	border-radius: 0;
	margin-bottom: 0.3125rem;
}

.input:focus {
	border: 1px solid rgba(var(--vinisto-color-green), 0.75);
}

.addButton {
	font-family: var(--font-family-ubuntu);
	font-size: 0.9375rem;
	font-weight: 500;
	display: block;
	background-color: rgb(var(--vinisto-color-white));
	color: rgb(var(--vinisto-color-darker-gray));
	text-align: center;
	width: 100%;
	padding: 0.5rem;
	border: 1px solid rgb(var(--vinisto-color-green));
	transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.actionToggle {
	--togle-size: 2rem;
	width: var(--togle-size);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.1875rem 0.125rem 0.125rem;
	margin: 0;
	top: 0;
	right: 0;
}

.actionToggle path {
	stroke: rgb(var(--vinisto-color-darker-gray));
	transition: stroke 0.2s linear;
}

.actionToggle:hover path,
.actionToggle.opened path {
	stroke: rgb(var(--vinisto-color-green));
}

.actionToggle svg {
	transition: rotate 0.2s linear;
}

.actionToggle.opened svg {
	rotate: 180deg;
}

@media (min-width: 768px) {
	.actionToggle > svg {
		display: none;
	}
}

@media (max-width: 767.98px) {
	.ellipsis {
		display: none;
	}
}

@media (min-width: 1200px) {
	.showMore:hover {
		color: rgb(var(--vinisto-color-green));
		border-color: rgba(var(--vinisto-color-darker-gray), 0.5);
	}

	.moreTabWrap:hover {
		background-color: rgb(var(--vinisto-color-lighter-green));
	}

	.deleteIcon:hover .delete :global(.x-symbol) {
		fill: rgb(var(--vinisto-color-green));
	}

	.addButton:hover {
		color: rgb(var(--vinisto-color-green-hover));
		border-color: rgb(var(--vinisto-color-green-hover));
	}
}

:is(
		.tab,
		.tabDeleteButton,
		.showMore,
		.moreTab,
		.deleteIcon,
		.input,
		.addButton,
		.actionToggle
	):focus-visible {
	outline: rgba(var(--vinisto-color-green), 0.75) 2px solid;
}

:is(.input):focus {
	outline: none;
}
