.favorites {
	display: flex;
	padding: 0.25rem 0.5rem 0.1875rem;
	transition: background-color 0.2s ease-in-out;
}

.favorites:hover {
	background-color: rgb(var(--vinisto-color-lighter-gray));
}

@media (max-width: 1199.98px) {
	.favorites svg {
		max-height: 21px;
	}
}

@media (max-width: 767.98px) {
	.favorites {
		margin-left: 0.25rem;
		margin-right: 0.25rem;
	}
}

@media (max-width: 470px) {
	.favorites {
		margin-left: 0.125rem;
		margin-right: 0.125rem;
	}
}
