.addressesWrap {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	margin-top: 1rem;
	margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
	.addressesWrap {
		flex-direction: row;
		flex-wrap: wrap;
	}
}
