.container {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 0.5em;
	padding-bottom: 2em;
}

.defaultLinkStyle {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

.defaultLinkStyle:hover {
	color: darkblue;
}
