.wrapper {
	border: 1px solid rgb(var(--vinisto-color-lighter-gray));
}

.header {
	display: flex;
	height: 2.5rem;
}

.sequenceNumber {
	min-width: 9.375rem;
	background-color: rgb(var(--vinisto-color-green));
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.25rem;
	font-weight: 400;
	color: rgb(var(--vinisto-color-white));
	font-family: var(--font-family-ubuntu);
}

.deliveryDate {
	flex-grow: 1;
	display: flex;
	gap: 0.125rem;
	align-items: center;
	justify-content: flex-start;
	font-size: 0.875rem;
	font-weight: 300;
	color: rgb(var(--vinisto-color-darker-gray));
	background-color: rgb(var(--vinisto-color-lighter-gray));
	padding-left: 1.5rem;
}

.deliveryDate > span {
	font-weight: 500;
	color: rgb(var(--vinisto-color-green));
}

.bundlesWrapper {
	display: flex;
	flex-direction: row;
	gap: 0.625rem;
	padding: 0.625rem;
	overflow-x: auto;
	flex-wrap: wrap;
}

.bundle {
	background: rgb(var(--vinisto-color-lighter-gray));
	position: relative;
}

.bundle .quantity {
	position: absolute;
	bottom: 0.125rem;
	right: 0.125rem;
	background: rgb(var(--vinisto-color-white));
	font-size: 0.625rem;
	font-weight: 300;
	padding: 0.3125rem;
}
