.language-switcher {
	margin-left: 1rem;
}

.language-switcher #dropDownLanguage.dropdown-toggle {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	align-content: center;
	cursor: pointer;
	min-width: 100px;
	max-width: 100px;
}

.language-switcher #dropDownLanguage::after {
	transform: translateY(-2px);
	transition: transform 0.3s ease-in-out;
}

.language-switcher #dropDownLanguage.show::after {
	transform: translateY(2px) rotate(180deg);
}

.language-switcher .dropdown-menu {
	border: none;
	box-shadow: 0px 3px 6px 0px rgba(var(--vinisto-color-black), 0.3);
	border-radius: 0.313rem;
	min-width: 110px;
	max-width: 110px;
}

.language-switcher .dropdown-menu .dropdown-item {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-left: 5px;
	align-items: center;
	align-content: center;
	padding: 3px;
}

.language-switcher .dropdown-menu .dropdown-item .underline-item {
	margin-left: 5px;
	text-align: left;
}

.language-switcher .dropdown-menu .dropdown-item:focus,
.language-switcher .dropdown-menu .dropdown-item:hover {
	background-color: transparent;
	color: rgb(var(--vinisto-color));
	cursor: pointer;
}
