.letterWrapper {
	color: rgb(var(--vinisto-color-darker-gray));
	margin-bottom: 3.25rem;
}

.title {
	font-family: var(--font-family-ubuntu);
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 0.75rem;
	scroll-margin-top: var(--header-height);
}

.valuesList {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	gap: 0 0.625rem;
}

.value.value {
	text-decoration: none;
	padding: 0.125rem 0.625rem;
	font-size: 1.125rem;
	transition: background-color 0.2s;
}

.skeleton {
	margin-bottom: 0.25rem;
}

@media (min-width: 1200px) {
	.value:hover {
		background-color: rgb(var(--vinisto-color-lighter-green));
	}
}

@media (max-width: 1199.98px) {
	.title {
		font-size: 1.125rem;
		scroll-margin-top: var(--header-mobile-height);
		margin-bottom: 0.3125rem;
	}

	.value.value {
		font-size: 0.875rem;
		font-weight: 300;
		padding: 0.125rem 0;
	}

	.letterWrapper {
		margin-bottom: 1.875rem;
	}
}
