.component {
	border: 1px solid rgba(var(--vinisto-color-lighter-gray), 1);
	border-radius: 10px;
	color: rgb(var(--vinisto-color-darker-gray));
	text-align: center;
	padding: 1.3125rem;
}

@media (max-width: 1198px) {
	.component {
		padding: 0.5rem 0.5rem 1rem;
	}
}

.bundleImage {
	margin-bottom: 0.75rem;
}

.bundleName {
	font-weight: 500;
}

.bundleProducer.bundleProducer {
	display: inline-flex;
	margin-bottom: 1rem;
}

.infoBox {
	background-color: rgba(var(--vinisto-color-green), 0.15);
	padding: 1.25rem;
	font-size: 0.875rem;
	font-weight: 300;
	margin-bottom: 1.6rem;
}

@media (max-width: 1198px) {
	.infoBox {
		padding: 0.625rem;
		font-size: 0.75rem;
	}
}

.ctaBox {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.priceTitle {
	font-size: 0.875rem;
}

.priceWithVat {
	color: rgb(var(--vinisto-color-red));
	font-size: 1.5rem;
	font-weight: 500;
}

@media (max-width: 1198px) {
	.priceWithVat {
		font-size: 1.0625rem;
	}
}

.price {
	font-size: 0.625rem;
}

.ctaButton {
	text-transform: uppercase;
	font-size: 1.125rem;
	padding-block: 0.875rem;
	padding-inline: 2.9375rem;
	line-height: 1;
	white-space: nowrap;
}

@media (max-width: 1198px) {
	.ctaButton {
		padding-inline: 1.25rem;
	}
}
