.headerLabel {
	color: #937fa1;
	font: normal 16px/21px var(--font-family-ubuntu);
}

.headerValue {
	color: rgb(var(--vinisto-color-darker-gray));
	font: bold 20px / 27px var(--font-family-ubuntu);
}

.headerContainer {
	margin: 0 -1.25rem;
}

.headerColumns {
	margin: 0 1em;
	padding: 0.5em 0;
	gap: 2em;
}

.backButton {
	display: flex;
	justify-content: flex-end;
	flex-grow: 1;
}

@media (max-width: 1199.98px) {
	.headerContainer {
		margin: 0;
	}

	.headerColumns {
		flex-direction: column;
		gap: 0.25rem;
		margin: 0 1.25rem;
	}

	.headerLabel {
		font-size: 0.875rem;
		line-height: 1.2;
	}

	.headerValue {
		font-size: 1rem;
		line-height: 1.2;
	}

	.backButton {
		justify-content: flex-start;
	}

	.backButton > :global(.btn) {
		margin-left: 0 !important;
		margin-top: 0.5rem;
	}
}
