.modal-dialog.modal-dialog--upload-cms-image .admin-button-submit {
	float: right;
}
.modal-dialog.modal-dialog--upload-cms-image .btn-select-image {
	min-width: 10.938rem;
	margin-left: 1.25rem;
}
.modal-dialog.modal-dialog--upload-cms-image .form-label {
	font-weight: 700;
}
.modal-dialog.modal-dialog--upload-cms-image .icon-18 {
	width: 1.125rem;
	height: auto;
	margin-top: 0.625rem;
}
.modal-dialog.modal-dialog--upload-cms-image .icon-30 {
	width: 1.875rem;
	height: auto;
	margin-top: 0.438rem;
	fill: rgb(var(--vinisto-color));
}
.modal-dialog.modal-dialog--upload-cms-image .image-preview-wrapper {
	aspect-ratio: 3/2;
	height: auto;
	align-items: unset;
}
.modal-dialog.modal-dialog--upload-cms-image .upload-btn {
	line-height: 0;
}
.modal-dialog.modal-dialog--upload-cms-image .file-select {
	margin-left: -100%;
	opacity: 0;
}
.modal-dialog.modal-dialog--upload-cms-image .image-preview {
	-o-object-fit: contain;
	object-fit: contain;
}
.modal-dialog.modal-dialog--upload-cms-image .upload-input .admin-button-submit,
.modal-dialog.modal-dialog--upload-cms-image
	.btn-upload-invisible
	.admin-button-submit {
	display: none;
}
