.banner-image-preview .vinisto-card {
	box-shadow: 1px 2px 8px 0px rgba(67, 41, 87, 0.2);
	background-color: #ffffff;
	padding: 0.5rem 1rem;
}
.banner-image-preview .vinisto-card__heading {
	font-size: 1.625rem;
	margin-bottom: 0;
	font-weight: 500;
}
.banner-image-preview .vinisto-card__top-text {
	margin: 0.5rem 0;
}
.banner-image-preview .vinisto-card--cta {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	background-size: cover;
	transition: transform 200ms ease-in-out;
}
.banner-image-preview .vinisto-card--cta + * {
	flex: 1 1 100%;
}
.banner-image-preview .vinisto-card--cta:hover {
	cursor: pointer;
	transform: scale(1.05);
}
.banner-image-preview .vinisto-card__bottom-link {
	width: 100%;
	align-self: flex-end;
	text-align: right;
}
.banner-image-preview .vinisto-card__bottom-link a {
	color: #ffffff;
}
.banner-image-preview .vinisto-small-banner {
	padding: 0 !important;
	overflow: hidden;
}
.banner-image-preview .vinisto-small-banner.vinisto-card {
	height: 260px;
}
.banner-image-preview .vinisto-small-banner:hover {
	cursor: pointer;
}
.banner-image-preview .vinisto-small-banner:hover .vinisto-small-banner__cta {
	background-color: rgb(var(--vinisto-color-green-hover));
}
.banner-image-preview .vinisto-small-banner__heading {
	position: absolute !important;
	top: 0;
	left: 0;
	font-size: 1.5rem;
	padding: 0.5rem 1rem;
	color: #fff;
	background-color: rgb(var(--vinisto-color));
	border-bottom-right-radius: var(--vinisto-radius);
	font-weight: 500;
}
.banner-image-preview .vinisto-small-banner__cta {
	position: absolute !important;
	bottom: 0;
	right: 0;
	font-size: 1.125rem;
	color: #fff;
	padding: 0.75rem 1rem;
	background-color: rgb(var(--vinisto-color-green));
	border-top-left-radius: var(--vinisto-radius);
}
.banner-image-preview .vinisto-small-banner__img {
	-o-object-fit: cover;
	object-fit: cover;
	height: 100%;
	width: 100%;
}
.banner-image-preview .vinisto-card {
	background-color: rgba(0, 0, 0, 0.4);
	height: 260px;
}
.banner-image-preview .vinisto-card__heading {
	font-size: 1.5rem;
}
.banner-image-preview .vinisto-card--product {
	width: 365px;
	height: auto;
	min-height: 80px;
	font-size: 0.875rem;
	border-radius: 0;
}
.banner-image-preview .vinisto-card--product .vinisto-card__heading {
	font-size: inherit;
}
.banner-image-preview .vinisto-card--product .vinisto-card__top-text {
	margin: 0;
}
.banner-image-preview .vinisto-card--product:hover {
	transform: none;
}
.banner-image-preview--mobile .vinisto-card {
	height: 200px;
}
.banner-image-preview--mobile .vinisto-card__heading {
	font-size: 1rem;
}
.banner-image-preview--mobile .vinisto-small-banner {
	height: 200px;
	--bs-gutter-x: 1rem;
	--bs-gutter-y: 1rem;
}
.banner-image-preview--mobile .vinisto-small-banner__heading {
	font-size: 1rem;
}
.banner-image-preview--mobile .vinisto-small-banner__cta {
	font-size: 0.875rem;
}
.banner-image-preview--mobile .vinisto-card__top-text,
.banner-image-preview--mobile .vinisto-card__bottom-link {
	font-size: 0.875rem;
}
.banner-image-preview--mobile .vinisto-card {
	padding: 0.5rem 0.75rem;
}
.banner-image-preview--mobile .vinisto-card--product {
	width: auto;
	height: auto;
	min-height: 80px;
}
