.bannerListingWrap {
	display: flex;
	min-height: 600px;
	padding: 0 !important;
	max-width: 12.875rem;
}

.bannerListingWrap > div {
	margin: 0;
	height: 100%;
}

:global(.banner-image-preview--mobile) .bannerListingWrap {
	max-width: 11.25rem;
}
