.volumeDiscount {
	position: absolute;
	top: calc(100% + 0.1875rem);
	right: 0;
	width: 7.8125rem;
	padding: 0.1875rem 0.625rem;
	background-color: rgb(var(--vinisto-color-lighter-green));
	font-size: 0.5625rem;
	font-weight: 300;
	text-align: right;
	color: rgb(var(--vinisto-color-darker-gray));
}

.saved {
	font-weight: 500;
}

@media (min-width: 768px) {
	.volumeDiscount.big {
		position: relative;
		top: auto;
		display: inline-block;
		margin-top: 0.1875rem;
	}
}

@media (max-width: 767.98px) {
	.volumeDiscount {
		position: relative;
		top: initial;
		right: initial;
		margin-left: auto;
		margin-top: 0.3125rem;
	}
}
