.vinisto-recension {
	display: flex;
	flex: 1 1 0%;
	border: 1px solid rgba(var(--vinisto-color), 0.1);
	border-radius: var(--vinisto-radius-base);
	margin: 1.5rem 0.5rem 0 !important;
	padding: 0 !important;
	transition: box-shadow 0.3s ease-in-out;
}

.vinisto-recension .vinisto-wine__item {
	max-width: 12rem;
	margin: 0;
	border-top: none;
	border-left: none;
	border-bottom: none;
}

.vinisto-recension:hover {
	box-shadow: 0px 2px 8px 0px rgba(var(--vinisto-color-darker2), 0.2);
}

.vinisto-recension__right {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 1.125rem 0.75rem 0.5rem;
}

.vinisto-recension__user {
	display: flex;
	width: 100%;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 1.125rem;
}

.vinisto-recension__user__circle {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: rgb(var(--vinisto-color));
	color: rgb(var(--vinisto-color-white));
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.25rem;
	font-weight: 500;
}

.vinisto-recension__user__wrap {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	flex-direction: column;
	padding-left: 1rem;
}

.vinisto-recension__user__username {
	margin-bottom: 0;
	font-size: 1.125rem;
	max-width: 150px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.vinisto-recension__user__profile {
	margin-bottom: 0;
	font-size: var(--smaller-text);
	font-style: italic;
	color: rgb(var(--vinisto-color));
	max-width: calc(100% - 50px);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.vinisto-recension__approved-wrap {
	margin-bottom: 0.75rem;
}

.vinisto-recension__approved {
	background-color: rgb(var(--vinisto-color-light-gray));
	border-radius: var(--vinisto-radius-base);
	font-size: 1.125rem;
	padding: 0.25rem 0.5rem;
	display: inline-flex;
	align-items: center;
	gap: 0.375rem;
}

.vinisto-recension__date-likes {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.125rem;
	margin-bottom: 0.875rem;
}

.vinisto-recension__likes {
	display: flex;
	align-items: center;
	font-size: 1.125rem;
}

.vinisto-recension__likes__img {
	margin-right: 0.625rem;
}

.vinisto-recension__stars {
	max-width: 100%;
	margin-bottom: 0.75rem;
	width: 10.125rem !important;
}

.vinisto-recension__stars .vinisto-rating__ico-wrap svg {
	width: 26px;
	height: 25px;
}

.vinisto-recension__detail {
	width: 100%;
	align-self: flex-end;
	text-align: right;
	margin-top: auto;
}

.vinisto-recension__detail__link {
	color: rgb(var(--vinisto-color));
	cursor: pointer;
}

.h-custom-padding {
	padding-left: 0.5rem !important;
}

@media (max-width: 1199.98px) {
	.vinisto-recension__user__username {
		max-width: 240px;
	}
}
@media (max-width: 1100px) {
	.vinisto-recension__user__username {
		max-width: 15vw;
	}
}
@media (max-width: 865px) {
	.vinisto-recension__user__username {
		max-width: 10vw;
	}
}
@media (max-width: 767.98px) {
	.vinisto-recension__user__username {
		max-width: calc(40vw - 3rem);
	}
}
@media (max-width: 450px) {
	.vinisto-recension__user__username {
		max-width: calc(100vw - 238px);
	}
}

@media (max-width: 1199.98px) {
	.vinisto-recension {
		margin: 0 !important;
	}

	.vinisto-recension__user__circle {
		width: 40px;
		height: 40px;
		font-size: 1rem;
	}
}

@media (max-width: 1380px) {
	.vinisto-recension__user__username {
		font-size: 1rem;
		max-width: 140px;
	}
}

@media (max-width: 450px) {
	.vinisto-recension__user {
		flex-direction: column;
		align-items: flex-start;
	}

	.vinisto-recension__user__wrap {
		padding-left: 0 !important;
		padding-top: 0.25rem;
	}
}
