.infoText,
.info {
	font-size: 0.875rem;
	font-weight: 300;
	color: rgb(var(--vinisto-color-darker-gray));
}

.greenText {
	color: rgb(var(--vinisto-color-green));
}

.redText {
	color: rgb(var(--vinisto-color-red));
}

.greenVinistoPlus {
	color: rgb(var(--vinisto-color-green));
	font-weight: 500;
}

.vinistoPlusImage {
	display: none;
}

.deliveryCards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 1.625rem;
	margin-bottom: 2rem;
}

.header {
	font-family: var(--font-family-ubuntu);
	font-size: 1.375rem;
	font-weight: 700;
	color: rgb(var(--vinisto-color-darker-gray));
	margin-bottom: 0.625rem;
}

h3.header {
	font-size: 1rem;
}

.cancelButton {
	font-family: var(--font-family-ubuntu);
	font-size: 0.9375rem;
	font-weight: 500;
	color: rgb(var(--vinisto-color-darker-gray));
	border: 1px solid rgb(var(--vinisto-color-darker-gray));
	padding: 0.5625rem;
}

.subscriptionInfoText {
	margin-bottom: 1.875rem;
}

.subscriptionType {
	text-transform: capitalize;
}

@media (max-width: 1199.98px) {
	.deliveryCards {
		grid-template-columns: 1fr 1fr 1fr;
		gap: 1rem;
	}
}

@media (max-width: 991.98px) {
	.infoText {
		text-align: center;
	}

	.mainHeader {
		font-size: 1.375rem;
		text-align: center;
	}

	.vinistoPlusImage {
		display: block;
		margin: 0 auto 1.25rem;
		width: 160px;
	}

	.deliveryCards {
		grid-template-columns: 1fr 1fr;
		gap: 0.625rem;
	}

	.header {
		font-size: 0.875rem;
	}
}
