/* Style duplication with CreateDiscountCoupon modal. "Button bar radio" should be a specific component */

.radio {
	display: flex;
	margin-bottom: 1.375rem;
}

.radio input {
	appearance: none;
}

.radio label:not(:first-of-type) {
	border-left-color: transparent;
}

.radio label:first-of-type {
	border-top-left-radius: 0.33rem;
	border-bottom-left-radius: 0.33rem;
}

.radio label:last-of-type {
	border-top-right-radius: 0.33rem;
	border-bottom-right-radius: 0.33rem;
}

.radio label {
	padding: 0.5rem 1rem;
	border: 1px solid #ced4da;
	flex: 1 0 auto;
	text-align: center;
	cursor: pointer;
}

.radio input:checked + label {
	color: rgb(var(--vinisto-color));
	border-color: rgb(var(--vinisto-color));
}