.status {
	margin: 0.6875rem 0 1.25rem;
	text-align: center;
}

.icon {
	--icon-size: 3.125rem;
	width: var(--icon-size);
	height: var(--icon-size);
	margin-bottom: 0.625rem;
}

.title {
	font-family: var(--font-family-ubuntu);
	font-size: 1.875rem;
	font-weight: 700;
	color: rgb(var(--vinisto-color-darker-gray));
	margin-bottom: 1.0625rem;
}

.text {
	font-size: 0.875rem;
	font-weight: 300;
	text-align: center;
	color: rgb(var(--vinisto-color-darker-gray));
	line-height: 1.5;
	max-width: 37.5rem;
	margin: 0 auto 1rem;
}

.boldText {
	font-weight: 700;
}

.errorText {
	color: rgb(var(--vinisto-color-red));
	font-weight: 700;
}

.contactUs {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 12px;
	gap: 1.5rem;
}

.linkTo {
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(var(--vinisto-color-darker-gray));
	text-decoration: underline;
	font-weight: 700;
	font-size: 1rem;
	gap: 0.375rem;
}

.linkTo:hover {
	color: rgb(var(--vinisto-color-darker-gray));
}

.linkTo svg {
	color: inherit;
}

.contactUsPhoneIcon {
	width: 1.1875rem;
	height: 1.1875rem;
}

.contactUsMailIcon {
	width: 1.4375rem;
	height: 0.875rem;
}
