.page {
	background-color: rgb(var(--vinisto-color-white));
}

.showAllBtn {
	color: rgb(var(--vinisto-color-white));
	background-color: rgb(var(--vinisto-color-green));
	font-size: 0.875rem;
	font-weight: 400;
	width: calc(100% - 1.5rem);
	text-align: center;
	margin: 0.75rem;
	display: block;
}
