.modal-dialog {
	min-width: 600px;
	max-width: 100% !important;
	width: auto !important;
	display: inline-block !important;
}
.modal {
	z-index: -1;
	display: flex !important;
	justify-content: center;
	align-items: flex-start;
	padding: 50px 0;
}
.modal-open .modal {
	z-index: 1050;
}
.modal-content {
	border: none !important;
}
.vinisto-popup__heading-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid rgb(var(--vinisto-color));
	padding: 0 0.5rem 0.813rem;
}
.vinisto-popup__heading {
	margin-bottom: 0;
	color: rgb(var(--vinisto-color));
	font-size: 1.5rem;
	line-height: 2.188rem;
}
.vinisto-popup__close {
	display: flex;
	align-items: center;
	opacity: 0.5;
	transition: opacity 300ms ease-out;
	cursor: pointer;
}
.vinisto-popup__close:hover {
	opacity: 1;
}
.vinisto-popup__show-password {
	cursor: pointer;
	position: absolute;
	top: 50%;
	right: 0.625rem;
	transform: translateY(-50%);
	transition: opacity 300ms ease-out;
	opacity: 0.5;
}
.vinisto-popup__show-password:hover {
	opacity: 1;
}
.vinisto-btn.vinisto-popup__btn {
	width: 100%;
	white-space: nowrap;
	background-color: rgb(var(--vinisto-color));
	box-shadow: inset 1px 3px 6px 0 rgba(255, 255, 255, 0.25);
	transition: box-shadow 0.3s ease-in-out;
}
.vinisto-btn.vinisto-popup__btn:hover {
	box-shadow: inset 2px 2px 3px 0 rgba(255, 255, 255, 0.5);
}
.vinisto-popup__links {
	display: flex;
	justify-content: space-between;
	margin: 1.5rem 0.5rem 0.875rem;
}
.vinisto-popup__checkboxes {
	margin: 1.5rem 0;
}
.modal-dialog {
	margin: 1.75rem auto;
}
@media (max-width: 576px) {
	.modal-dialog {
		min-width: auto !important;
		width: 100% !important;
	}
}
