.percentIcon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1.875rem;
	height: 2.3125rem;
	color: rgb(var(--vinisto-color-wine-red));
	font-size: 1.75rem;
	font-weight: 700;
	transition: color 0.2s;
}
