.sales {
	display: flex;
	align-items: stretch;
	gap: 1.5rem;
	margin-bottom: 1.5rem;
}

.tile {
	flex: 1 1 0%;
	display: flex;
	flex-direction: column;
	min-width: 13rem;
}

.noData {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100% - 2rem);
	color: rgba(var(--vinisto-color-black), 0.5);
}

@media (max-width: 1199.98px) {
	.sales {
		flex-direction: column;
	}

	.tile {
		min-width: 0;
	}
}
