.overdueInfo.overdue {
  border-color: rgba(var(--vinisto-color-red), 0.3);
  background-color: rgba(var(--vinisto-color-red), 0.08);
}

.info {
  font-size: 0.6875rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.overdue .info {
  color:  rgb(var(--vinisto-color-red));
}

.nonPaidCount {
  color: rgb(var(--vinisto-color-white));
  background-color: rgb(var(--vinisto-color-red));
  padding: 0.2rem 0.4rem;
  border-radius: 0.2rem;
}

.paymentLink:hover, .paymentLink:active {
  text-decoration: underline;
}

.sub {
  font-size: 0.6875rem;
  font-weight: 400;
}