.customerSupportWrapper {
	margin: 0.5rem 0;
}

.header {
	font-family: var(--font-family-ubuntu);
	font-size: 0.875rem;
	font-weight: 500;
}

.chat {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.chat > * {
	color: rgb(var(--vinisto-color-green));
	font-weight: 400;
	text-decoration: underline;
}

.contactLink {
	font-family: var(--font-family-roboto);
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 1.875rem;
}

.contactLink:hover {
	color: rgb(var(--vinisto-color-green));
}

.salesDepartment {
	margin-top: 0.5rem;
}

.salesContacts {
	flex-wrap: wrap;
	gap: 0 0.5rem;
}

.startChat {
	background: none;
	border: none;
	font-family: var(--font-family-roboto);
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 1.875rem;
}

.startChat .chatIcon {
	height: auto;
	margin-left: 0.313rem;
	vertical-align: top;
	width: 1.125rem;
}

@media (max-width: 1199.98px) {
	.customerSupportWrapper {
		border-bottom: 1px solid rgba(var(--vinisto-color-darker-gray), 0.25);
		margin: 0.75rem 0 0.75rem;
		padding-bottom: 0.75rem;
	}

	.header {
		margin-bottom: 0;
	}

	.header,
	.contactLink,
	.startChat {
		font-size: 0.75rem;
	}
}
