.moreInvoices {
	font-family: var(--font-family-ubuntu);
	font-size: 0.9375rem;
	font-weight: 500;
	color: rgb(var(--vinisto-color-darker-gray));
	border: 1px solid rgb(var(--vinisto-color-darker-gray));
	padding: 0.5625rem 1.25rem;
	margin: 0.625rem 0 1.25rem;
}