.container {
	margin-block: 1rem;
	color: rgb(var(--vinisto-color-darker-gray));
	padding: 1rem;
	padding-bottom: 1.5rem;
	border-top-width: 3px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
}

.container.error {
	color: rgb(255, 0, 0);
	background-color: rgba(255, 0, 0, 0.075);
	border-color: rgb(255, 0, 0);
}

.container.success {
	color: rgb(var(--vinisto-color-green));
	background-color: rgba(var(--vinisto-color-green), 0.075);
	border-color: rgb(104, 169, 16);
}

.title {
	font-size: 1.25rem;
	font-weight: 700;
	font-family: var(--font-family-ubuntu);
	display: inline-flex;
	align-items: center;
	gap: 0.25rem;
}

.list {
	padding-left: 0;
	margin-block: 0;
}

.listItem {
	list-style-type: none;
}

.startChat {
	color: inherit;
	display: inline-block;
	padding: 0;
	background: none;
	border: none;
	text-decoration: underline;
}
