.itemsCountWrap {
	font-family: var(--font-family-roboto);
	display: flex;
	width: auto;
	justify-content: space-between;
}

.itemsCount {
	display: flex;
	align-items: center;
	white-space: nowrap;
	font-weight: 400;
	color: rgb(var(--vinisto-color-darker-gray));
}

@media (max-width: 1199.98px) {
	.itemsCountWrap {
		margin-bottom: 1rem;
	}

	.itemsCount {
		font-size: 0.875rem;
	}
}
