.addressWrap {
	background-color: rgba(var(--vinisto-color), 0.031);
	border-radius: 0.1875rem;
	padding: 0.5rem 0.75rem 0.75rem;
}

.actionWrap {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
}
