.wrapper {
	background-color: rgba(var(--vinisto-color-lighter-gray), 1);
	margin-inline: -0.75rem;
	padding-inline: 0.75rem;
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
}

.unavailableStatus {
	font-family: var(--font-family-roboto);
	font-size: 0.875rem;
	font-weight: 500;
	color: rgb(var(--vinisto-color-error));
	text-align: center;
	margin-inline: -0.75rem;
	padding: 0.625rem 0.75rem;
	border-top: 1px solid rgba(var(--vinisto-color-darker-gray), 0.2);
	border-bottom: 1px solid rgba(var(--vinisto-color-darker-gray), 0.2);
}

.bundleName {
	font-size: 1.25rem;
	padding: 0;
}

.mobileShopInfo {
	font-family: var(--font-family-roboto);
	font-size: 0.75rem;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	gap: 0.375rem;
}

.sellerName,
.senderName {
	font-weight: 500;
}

.wrapper .pricesWrap {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	gap: 0.0625rem;
}

.wrapper .mainPriceWrapper {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}
.wrapper .priceWithVat {
	color: rgb(var(--vinisto-color-red));
	font-family: var(--font-family-ubuntu);
	font-weight: 500;
	line-height: 1;
}

.wrapper .priceWithVat {
	font-size: 1.125rem;
	font-weight: 500;
}

.wrapper .priceBeforeDiscount {
	font-family: var(--font-family-ubuntu);
	font-size: 0.875rem;
	line-height: 1;
	font-weight: 400;
	margin-right: 0.25rem;
	color: rgb(var(--vinisto-color-darker-gray));
}

.wrapper .priceWithoutVatValue {
	font-family: var(--font-family-ubuntu);
	font-size: 0.625rem;
	font-weight: 400;
	color: rgb(var(--vinisto-color-darker-gray));
}

.wrapper .lineThrough {
	text-decoration: line-through;
}

.textGreen {
	color: rgb(var(--vinisto-color-green));
}

.sellerSenderWrap {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: auto auto;
	gap: 0.25rem;
	grid-template-areas:
		'seller guarantee'
		'sender guarantee';
	align-items: center;
	margin-bottom: 0.75rem;
}

.seller {
	grid-area: seller;
}

.mobileSender {
	grid-area: sender;
}

.wrapper .vinistoPlusPrice {
	background-color: rgb(var(--vinisto-color-light-wine-gray));
	margin-inline: -0.75rem;
	padding: 0.625rem 1.25rem 0.625rem 0.75rem;
	border: 1px dashed rgb(var(--vinisto-color-wine));
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: auto auto;
	gap: 0.125rem;
	grid-template-areas:
		'price img'
		'vat img';
	margin-bottom: 0.125rem;
}

:global(.discount-coupon-box-wrapper) + .pricesWrap {
	margin-top: -0.375rem;
}

.wrapper .vinistoPlusPrice .priceWithVat {
	align-self: end;
	justify-self: start;
}

.plusImg {
	grid-area: img;
	align-self: center;
	justify-self: end;
	margin-left: 0.5rem;
	height: 2.5rem;
}

.yourVinistoPlusOriginalPrice {
	text-decoration: line-through;
}

.vinistoPlusInactivePriceWrap {
	width: calc(100% + 1.5rem);
	background-color: rgb(var(--vinisto-color-light-wine-gray));
	margin-inline: -0.75rem;
	padding: 0.4375rem 0.625rem 0.4375rem 0.75rem;
	border: 1px dashed rgb(var(--vinisto-color-wine-red));
	display: grid;
	gap: 0.5625rem;
	grid-template-columns: auto auto 1fr auto;
	grid-template-rows: auto;
	align-items: center;
}

.vinistoPlusInactivePriceImgWrap {
	width: 1.625rem;
	height: 1.375rem;
}

.vinistoPlusInactivePriceImg {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.onlyForMembers {
	font-family: var(--font-family-ubuntu);
	font-size: 0.875rem;
	color: rgb(var(--vinisto-color-wine-red));
	max-width: 4.6875rem;
	text-align: left;
}

.becomeMember {
	font-size: 0.75rem;
	background-color: rgb(var(--vinisto-color-wine-red));
	color: rgb(var(--vinisto-color-white));
	padding: 0.3125rem 0.5625rem;
}

.vinistoPlusInactivePriceWithVat {
	font-family: var(--font-family-ubuntu);
	color: rgb(var(--vinisto-color-red));
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 1;
	justify-self: end;
}
