.component {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 100%;
}

.input_group {
	display: flex;
	gap: 0.5rem;
	justify-content: space-between;
}

.label_placeholder {
	display: flex;
	align-items: stretch;
	flex: 1;
	gap: 0.25rem;
}
