.noData {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 15.625rem;
	color: rgba(var(--vinisto-color-black), 0.5);
}

.countWrap {
	display: flex;
	gap: 0.75rem;
	align-items: center;
	justify-content: flex-end;
}

.resizableTable {
	height: 310px;
	resize: vertical;
	overflow: auto;
}

:global(.table).bestSellingProductsTable {
	--bs-table-striped-bg: rgba(var(--vinisto-light-bg), 1);
	font-weight: 400;
}

.bestSellingProductsTable thead tr {
	border-top: none;
}

.bestSellingProductsTable td {
	height: 3.25rem;
	vertical-align: middle;
}

.bestSellingProductsTable a {
	color: rgb(var(--vinisto-color));
}

.bestSellingProductsTable
	thead
	> tr
	> th:nth-child(2)
	:global(.vinisto-admin-table__header-cell) {
	text-align: right;
	display: block;
}

.bestSellingProductsTable tr > th:nth-child(3),
.bestSellingProductsTable tr > td:nth-child(3) {
	padding-left: 0;
	padding-right: 3vw;
	width: 1px;
	white-space: nowrap;
	text-align: center;
}
