.heading {
	padding: 0.75rem 0;
	display: block;
	width: calc(100% - 2rem);
	font-size: 1rem;
	font-weight: 600;
	margin: 0 auto 0.75rem;
	color: rgb(var(--vinisto-color-darker-gray));
	border-bottom: 1px solid rgb(var(--vinisto-color-lighter-gray2));
}
