.dropdown {
	max-height: 14rem;
	overflow: auto;
	overscroll-behavior: none;
	box-shadow: 0 3px 5px rgba(var(--vinisto-color-black), 0.15);
}

.dropdown::-webkit-scrollbar {
	width: 0.315rem;
}

.dropdown::-webkit-scrollbar-track {
	background-color: transparent;
}

.dropdown::-webkit-scrollbar-thumb {
	background: rgb(var(--vinisto-color-darker-gray));
}

.item {
	padding: 0.25rem 0.5rem;
	color: rgb(var(--vinisto-color-darker-gray));
	cursor: pointer;
}
.item.active {
	background-color: rgb(var(--vinisto-color-selected-green));
}
