.scrollButton {
	font-family: var(--font-family-ubuntu);
	font-size: 1.125rem;
	font-weight: 500;
	color: rgb(var(--vinisto-color-white));
	padding: 0.875rem;
	min-width: 17.1875rem;
	background-color: rgb(var(--vinisto-color-wine-red));
	transition: background-color 0.3s ease;
}

.scrollButton:hover {
	background-color: rgba(var(--vinisto-color-wine-red), 0.8);
}

@media (max-width: 1199.98px) {
	.scrollButton {
		display: none;
	}
}
