.sidebar-menu-item {
	margin-left: 8px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: calc(100% - 25px);
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	align-self: center;
	align-content: center;
	cursor: pointer;
	opacity: 0.8;
	text-shadow: rgba(255, 255, 255, 0) 0px 0 0px;
	transform: scale(1);
	transition: all 400ms ease-in-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}

.sidebar-menu-item:hover {
	text-shadow: rgba(255, 255, 255, 0.4) 1px 0 10px;
	opacity: 1;
	transform: scale(1.01);
	transition: all 400ms ease-in-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.sidebar-menu-item .sidebar-menu-item-icon {
	color: white;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.sidebar-menu-item .sidebar-menu-item-title {
	font-size: 14px !important;
	font-family: 'Roboto', sans-serif !important;
	color: white;
	padding-left: 10px;
	flex: 1;
	font-weight: bold;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
