.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: var(--font-family-roboto);
	font-size: 0.8125rem;
	padding: 0 0.25rem;
}

.container[href] {
	text-decoration: none;
	color: var(--vinisto-color-dark-gray);
}

.container[href] .title::before {
	content: '';
	position: absolute;
	bottom: -1px;
	left: 50%;
	width: 0;
	height: 1px;
	background-color: currentColor;
	transition: 0.25s linear;
	transform: translateX(-50%);
}

.container[href]:hover .title::before {
	width: 100%;
}

.container[href]:hover .title,
.container[href]:hover .subtitle,
.container[href]:hover .title::before {
	opacity: 0.75;
}

.imageWrap {
	width: 56px;
	height: 56px;
	margin-bottom: 0.5rem;
}

.image {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.title {
	font-weight: 500;
	position: relative;
	line-height: 1.5;
	margin-bottom: 0.2rem;
}

.subtitle {
	font-weight: 400;
}

.title,
.subtitle {
	color: rgb(var(--vinisto-color-darker-gray));
	text-align: center;
	max-width: 24ch;
	text-wrap: balance;
}

.container.productDetailUspBanner {
	display: grid;
	padding-top: 0.9rem;
}

.container.productDetailUspBanner .imageWrap {
	grid-area: 1 / 1 / 3 / 2;
	width: 30px;
	height: 30px;
	margin-bottom: auto;
}

.container.productDetailUspBanner .image {
	height: 100%;
	object-fit: contain;
	width: 100%;
}

.container.productDetailUspBanner .title {
	text-align: left;
	max-width: initial;
	font-size: 0.75rem;
	line-height: 1.3571;
}

.container.productDetailUspBanner .title,
.container.productDetailUspBanner .subtitle {
	text-align: left;
	max-width: initial;
	font-size: 0.9rem;
	line-height: 1.3571;
}

.container.productDetailUspBanner .title {
	grid-area: 1 / 2 / 2 / 3;
	margin-bottom: 0.125rem;
	font-family: var(--font-family-ubuntu);
	max-width: fit-content;
}

.container.productDetailUspBanner .subtitle {
	grid-area: 2 / 2 / 3 / 3;
}
