@media (max-width: 767.98px) {
	.search-wrapper .vinisto-search-productbox {
		height: calc(100% - 0.7rem);
	}

	.search-wrapper .vinisto-wine__price--original {
		text-align: center;
		font-size: 0.5rem;
	}

	.search-wrapper .vinisto-search-productbox .vinisto-wine__item {
		min-width: unset;
		border-radius: 0;
		padding-bottom: 0.5rem;
		background-color: rgb(var(--vinisto-color-white));
		display: flex;
		flex-direction: column;
		align-items: center;
		border: 1px solid rgba(var(--vinisto-color), 0.1);
		box-shadow: var(--vinisto-box-shadow);
		height: 100%;
		margin-top: 1.5rem !important;
		margin: 2rem 0 0;
	}

	.search-wrapper .vinisto-search-productbox .vinisto-wine__img-wrap {
		padding-bottom: 0;
		margin-top: -1.5rem;
	}

	.search-wrapper .vinisto-search-productbox .vinisto-wine__img {
		margin-top: -0.5rem;
	}

	.search-wrapper .vinisto-search-productbox .vinisto-wine__info-wrap {
		padding: 0 0.5rem;
		margin-bottom: 0;
		display: flex;
		justify-content: center;
	}

	.search-wrapper .vinisto-search-productbox .vinisto-wine__name {
		font-size: 0.75rem;
		font-weight: 500;
		color: rgb(var(--vinisto-color-darker-gray));
		margin-top: 0.5rem;
		text-align: center;
		margin-bottom: 0;
	}

	.search-wrapper .vinisto-search-productbox .vinisto-wine__stock {
		font-size: 0.5625rem;
		font-weight: 400;
		text-align: center;
		white-space: pre-wrap;
		margin: 0.375rem 0;
	}

	.search-wrapper .vinisto-search-productbox .vinisto-wine__price {
		font-size: 1rem;
		font-weight: 500;
		text-align: center;
		line-height: normal !important;
		margin-top: 0;
		order: 5;
	}

	.search-wrapper .vinisto-search-productbox .vinisto-wine__price > div {
		justify-content: center;
	}

	.search-wrapper .vinisto-search-productbox .vinisto-wine__price--no-vat {
		margin-top: 0.25rem;
		font-size: 0.625rem;
		text-align: center;
		order: 6;
		white-space: nowrap;
	}

	.search-wrapper
		.vinisto-search-productbox
		.vinisto-wine__qunatity-box-wrapper {
		order: 7;
	}
}
