@media (min-width: 1200px) {
	.notEvaluatedProduct {
		grid-template-columns: 5rem 20% 25% calc(55% - 7.5rem);
	}
}

.lastOrder {
	display: flex;
	align-items: center;
	padding-left: 1.5rem;
}

.notEvaluatedProduct > div:last-child {
	justify-content: flex-end;
	padding-right: 2rem;
}

@media (max-width: 1199.98px) {
	.lastOrder {
		grid-area: orders;
		padding-left: 0;
		align-items: flex-start;
	}

	.notEvaluatedProduct > div:last-child {
		padding-right: 0;
		grid-template-areas:
			'rating edit'
			'empty more';
	}

	.notEvaluatedProduct > div:last-child > button:last-child {
		grid-area: more;
	}
}
