.summary {
  border-top: 1px solid rgba(var(--vinisto-color-darker-gray), 0.5);
  padding-top: 0.5rem;
  margin-top: 0.5rem;
}

.label {
  grid-column: 1 / span 2;
}

.totalPrice {
  color: rgb(var(--vinisto-color-red));
}