.modal {
	padding: 1.6875rem 0 1.875rem;
}

.heading {
	font-family: var(--font-family-ubuntu);
	font-size: 1.875rem;
	font-weight: 700;
	color: rgb(var(--vinisto-color-darker-gray));
	text-align: center;
	margin-bottom: 1rem;
}

.text {
	font-size: 0.875rem;
	font-weight: 300;
	color: rgb(var(--vinisto-color-darker-gray));
	text-align: center;
	margin-bottom: 1.875rem;
}

.closeButton {
	display: block;
	color: rgb(var(--vinisto-color-green));
	border: 1px solid rgb(var(--vinisto-color-green));
	background-color: rgb(var(--vinisto-color-white));
	padding: 0.5625rem;
	min-width: 8.125rem;
	margin: 0 auto;
}

.closeButton:hover {
	color: rgb(var(--vinisto-color-green-hover));
	border: 1px solid rgb(var(--vinisto-color-green-hover));
	background-color: rgb(var(--vinisto-color-white));
}

.okIcon {
	--icon-size: 3.125rem;
	display: block;
	margin: 0 auto 0.625rem auto;
	width: var(--icon-size);
	height: var(--icon-size);
}

@media (max-width: 991.98px) {
	.heading {
		font-size: 1.375rem;
		margin-bottom: 0.625rem;
	}

	.text {
		font-size: 0.75rem;
		margin-bottom: 1.25rem;
	}
}
