.base {
	font-weight: 400;
	color: rgb(var(--vinisto-color-darker-gray));
}

.list {
	list-style: none;
	margin-bottom: 0;
	padding: 0;
	font-size: 0.625rem;
}

.list li {
	display: inline;
	line-height: 0.8125rem;
}

.list dt {
	display: inline;
	font-weight: 400;
}

.list dt::after {
	content: ': ';
}

.list dd {
	display: inline;
}

.list dd::after {
	content: '';
	display: block;
}
