.heading {
	font-family: var(--font-family-ubuntu);
	font-size: 1.5rem;
	font-weight: 700;
	color: rgb(var(--vinisto-color-wine));
	margin-bottom: 1.25rem;
}

@media (max-width: 1199.98px) {
	.heading {
		font-size: 1.5rem;
	}
}
