.component {
	border-radius: 1.25rem;
	background-color: rgba(var(--vinisto-color-darker-gray), 0.075);
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: var(--font-family-roboto);
	text-align: center;
	color: rgb(var(--vinisto-color-darker-gray));
}

.deliveryName {
	font-size: 1rem;
	font-weight: 500;
	margin-bottom: 0.15rem;
}

.deliveryDescription {
	font-size: 0.875rem;
	font-weight: 300;
  margin-bottom: 0.75rem;
}

.deliveryPrice {
	font-size: 0.875rem;
	font-weight: 500;
	color: rgb(var(--vinisto-color-green));
  margin-bottom: 0;
}

.icon {
	width: 3.125rem;
	min-height: 3.125rem;
	margin-bottom: 0.75rem;
}

.icon > img {
	min-width: 100%;
}

@media (max-width: 991.98px) {
	.icon {
		margin-bottom: 0.5rem;
	}

	.deliveryName {
		font-family: var(--font-family-ubuntu);
		margin-bottom: 0.1rem;
	}

	.deliveryDescription {
		font-size: 0.75rem;
		color: rgba(var(--vinisto-color-darker-gray), 0.825);
	}
}
