.dashboard-card {
	width: 100%;
	height: 240px;
	color: white;
	cursor: pointer;
	background: linear-gradient(
		15deg,
		rgb(40, 0, 68) 0%,
		rgb(57, 0, 68) 39%,
		rgb(57, 0, 68) 63%,
		rgb(40, 0, 68) 100%
	);
}
.dashboard-card__category {
	display: block;
	font-size: 69%;
	opacity: 0.69;
	line-height: 1;
	text-transform: uppercase;
}

.dashboard-link {
	text-decoration: none;
	color: rgba(var(--vinisto-color-white), 0.9);
}
