.container {
	max-width: 1112px;
	padding: 2.75rem 2rem 7rem;
	margin: 0 auto;
	font-family: var(--font-family-roboto);
	font-size: 1rem;
	color: rgb(var(--vinisto-color-darker-gray));
	--base-gap: 3.5rem;
	--h1-decoration-width: 404px;
}

.h1 {
	font-family: var(--font-family-ubuntu);
	font-size: 1.875rem;
	text-align: center;
	position: relative;
	padding-block-start: 0;
	line-height: 1;
	padding-block-end: 0.75rem;
	margin-block-end: var(--base-gap);
}

.h1::after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: calc(50% - calc(var(--h1-decoration-width) / 2));
	height: 1px;
	background-color: rgb(var(--vinisto-color-green));
	width: var(--h1-decoration-width);
}

.h2 {
	font-family: var(--font-family-ubuntu);
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 1.75;
}

.subheading {
	text-align: center;
	font-weight: normal;
	position: relative;
	top: -1.5rem;
	margin-block-end: 2.5rem;
}

.subheading > p {
	margin-inline-start: auto;
	margin-inline-end: auto;
	line-height: 1.5;
	max-width: 50ch;
	text-wrap: balance;
}

.section {
	display: flex;
	align-items: center;
	margin-block-end: var(--base-gap);
	gap: var(--base-gap);
}

.image {
	object-fit: cover;
	max-width: 100%;
	height: auto;
}

.textContent {
	flex: 0 1 512px;
}

.textContent > p {
	line-height: 1.5;
	font-weight: normal;
	margin-block-end: 1.5rem;
}

.cta {
	display: inline-block;
	border: none;
	font-family: var(--font-family-ubuntu);
	font-weight: 400;
	font-size: 1.125rem;
	border-radius: 0;
	margin-block-start: 0.5rem;
	padding: 0.5rem 3rem;
	background-color: rgb(var(--vinisto-color-green));
	color: rgb(var(--vinisto-color-white));
	transition: opacity 300ms ease-out;
}

.cta:hover {
	color: rgb(var(--vinisto-color-white));
	opacity: 0.85;
}

@media (min-width: 768px) {
	.section:nth-of-type(odd) > div:nth-of-type(1) {
		order: 2;
	}

	.section:nth-of-type(odd) > div:nth-of-type(2) {
		order: 1;
	}
}

@media (max-width: 767.98px) {
	.section {
		flex-wrap: wrap;
		justify-content: center;
	}

	.textContent {
		text-align: center;
	}
}
