.wrapper {
	border: 1px solid rgb(var(--vinisto-color-lighter-gray));
	display: flex;
	gap: 30px;
	width: 100%;
}

.wrapper :global(.discount-coupon-box-wrapper) {
	margin-inline: 0;
}

.fillWidthWrapper {
	flex-direction: row;
}

.infoImageWrapper {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	justify-content: space-between;
	gap: 30px;
}

.fillWidthWrapper .infoImageWrapper {
	gap: 30px;
}

.halfWidthWrapper .infoImageWrapper {
	flex-direction: column;
}

.fillWidthWrapper .info {
	max-width: 676px;
}

.halfWidthWrapper :global(.quantity-box-wrapper) {
	margin-bottom: 0;
}

.halfWidthWrapper .shopControlsWrapper > div {
	padding-bottom: 0;
}

.halfWidthWrapper .info {
	padding-right: 20px;
}

.imageContainer {
	flex-shrink: 0;
	background-color: rgb(var(--vinisto-color-lighter-gray));
	margin: 20px;
	margin-right: 0;
}

.image {
	aspect-ratio: 3/4;
	object-fit: contain;
}

.fillWidthWrapper .image {
	width: 200px;
}

.halfWidthWrapper .image {
	width: 300px;
}

.info {
	display: flex;
	flex-direction: column;
	gap: 16px;
	flex-grow: 1;
}

.halfWidthWrapper .info {
	margin-top: 20px;
}

.fillWidthWrapper .info {
	margin-top: 52px;
	margin-bottom: 52px;
}

.info .producer span,
.info .producer span span {
	color: rgb(var(--vinisto-color-green));
	font-size: 14px;
	font-weight: 300;
}

.name {
	font-size: 20px;
	color: rgb();
	font-weight: bold;
}

.descriptionWrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.shopControlsWrapper {
	background-color: rgb(var(--vinisto-color-lighter-gray));
	padding: 24px;
	display: flex;
	flex-shrink: 0;
}

.fillWidthWrapper .shopControlsWrapper {
	flex-basis: 372px;
	padding: 30px;
}

.shopControls {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.shopControls > div {
	padding-left: 0;
	padding-right: 0;
}

.shopControls > div :global(.saleOverPriceVat) {
	font-size: 1.875rem;
	font-weight: 500;
}

.shopControls > div :global(.saleOverPriceNoVat) {
	font-family: var(--font-family-ubuntu);
	font-size: 0.875rem;
	font-weight: 400;
	color: rgb(var(--vinisto-color-darker-gray));
}

.description,
.description > *,
.evaluation {
	margin-bottom: 0;
	color: rgb(var(--vinisto-color-darker-gray));
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
}

@media (max-width: 1024px) {
	.wrapper {
		flex-direction: column;
	}

	.infoImageWrapper {
		flex-direction: column;
	}

	.fillWidthWrapper .image,
	.halfWidthWrapper .image {
		width: unset;
		margin-right: 20px;
		margin-bottom: 0px;
	}

	.fillWidthWrapper .info,
	.halfWidthWrapper .info {
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 10px;
		margin-right: 10px;
		padding-right: 0;
	}

	.fillWidthWrapper .shopControlsWrapper,
	.halfWidthWrapper .shopControlsWrapper {
		flex-basis: 100%;
		padding-top: 24px;
		padding-bottom: 24px;
		padding-left: 30px;
		padding-right: 30px;
		display: flex;
		flex-direction: column;
	}

	.shopControlsWrapper > div {
		padding-bottom: 0;
	}

	.shopControlsWrapper :global(.price-with-badge-wrapper) {
		margin-bottom: 0;
	}

	.shopControlsWrapper :global(.availability-delivery-wrapper) {
		order: 1;
		margin-top: 14px;
		margin-bottom: 20px;
	}

	.shopControlsWrapper :global(.quantity-box-wrapper) {
		margin-bottom: 0;
	}

	.shopControlsWrapper :global(.quantity-box-wrapper) > button {
		width: 100% !important;
		max-width: 100% !important;
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
	}
}
