.bundle-detail-images-container {
	display: flex;
	flex-wrap: wrap;
}
.bundle-detail-images-container-image-wrapper {
	position: relative;
	width: 9em;
	height: 9em;
	border: 1px solid #eaeaea;
	margin: 0.125em;
}
.bundle-detail-images-container-image-wrapper.main {
	border: 1px solid rgb(var(--vinisto-color));
}
.bundle-detail-images-container-image-wrapper .delete-icon {
	position: absolute;
	top: 5px;
	right: 5px;
	height: 20px;
	width: 22px;
	min-width: 22px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	align-self: center;
	font-size: 14px !important;
	color: rgb(var(--vinisto-color));
	cursor: pointer;
}
.bundle-detail-images-container-image-wrapper .image {
	height: 100%;
	width: 100%;
	-o-object-fit: contain;
	object-fit: contain;
}
.bundle-detail-images-container-image-wrapper .main-title {
	position: absolute;
	bottom: 0;
	text-align: center;
	background-color: rgb(var(--vinisto-color));
	color: #fff;
	width: 100%;
	opacity: 0;
	transition: 0.1s;
}
.bundle-detail-images-container-image-wrapper:hover .main-title {
	opacity: 1;
}
