.wrapper {
	font-family: var(--font-family-roboto);
	background: rgb(var(--vinisto-color-white));
	position: relative;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	width: 100%;
	overflow: hidden;
	font-family: var(--font-family-roboto);
}

.textWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.textIcon {
	margin: 0 0.75rem;
	height: 1.1875rem;
	width: auto;
}

.textIcon path {
	fill: rgb(var(--vinisto-color-white));
}

.textIconGreen path {
	fill: rgb(var(--vinisto-color-success));
}

.progressBarInProgress .textIcon path {
	fill: rgb(var(--vinisto-color-white));
}

.progressIcon {
	margin: 0 0.75rem;
	height: 1.5rem;
	width: auto;
}

.progressIcon path {
	fill: rgb(var(--vinisto-color-white));
}

.progressIconGreen path {
	fill: rgb(var(--vinisto-color-success));
}

.progressBar {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: inset 1px 3px 6px 0px rgba(var(--vinisto-color-white), 0.25);
	width: 100%;
	max-width: 768px;
	overflow: hidden;
	color: rgb(var(--vinisto-color-white));
	z-index: 10;
	color: rgb(var(--vinisto-color-white));
	background: rgba(var(--vinisto-color-darker-gray), 0.4);
}

.progressBarCompleted {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	max-width: 100%;
	background: rgb(var(--vinisto-color-green));
	z-index: -1;
	pointer-events: none;
	box-shadow: inset 1px 3px 6px rgba(var(--vinisto-color-white), 0.25);
	transition: width 0.3s;
}

.wrapperSuccess .progressBar {
	color: rgb(var(--vinisto-color-white));
}

.wrapperSuccess .progressIcon {
	fill: rgb(var(--vinisto-color-white));
}

.wrapperSuccess .progressBar,
.wrapperSuccess .progressBarCompleted {
	background: rgb(var(--vinisto-color-light-green));
}

.wrapperBox {
	font-size: 1.125rem;
}

.wrapperBox.wrapperEmpty .progressBar {
	box-shadow: none;
	background: rgb(var(--vinisto-color-white));
	color: rgb(var(--vinisto-color-darker-gray));
	border: 1px solid rgba(var(--vinisto-color-darker-gray), 0.16);
}

.wrapperBox .progressBar {
	height: 1.5rem;
	line-height: 1.5rem;
}

.wrapperHorizontal.wrapperEmpty .progressBar {
	box-shadow: none;
	background: rgb(var(--vinisto-color-white));
	color: rgb(var(--vinisto-color-darker-gray));
	border: 1px solid rgba(var(--vinisto-color-darker-gray), 0.16);
}

.wrapperHorizontal.wrapperEmpty .progressBar .textIcon path {
	fill: rgb(var(--vinisto-color-green));
}

.wrapperHorizontal .progressBar {
	padding: 0.125rem 0;
}

.wrapperSmallHorizontal .progressBar {
	padding: 0.1rem 0;
	font-size: 0.9rem;
	max-width: unset;
}

.wrapperSmallHorizontal .textIcon,
.wrapperSmallHorizontal .progressIcon {
	height: 0.8rem;
	margin: 0 0.5rem;
}

.wrapperWideHorizontal {
	font-family: var(--font-family-ubuntu);
	width: 578px;
}

.wrapperWideHorizontal .progressBar {
	padding: 0.1563rem 0;
	font-size: 1.125rem;
	max-width: unset;
}

.wrapperWideHorizontal .progressIcon {
	height: 1.1875rem;
	margin: 0 1rem;
}

.wrapperBasketHorizontal .progressBar {
	font-family: var(--font-family-ubuntu);
	font-size: 0.75rem;
	font-weight: 500;
	padding: 0.4375rem 0.5rem;
}

.wrapperBasketHorizontal .progressBar .light {
	font-weight: 500;
}

.wrapperBasketHorizontal .progressIcon:first-of-type,
.wrapperBasketHorizontal .textIcon:first-of-type {
	margin: 0 2rem 0 0.5rem;
}

.wrapperBasketHorizontal .progressIcon:last-of-type,
.wrapperBasketHorizontal .textIcon:last-of-type {
	margin: 0 0.5rem 0 2rem;
}

.wrapperBasketHorizontal .progressIcon {
	height: 1.1875rem;
}

.wrapperBasketHorizontal .progressBarInProgress .progressBarCompleted {
	background: transparent
		linear-gradient(
			90deg,
			rgba(var(--vinisto-color-lighter-green)) 0%,
			rgba(var(--vinisto-color-green)) 100%
		)
		0% 0% no-repeat padding-box;
}

.freeFull {
	text-transform: uppercase;
	font-weight: 700;
}

.wrapperSmallVertical {
	width: 100%;
}

.wrapperSmallVertical .textWrapper {
	margin-top: 0.5rem;
}

.wrapperSmallVertical .text {
	font-size: 0.8rem;
}

.wrapperSmallVertical .textIcon {
	height: 0.8rem;
	margin: 0 0.35rem 0 0;
}

.wrapperSmallVertical .progressBar {
	font-size: 0.9rem;
}

.wrapperPopup {
	width: -moz-max-content;
	width: max-content;
	font-size: 1.125rem;
	gap: 0;
}

.wrapperBanner {
	height: 100%;
	box-shadow: 1px 2px 8px 0px rgba(var(--vinisto-color-darker2), 0.2);
}

.wrapperBanner.wrapperSuccess .progressBar {
	color: rgb(var(--vinisto-color-white));
}

.wrapperBanner.wrapperSuccess .progressBar .progressIcon {
	fill: rgb(var(--vinisto-color-black));
}

.wrapperBanner.wrapperSuccess .progressBar .progressBarCompleted {
	background: rgb(var(--vinisto-color));
}

.wrapperBanner .progressBar {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	font-size: 1.25rem;
}

.wrapperBanner .progressBarCompleted {
	width: 100% !important;
}

.wrapperBanner .progressBar .progressIcon {
	height: 1.75rem;
	margin: 0 2rem;
}

.text,
.progressTextFull {
	color: rgb(var(--vinisto-color-darker-gray));
}

.bolder {
	font-weight: 500;
}

.light {
	font-weight: 300;
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
	.wrapperWideHorizontal {
		width: 470px;
	}
}
