.container {
	max-width: var(--category-detail-max-width);
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 2.8rem;
	padding-bottom: 0.5625rem;
	border-bottom: 1px solid rgb(var(--vinisto-color));
	font-weight: 700;
	margin-bottom: 0.7rem;
}

.heading {
	margin: 0;
	flex-grow: 1;
}
