.orderGrid {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-between;
	margin-top: 1rem;
	font-size: 0.875rem;
	font-family: var(--font-family-roboto);
	color: rgb(var(--vinisto-color-darker-gray));
}

.orderNumber {
	grid-area: number;
	font-size: 0.875rem;
	font-weight: 700;
}

.orderNumberLink {
	text-decoration: underline;
}

.orderCreatedAtDate {
	grid-area: date;
	font-weight: 400;
}

.stateHeader, .dateHeader {
	font-size: 0.625rem;
	text-transform: uppercase;
	font-weight: 700;
	color: rgba(var(--vinisto-color-darker-gray), 0.6);
	letter-spacing: 1px;
}

.stateHeader {
	grid-area: state-header;
}

.dateHeader {
	grid-area: date-header;
}

.orderState {
	grid-area: state;
	color: var(--state-color);
	font-weight: 700;
}

.orderState::before {
	display: inline-block;
	content: '';
	height: 0.6em;
	width: 0.6em;
	line-height: 1;
	background-color: currentColor;
	border-radius: 100%;
	margin-right: 0.3rem;
}

.orderPriceWrapper {
	font-weight: 400;
	font-size: 0.75rem;
	margin-top: 0.5rem;
}

.orderPrice,
.orderPriceSecondary {
	font-family: var(--font-family-ubuntu);
	justify-self: end;
}

.orderPrice {
	grid-area: price;
	font-size: 1.25rem;
	color: rgb(var(--vinisto-color-red));
	font-weight: 500;
}

.orderPriceSecondary {
	grid-area: price-with-vat;
	font-size: 0.75rem;
	align-self: start;
}

.buttons {
	grid-area: actions;
	display: flex;
	justify-content: space-between;
	gap: 0.75rem;
}

@media (max-width: 1199.98px) {
	.buttons > * {
		flex: 1;
	}
}

.overdueNote {
	grid-area: payment-state;
	color: rgb(var(--vinisto-color-red));
	font-size: 0.625rem;
	text-transform: uppercase;
	font-weight: 700;
}

.tableHeader {
	color: rgba(var(--vinisto-color-darker-gray), 0.6);
	letter-spacing: 1px;
	font-size: 0.625rem;
	text-transform: uppercase;
	font-weight: 700;
}

.invoice-0,
.invoice-1 {
	display: flex;
	align-items: center;
}

.invoice-0 {
	grid-area: invoice-0;
}

.invoice-1 {
	grid-area: invoice-1;
}

.invoiceDueTo {
	grid-area: invoice-due-to;
}

.invoiceLink {
	text-align: left;
}

.invoiceLink:hover {
	text-decoration: underline;
}

.downloadFileIcon {
	flex-shrink: 0;
}

.order {
	display: grid;
	grid-template-areas:
		'number price'
		'invoice-0 price-with-vat'
		'invoice-1 price-with-vat'
		'state-header date-header'
		'state date'
		'payment-state invoice-due-to'
		'actions actions';
	grid-template-columns: 1fr 1fr;
	font-size: 0.875rem;
	row-gap: 0.25rem;
	column-gap: 1rem;
	padding: 0.5rem;
	margin-bottom: 0.25rem;
	color: rgb(var(--vinisto-color-darker-gray));
	align-items: end;
}

.order.overdueOrder,
.order.overdueOrder:first-child,
.order.overdueOrder:hover {
	border: 1px solid rgba(var(--vinisto-color-red), 0.3);
	background-color: rgba(var(--vinisto-color-red), 0.08);
}

@media (min-width: 1200px) {
	.order {
		grid-template-areas:
			'number state date price actions'
			'invoice-0 payment-state invoice-due-to price-with-vat actions'
			'invoice-1 payment-state invoice-due-to price-with-vat actions';
		grid-template-columns: 16rem 14rem 12rem 12rem 1fr;
	}

	.order:hover {
		background-color: rgba(var(--vinisto-color-darker-gray), 0.05);
	}

	.stateHeader, .dateHeader {
		display: none;
	}

	.orderPrice {
		font-size: 1.375rem;
		font-family: var(--font-family-ubuntu);
	}

	.orderPriceSecondary {
		font-size: 0.75rem;
	}

	.buttons {
		grid-area: actions;
		gap: 0.5rem;
		align-items: center;
		justify-content: end;
		height: 100%;
	}
}
