.list {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
	margin-bottom: 0.75rem;
}

.clickable {
	cursor: pointer;
}

@media (max-width: 767.98px) {
	.list {
		grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
	}
}