.feeInfo {
  padding: 1rem;
  background: linear-gradient(15deg, rgb(40, 0, 68) 0%, rgb(57, 0, 68) 39%, rgb(57, 0, 68) 63%, rgb(40, 0, 68) 100%);
  color: rgb(var(--vinisto-color-white));
  margin-bottom: 1rem;
}

.feeTitle {
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

.feeTotalValue {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.feeDetails {
  background-color: rgba(var(--vinisto-color-white), 0.2);
  padding: 0.5rem;
  font-size: 0.75rem;
}