.container {
  padding: 0.125rem 1.5rem 0.125rem 0;
}

.toggleButton {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
  text-align: left;
  color: #fff;
  padding: 0;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.toggleButton svg {
  transition: transform 0.3s ease-in-out;
}

.container.open .dropdown {
  transform: scaleY(1);
}

.container.open .toggleButton svg {
  transform: rotate(180deg);
}

.dropdown {
  transform: scaleY(0);
  transform-origin: 0 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 99;
  width: 100%;
  box-shadow: 0 3px 6px rgba(var(--vinisto-color), 0.16);
  transition: transform 0.3s linear;
}

.dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.item {
  background-color: rgb(var(--vinisto-color-white));
  color: rgb(var(--vinisto-color));
  padding: 1.125rem 1.5rem;
}

.manageItem {
  composes: item;
  border-bottom: 2px solid rgb(var(--vinisto-color-gold));
  cursor: default;
}

.supplierItem {
  composes: item;
  cursor: pointer;
}

.supplierItem:nth-child(odd) {
  background-color: rgb(var(--vinisto-light-bg));
}

.supplierItem:hover {
  background-color: rgb(var(--vinisto-color-white));
}

.supplierItem:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.singleSupplierTitle {
  color: #fff;
  font-weight: bold;
}
