.topBannerCarousel {
	/* prevent layout shift */
	min-height: 272px;
}

/* 500px is constant from carousel javascript */
@media screen and (max-width: 500px) {
	.topBannerCarousel {
		/* prevent layout shift */
		min-height: 232px;
	}
}

@media screen and (max-width: 375px) {
	.topBannerCarousel {
		/* prevent layout shift */
		min-height: 192px;
	}
}
