.vinisto-recommended__heading {
	font-weight: bold;
	margin-bottom: 0.375rem;
}

.vinisto-recommended__wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.vinisto-recommended__item {
	display: inline-block;
	text-align: center;
}

.vinisto-recommended__item__img {
	width: 80px;
	border-radius: var(--vinisto-radius-big);
	overflow: hidden;
}

.vinisto-recommended__item__img img {
	width: 100%;
}

.vinisto-recommended.vinisto-recommended--review {
	margin-top: 0.75rem;
}

.vinisto-recommended.vinisto-recommended--review .vinisto-recommended__wrap {
	justify-content: flex-start;
}

.vinisto-recommended.vinisto-recommended--review .vinisto-recommended__item {
	margin: 0.75rem;
}
