.checkoutButton {
	display: block;
	text-align: center;
	font-family: var(--font-family-ubuntu);
	font-size: 1.125rem;
	font-weight: 500;
	width: 100%;
	background-color: rgb(var(--vinisto-color-green));
	color: rgb(var(--vinisto-color-white));
	border: none;
	text-transform: uppercase;
	padding: 0.875rem;
	transition: background-color 0.2s ease-in-out;
}

.checkoutButton:hover {
	background-color: rgb(var(--vinisto-color-green-hover));
	color: white;
}

@media (max-width: 1199.98px) {
	.checkoutButton {
		font-size: 0.9375rem;
		padding: 0.5625rem;
	}
}

:is(.checkoutButton):focus-visible {
		outline: 2px solid rgba(var(--vinisto-color-green), 0.75);
}
