.noOrder {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	font-size: 1rem;
	height: 300px;
}

.overdueFilter {
	display: flex;
	align-items: center;
	justify-content: center;
}

.overdueFilter::before, .overdueFilter::after {
	display: none;
}

.overdueFilter .label::after {
	display: block;
  content: attr(data-content);
  font-weight: 500;
  height: 0px;
  color: transparent;
  overflow: hidden;
  visibility: hidden;
}

@media (min-width: 768px) and (max-width: 1199.98px) {
	.noOrder {
		font-size: 1.25rem;
		height: 300px;
	}
}

@media (min-width: 1200px) {
	.noOrder {
		height: 500px;
		font-size: 1.625rem;
	}
}
