.blog-article-specifications {
	max-width: 938px;
}
.blog-article-specifications__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	-moz-column-gap: 2.8rem;
	column-gap: 2.8rem;
	padding-bottom: 0.5625rem;
	border-bottom: 1px solid rgb(var(--vinisto-color));
	font-weight: 500;
	margin-bottom: 0.7rem;
}
.blog-article-specifications__header .blog-article-specifications__heading {
	margin-top: 0;
}
.blog-article-specifications__heading {
	margin-bottom: 0;
	flex-grow: 1;
	font-size: 1rem;
	font-weight: 500;
	margin-top: 1.5rem;
}
