.motivationAccordionArrow {
	cursor: pointer;
	margin: 1.5em 0.75em auto auto;
}

.highlightVinisto {
	color: rgb(var(--vinisto-color-green));
}

.icon {
	width: 2.25rem;
	height: 2.25rem;
}

.motivationHeading {
	font-family: var(--font-family-ubuntu);
	font-size: 0.875rem;
	font-weight: 500;
	margin-bottom: 0;
}

.motivationText {
	font-family: var(--font-family-roboto);
	font-size: 0.75rem;
	line-height: 1rem;
	font-weight: 400;
	margin-bottom: 0;
}
