.itemLink {
	color: rgb(var(--vinisto-color-darker-gray));
	cursor: pointer;
	display: block;
	font-weight: 400;
	position: relative;
	width: calc(100% - 2rem);
	margin: 0 auto;
	padding: 0.6875rem 0;
}

.itemLink::before {
	content: '';
	background-color: rgba(var(--vinisto-color-darker-gray), 0.1);
	bottom: 0;
	display: block;
	height: 1px;
	position: absolute;
	width: 100%;
}
