.component {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

.picker {
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
  display: grid;
  place-items: center;
  border: unset;
  background: unset;
  padding: 0;
}

.icon {
  max-width: 1.25rem;
  max-height: 1.25rem;
}

.selected {
  background: rgba(var(--vinisto-color), 0.15);
}