.modal {
	padding: 0.125rem 0 1rem 0;
}

.subheading {
	font-family: var(--font-family-ubuntu);
	font-size: 1rem;
	font-weight: 500;
	color: rgb(var(--vinisto-color-darker-gray));
	margin-bottom: 0.6875rem;
}

.subheading .vinistoplus {
	color: rgb(var(--vinisto-color-wine));
}

.registerTitle {
	font-family: var(--font-family-ubuntu);
	font-size: 1rem;
	font-weight: 400;
	color: rgb(var(--vinisto-color-darker-gray));
	margin: 2rem 0 0.5rem;
}

@media (max-width: 1199.98px) {
	.subheading {
		text-align: center;
		margin-bottom: 0.5625rem;
	}
}
