.mainWrapper {
	padding-bottom: 4rem;
}

.economicWrapper .productsWrapper {
	background-color: rgb(var(--vinisto-color-light-green));
}

.productsWrapperPremium {
	background-color: rgb(var(--vinisto-color-light-gold));
}

.productsWrapper {
	background-color: rgb(var(--vinisto-color-lighter-gray));
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 17px 16px 67px 16px;
	transform: skewY(-2deg);
	box-shadow: 0px 20px 80px 0px rgba(var(--vinisto-color-darker-gray), 0.1),
		0 1px 8px -1px rgba(var(--vinisto-color-darker-gray), 0.125);
}

.slickWrapper {
	height: 225px;
	transform: skewY(2deg);
}

.slickBundleWrapper {
	display: flex;
}

.slickBundleItem {
	background: none;
	border: none;
	margin: 0 3px;
	overflow: hidden;
}

.adviseDescription {
	color: rgb(var(--vinisto-color-dark-gray));
	margin-bottom: 16px;
	margin-top: 50px;
	text-align: center;
}

.adviseHeader {
	font-family: var(--font-family-ubuntu);
	font-size: 1rem;
	font-weight: 500;
	margin-bottom: 0.4rem;
}

.adviseContent {
	font-family: var(--font-family-roboto);
	font-size: 14px;
	font-style: italic;
	padding: 0 1.5rem;
	@supports (text-wrap: balance) {
		text-wrap: balance;
	}
}

.adviseContent p {
	margin: 0;
}

.otherProductsWrapper {
	display: flex;
	width: 20%;
	transform: skewY(2deg);
	position: relative;
	top: 30px;
}

.otherProductsSkeleton {
	display: flex;
	column-gap: 3px;
	margin-left: 10px;
}

.otherProductThumbnail {
	cursor: pointer;
	background: none;
	border: none;
	display: flex;
	justify-content: center;
	width: 21px;
	height: 85px;
	margin-left: 16px;
	overflow: hidden;
}

.otherProductThumbnailImg {
	cursor: pointer;
	max-height: 85px;
}

.slickDots {
	display: flex;
	justify-content: center;
	width: 100%;
}

.slickDot {
	background: none;
	border: none;
	color: rgb(var(--vinisto-color-green));
	cursor: pointer;
	font-size: 3rem;
	line-height: 2.5rem;
	-webkit-text-fill-color: rgb(var(--vinisto-color-green));
}

.slickDotInactive {
	color: rgb(var(--vinisto-color-dark-gray));
	-webkit-text-fill-color: rgb(var(--vinisto-color-dark-gray));
}
