:root {
	--dimension: 1.5rem;
}

.buttonGroup {
	display: flex;
	padding-bottom: 0.25rem;
	gap: 2px;
}

.button {
	all: unset;
	border: 1px solid transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.25rem;
	border-radius: 0.2rem;
	min-width: var(--dimension);
	height: var(--dimension);
	color: rgb(var(--vinisto-color-darker-gray));
}

.button.active {
	color: rgba(var(--vinisto-color), 0.8);
	background-color: rgba(var(--vinisto-color), 0.15);
}

.label {
	font-weight: 600;
	font-size: 1.25rem;
}
