.label {
	font-family: var(--font-family-roboto);
	display: block;
	font-size: 0.75rem;
	font-weight: 500;
	margin-bottom: 0.125rem;
	color: rgb(var(--vinisto-color-darker-gray));
	cursor: pointer;
}

.isRequired::after {
	content: '*';
	font-size: inherit;
	margin-left: 0.125rem;
}
