.table {
	font-size: 0.9375rem;
	width: 100%;
}

.tableRow:nth-child(odd) {
	background-color: #ffffff;
}

.tableRow:nth-child(even) {
	background-color: #f6f6f6;
}

.tableBody {
	border-top: 1px solid #707070;
	border-bottom: 1px solid #707070;
}

.tableRow td,
.tableRow th {
	height: 40px;
	padding: 0px 0.75em;
}

.table tbody td:not(:last-child) {
	border-right: 1px solid #70707040;
}

.table thead th {
	padding: 0 0.25rem 2px;
}

.table thead th:not(:last-child) {
	border-right: 1px solid #70707040;
}

.table thead tr {
	text-align: left;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0px;
	color: #937fa1;
	opacity: 1;
}

.table .headerCaptionContainer {
	margin-bottom: auto;
	display: flex;
	flex-wrap: nowrap;
	padding-right: 0.25rem;
	padding-bottom: 0.125rem;
	gap: 0.125rem;
}

.table .headerCaption {
	font-weight: 400;
}

.table td img {
	width: 24px;
	height: auto;
	margin: 0.25rem;
}

.table button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.table :global(.form-control) {
	font-size: 0.875rem;
	padding: 0.25rem 0.5rem;
}

.table .sortIcon {
	height: 100%;
	width: 1rem;
	flex-shrink: 0;
	fill: rgba(var(--vinisto-color), 0.8);
}

.table .sortUndeterminate {
	opacity: 0.4;
}

.table .sortUp {
	transform: translateY(20%);
}

.table .sortDown {
	transform: translateY(-20%);
}
