.headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 0 !important;
    padding-inline: 1rem;
    margin-bottom: 1rem;
}

.countrySelect {
    max-width: fit-content;
}

.colorColumn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.colorColumn::before {
    content: '';
    display: flex;
    height: 1rem;
    width: 1rem;
    background-color: var(--tagColor);
}