.vinisto-user-orders__mobile-filter__btn {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid rgba(var(--vinisto-color-gold), 0.5);
	border-radius: var(--vinisto-radius-small);
	background-color: rgb(var(--vinisto-color-white));
	padding: 0.25rem 0.75rem 0.25rem 0.375rem;
	margin-bottom: 0.75rem;
	font-size: 0.875rem;
	color: rgb(var(--vinisto-color));
	cursor: pointer;
	z-index: 5;
}
.vinisto-user-orders__mobile-filter__btn:hover {
	text-decoration: underline;
}

.vinisto-user-orders__mobile-filter__list {
	display: none;
	flex-flow: column;
	position: absolute;
	top: -1.0625rem;
	padding: 0.375rem 0.375rem 0 0.375rem;
	background-color: rgb(var(--vinisto-color-white));
	box-shadow: 0px 2px 8px 0px rgba(16, 3, 54, 0.4);
	border-bottom-left-radius: var(--vinisto-radius-big);
	border-bottom-right-radius: var(--vinisto-radius-big);
	width: 100%;
	z-index: 4;
}
.vinisto-user-orders__mobile-filter__list.open {
	display: flex;
}

.vinisto-user-orders__mobile-filter__list__item {
	font-size: 0.875rem;
	color: rgb(var(--vinisto-color));
	border-bottom: 1px solid rgba(var(--vinisto-color-gold), 0.5);
	padding: 0.4375rem 0;
}
.vinisto-user-orders__mobile-filter__list__item.active {
	font-weight: 500;
}
.vinisto-user-orders__mobile-filter__list__item:last-of-type {
	border-bottom: none;
}

.vinisto-user-orders__mobile-filter.open
	.vinisto-user-orders__mobile-filter__list {
	display: flex;
}
.vinisto-user-orders__mobile-filter.open
	.vinisto-user-orders__mobile-filter__btn {
	text-decoration: underline;
}
.vinisto-user-orders__mobile-filter.open
	.vinisto-user-orders__mobile-filter__btn
	svg {
	transform: rotate(180deg);
}
