.linkedBundlesTitle {
	font-family: var(--font-family-ubuntu);
	font-size: 1.5rem;
	font-weight: 500;
	color: rgb(var(--vinisto-color-darker-gray));
}

.linkedBundles {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
	gap: 0.5rem;
}

.linkedBundles :global(.vinisto-wine__item) {
	flex: 0 0 var(--vinisto-product-box-width);
}

.linkedBundlesCarousel {
	overflow: hidden;
}

.linkedBundlesCarousel :global(.vinisto-card) {
	padding: 0;
	box-shadow: none;
}

.linkedBundlesCarousel :global(.vinisto-card__heading) {
	font-family: var(--font-family-ubuntu);
	font-size: 1.5rem;
	font-weight: 500;
	color: rgb(var(--vinisto-color-darker-gray));
	margin-bottom: 1.5rem;
}

.linkedBundlesCarousel :global(.alice-carousel__stage-item) {
	min-width: 12rem;
	margin: 0;
	padding: 0;
}

.linkedBundlesCarousel :global(.alice-carousel__stage-item:first-child) {
	margin-left: 0;
}

.linkedBundlesCarousel :global(.vinisto-wine__item) {
	width: var(--vinisto-product-box-width);
}

@media (max-width: 1199.98px) {
	.linkedBundlesWrapper {
		max-width: 100%;
	}

	.linkedBundlesTitle {
		font-size: 1.25rem;
	}

	.linkedBundlesCarousel :global(.vinisto-wine__item),
	.linkedBundlesCarousel :global(.alice-carousel__stage-item) {
		min-width: 9.375rem;
		width: auto;
		max-width: 12rem;
	}

	.linkedBundles {
		grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
	}

	.linkedBundles :global(.vinisto-wine__item) {
		flex: 0 0 9.375rem;
	}
}

@media (max-width: 767.98px) {
	.linkedBundlesCarousel {
		margin: 0 -0.5rem;
	}
}

.carousel :global(.vinisto-wine__item) {
	height: calc(100% - 2rem);
}
