.companyInfo {
  margin-inline-start: 3.25rem;
  border: 1px solid rgba(var(--vinisto-color-darker-gray), 0.15);
  color: rgb(var(--vinisto-color-darker-gray));
  background-color: rgba(var(--vinisto-color-darker-gray), 0.075);
  font-family: var(--font-family-roboto);
  text-transform: uppercase;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.companyName {
  font-size: 0.75rem;
  font-weight: 700;
}

.ico, .priceLevel {
  font-size: 0.6875rem;
}

.priceLevel {
  font-weight: 700;
}