.wrapper,
.skeleton {
	font-size: 1.125rem;
	font-weight: 700;
	color: rgb(var(--vinisto-color-darker-gray));
	text-decoration: underline;
}

.skeleton {
	--skeleton-size: 1.375rem;
	width: var(--skeleton-size);
	height: var(--skeleton-size);
}

@media (max-width: 1199.98px) {
	.wrapper,
	.skeleton {
		font-size: 1rem;
	}

	.skeleton {
		--skeleton-size: 1.125rem;
		width: var(--skeleton-size);
		height: var(--skeleton-size);
	}
}
