.wrapper * {
	font-family: var(--font-family-ubuntu) !important;
}

.wrapper {
	background-color: rgb(var(--vinisto-color-lighter-gray));
	padding: 2.5rem 1.5rem;
}

.title {
	font-size: 1.25rem !important;
	font-weight: 400;
}

@media (max-width: 767.98px) {
	.wrapper {
		background-color: transparent;
	}

	.title {
		font-size: 0.875rem !important;
		font-weight: 500;
		line-height: calc(16 / 14);
		text-align: center;
		margin-bottom: 0;
	}
}
