.vinisto-wine-tabs--category__right {
	font-family: var(--font-family-roboto);
	display: flex;
	padding-bottom: 0.5rem;
	width: auto;
	justify-content: space-between;
	margin-bottom: 0.25rem;
	margin-right: 1rem;
}

.vinisto-wine-tabs--category__view {
	margin-left: 1rem;
	cursor: pointer;
	opacity: 0.25;
}

.vinisto-wine-tabs--category__view.active {
	opacity: 1;
}

.vinisto-btn__category {
	background-color: rgb(var(--vinisto-color)) !important;
	box-shadow: inset 1px 3px 6px 0px rgba(var(--vinisto-color-white), 0.25) !important;
	margin-top: 0.5rem;
	padding-left: 1rem !important;
	padding-right: 1rem !important;
	white-space: nowrap;
}

.vinisto-btn__category.vinisto-btn__category--white {
	background-color: rgb(var(--vinisto-color-white)) !important;
	box-shadow: inset 1px 1px 4px 0px rgba(47, 18, 31, 0.5) !important;
	color: rgb(var(--vinisto-color));
}

.vinisto-next-products {
	margin: 0.5rem 0 1rem;
}

.vinisto-next-products .vinisto-btn__category {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.vinisto-next-products .vinisto-btn--next-prev {
	width: 7rem;
}

.vinisto-active-filters {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	margin: 0.5rem 0 0;
}

.vinisto-active-filters__item {
	flex: 0 0 auto;
	border: 1px solid rgba(var(--vinisto-color), 0.5);
	padding: 0.25rem 0.5rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.vinisto-active-filters__item__close {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.vinisto-active-filters__item__text {
	font-size: 1.0625rem;
	line-height: 1;
}

.vinisto-wide-wine-tabs.vinisto-wide-wine-tabs--category {
	font-family: var(--font-family-ubuntu);
}

@media (max-width: 1199.98px) {
	.vinisto-wine-tabs--category__right {
		margin-bottom: 0;
		margin-right: 0;
		align-items: center;
		flex-wrap: wrap;
	}
	.vinisto-category-header.vinisto-card {
		padding: 0;
	}

	.vinisto-wide-wine-tabs.vinisto-wide-wine-tabs--category nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.vinisto-wide-wine-tabs.vinisto-wide-wine-tabs--category::before {
		display: none;
	}

	.vinisto-wine-tabs--category__right__count {
		font-size: 0.875rem;
		display: inline-flex;
		align-items: center;
	}

	.vinisto-active-filters__item__text {
		font-size: 0.875rem;
	}

	.vinisto-filter__button.vinisto-btn {
		display: inline-block;
		width: auto;
		margin-left: 0.75rem;
		margin-bottom: 1rem;
	}
}
