.message {
	display: flex;
	align-items: stretch;
	width: 100%;
	border-width: 1px;
	border-style: solid;
}

.iconWrap {
	display: flex;
	align-items: center;
	background-color: rgba(var(--vinisto-color-message-alert), 0.15);
	padding: 0.25rem;
	border-right-width: 2px;
	border-right-style: solid;
}

.messageContent {
	flex: 1 1 auto;
	padding: 0.625rem;
	font-family: var(--font-family-roboto);
	font-size: 1rem;
	font-weight: 500;
	display: flex;
	align-items: center;
}

.message.alert {
	border-color: rgba(var(--vinisto-color-message-alert), 0.5);
}

.message.alert .iconWrap {
	border-color: rgb(var(--vinisto-color-message-alert));
}

.message.alert .messageContent {
	background-color: rgba(var(--vinisto-color-message-alert-dark), 0.33);
}

@media (max-width: 1199.98px) {
	.messageContent {
		font-size: 0.875rem;
	}
}
