.container {
	margin-bottom: 1.875rem;
}

.heading {
	font-family: var(--font-family-ubuntu);
	font-size: 1.25rem;
	font-weight: 300;
	color: rgb(var(--vinisto-color-darker-gray));
	margin-bottom: 0.625rem;
}

.description {
	font-size: 0.625rem;
	font-weight: 300;
	color: rgb(var(--vinisto-color-darker-gray));
}

.tips {
	display: flex;
	gap: 0.625rem;
	padding-left: 0.4375rem;
}

.tip {
	display: flex;
	align-items: center;
	gap: 0.375rem;
	padding: 0.375rem;
	border: 1px solid rgb(var(--vinisto-color-white));
	border-radius: 0.5rem;
	cursor: pointer;
	transition: border-color 0.2s linear;
}

.tip.chosen {
	border-color: rgb(var(--vinisto-color-green));
}

.name {
	flex: 1 1;
	font-size: 0.625rem;
	font-weight: 300;
	color: rgb(var(--vinisto-color-darker-gray));
}

.radio {
	--radio-size: 0.875rem;
	position: relative;
	width: var(--radio-size);
	height: var(--radio-size);
	border: 1px solid rgb(var(--vinisto-color-lighter-gray2));
	border-radius: 50%;
	margin: 0;
	transition: background-color 0.2s linear, border-color 0.2s linear;
}

.radio::before {
	--inset-radio-size: 0.375rem;
	display: block;
	content: '';
	width: var(--inset-radio-size);
	height: var(--inset-radio-size);
	background-color: rgb(var(--vinisto-color-white));
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: background-color 0.2s linear;
}

.tip.chosen .radio {
	background-color: rgb(var(--vinisto-color-green));
	border-color: rgb(var(--vinisto-color-green));
}

.hiddenRadio {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

@media (min-width: 1200px) {
	.tip:hover {
		border-color: rgb(var(--vinisto-color-green));
	}

	.tip:not(.chosen):hover .radio {
		border-color: rgb(var(--vinisto-color-darker-gray));
	}
}

@media (max-width: 1199.98px) {
	.heading {
		font-size: 1.125rem;
	}

	.description {
		margin-bottom: 0.625rem;
	}
}
