$smaller-text: 0.938rem;
$smaller-line-height: 1.125rem;
$vinisto-color: #440063;
$vinisto-color-dark: #12001B;
$vinisto-color-light-gray: #F9F6F7;
$vinisto-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .5),
inset 0 2px 4px 0 hsla(0, 0%, 100%, .75);
$vinisto-radius: 0.313rem;
$vinisto-radius-big: 0.625rem;

body {
    min-height: 100vh;
    background-color: $vinisto-color-light-gray;
}

body,
body * {
    font-family: "serenity",sans-serif;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

a {
    color: $vinisto-color;
    text-decoration: none;

    &:hover {
        color: $vinisto-color;
    }
}

*:focus {
    outline: none
}

.color-primary {
    color: $vinisto-color;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    max-width: 1365px;
}

.max-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;

    &.max-lines--2 {
        -webkit-line-clamp: 2;
    }

    &.max-lines--3 {
        -webkit-line-clamp: 3;
    }

    &.max-lines--4 {
        -webkit-line-clamp: 4;
    }

    &.max-lines--5 {
        -webkit-line-clamp: 5;
    }

    &.max-lines--6 {
        -webkit-line-clamp: 6;
    }

}

.form-control::placeholder {
    color: #000000;
    opacity: 0.5;
}

.logo-wrapper,
.function-button-wrapper {
    flex: 0 0 0%;
}

.logo-wrapper {
    height: 2.625rem;

    .logo img {
        margin-top: -.5rem;
    }
}

.h-50-1rem {
    height: calc(50% - .5rem);
    --bs-gutter-x: 1rem;
}

.mt-2rem {
    margin-top: 2rem;
}

.vinisto-input {
    padding: .563rem .75rem;
    position: relative;
    box-shadow: inset 1px 1px 4px 0px rgba(47, 18, 31, 0.5);
    border-radius: $vinisto-radius;
    border: none;
    outline: none;
    transition: box-shadow 0.3s ease-in-out;
    &:focus {
        outline: 2px solid rgba(98, 7, 46,.3);
        box-shadow: inset 1px 1px 4px 0px rgba(47, 18, 31, 0.3);
    }
}

.search-wrapper {
    form {
        width: 100%;
        max-width: 950px;
    }
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
}

header,
footer {
    width: 100vw;
    overflow: hidden;
    padding-bottom: 4px;
    background-color: #ffffff;
}

.vinisto-bg {
    background: rgb(146, 1, 63);
    background: -moz-linear-gradient(180deg, rgba(146, 1, 63, 1) 0%, rgba(98, 7, 46, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(146, 1, 63, 1) 0%, rgba(98, 7, 46, 1) 100%);
    background: linear-gradient(180deg, rgba(146, 1, 63, 1) 0%, rgba(98, 7, 46, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#92013f", endColorstr="#62072e", GradientType=1);
}

.vinisto-box-shadow {
    box-shadow: $vinisto-box-shadow;
    width: calc(100vw + 4px);
    margin-left: -2px;
}

.top-navbar,
.page-navbar,
.footer-nav {
    .nav-link {
        font-size: $smaller-text;
        line-height: $smaller-line-height;
    }
}

.cart-text {
    font-size: $smaller-text;
    line-height: $smaller-line-height;
}

.products-navbar {
    padding-top: 0.156rem;
    padding-bottom: 0.156rem;
    font-weight: bold;

    .nav-link {
        line-height: 1.188rem;
    }
}

.language-switcher {
    #dropDownLanguage {
        img {
            vertical-align: initial;
        }

        &::after {
            transition: transform .3s ease-in-out;
        }

        &.show::after {
            transform: translateY(0.375rem) rotate(180deg);
            filter: invert(11%) sepia(36%) saturate(5336%) hue-rotate(315deg) brightness(87%) contrast(106%) drop-shadow(0 1px 2px rgba(0, 0, 0, 0.3));
            ;
        }
    }

    .dropdown-menu {
        border: none;
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
        border-radius: $vinisto-radius;

        .dropdown-item:focus,
        .dropdown-item:hover {
            background-color: transparent;
            color: $vinisto-color;
        }
    }
}

.dropdown-toggle::after {
    border: none !important;
    content: url(../images/arrow-down.svg);
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #000000;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.search-wrapper {

    label {
        width: 100%;
        position: relative;

        &::before {
            display: inline-flex;
            content: '';
            background-image: url(../images/search_icon.svg);
            background-size: 20px 20px;
            height: 20px;
            width: 20px;
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 0.688rem;
            transform: translateY(-50%);
            cursor: pointer;
        }
    }

    .search-input {
        padding: .563rem .75rem;
        padding-left: 2.75rem;
        position: relative;
        box-shadow: inset 1px 1px 4px 0px rgba(47, 18, 31, 0.5);
        border-radius: $vinisto-radius;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border: none;
    }

}

.vinisto-btn {
    border-radius: $vinisto-radius;
    color: #ffffff;
    padding: .563rem 2.5rem;
    box-shadow: inset 2px 2px 3px 0px rgba(255, 255, 255, 0.5);
    border: none;
    opacity: 1;
    transition: opacity 300ms ease-out;

    &:hover {
        color: #ffffff;
        opacity: 0.85;
    }

    &.vinisto-btn--search {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

#content-wrapper>.container {
    margin-top: 16px;
}

.vinisto-product-square {
    flex: 0 0 128px;
    padding-bottom: 1.094rem;
}

.vinisto-product-square__wrap {
    background-color: $vinisto-color-light-gray;
    border-radius: $vinisto-radius-big;
    height: 128px;
    width: 128px;
    margin-top: 24px;
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
    }
}

.vinisto-product-square__wine {
    position: absolute;
    bottom: .5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    max-width: 90%;
    height: auto;
}

.vinisto-product-square__name {
    display: block;
    color: #000000;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.375rem;
    text-align: center;
    width: 100%;
    margin-top: .5rem;

    &:hover {
        color: #000000;
    }
}

.vinisto-card {
    border-radius: $vinisto-radius-big;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    height: 100%;
    background-color: #ffffff;
    padding: .5rem 1rem;
}

.vinisto-card__heading {
    font-size: 1.5rem;
    line-height: 2.188rem;
    margin-bottom: .5rem;
}

.vinisto-card__top-text {
    margin: .5rem 0;
    line-height: 1.375rem;
}

.vinisto-main-banner {
    flex: 1 1 950px;
    padding: 0;
}

.vinisto-main-banner__img {
    width: 950px;
    height: 288px;
    object-fit: cover;
}

.vinisto-main-banner__text {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.563rem;
    text-shadow: 1px 1px 5px #000;

    &:hover {
        color: #ffffff;
    }
}

.vinisto-card--cta {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-size: cover;
    transition: transform 200ms ease-in-out;

    &+* {
        flex: 1 1 100%;
    }

    &:hover {
        transform: scale(1.05);
    }
}

.vinisto-card--my-shop {
    background-image: url('../images/muj_sklep_background.png');
}

.vinisto-card--for-you {
    background-image: url('../images/help_box_background.png');
}

.col--my-shop {
    flex: 0 0 276px;
}

.vinisto-card--community {
    background-image: url('../images/join_community_background.png');
}

.vinisto-card--config {
    background-image: url('../images/wine_recommendation_background.png');
}

.vinisto-card__bottom-link {
    width: 100%;
    align-self: flex-end;
    text-align: right;

    a {
        color: #ffffff;
    }
}

.vinisto-wine-week {
    background-image: url('../images/vino_tydne_podklad_barva.svg');
    background-size: 110%;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;

    &::before {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        left: -1.5rem;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('../images/vino_tydne_textura_drevo.png');
    }
}

.vinisto-wine-week__bottle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-15deg);
    left: 3.5rem;
}

.vinisto-wine-week__info {
    width: 250px;
    margin-left: auto;
    color: #ffffff;

    .vinisto-wine-week__info__h2 {
        margin: 1rem 0 .75rem;
        font-size: 1.5rem;
    }

    .vinisto-wine-week__info__wine-name {
        font-size: 1.25rem;
        font-weight: bold;
        margin: .5rem 1rem;
    }

    .vinisto-wine-week__info__review {
        margin-left: 1.5rem;
        color: #ffffff;

        .vinisto-wine__review__wrap-count {
            color: #ffffff;
        }
    }

    .vinisto-wine-week__info__winery {
        margin: .25rem 0 .25rem 2.25rem;
        font-weight: bold;
    }

    .vinisto-wine-week__info__variety {
        font-weight: 300;
        margin-left: 2.75rem;
        margin-bottom: .75rem;
        line-height: 1rem;
    }

    .vinisto-wine-week__info__price {
        margin-left: 4.5rem;
        margin-bottom: 1rem;
        font-weight: bold;
        font-size: 1.25rem;
    }

    .vinisto-wine-week__info__btn {
        margin-left: 6rem;
        padding: .175rem 1.75rem;
        background-color: #ffffff;
        color: $vinisto-color;
        font-weight: bold;
    }
}

.underline-effect {

    .nav-link,
    .underline-item {
        position: relative;
    }

    .nav-link,
    .underline-item {
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 0.063rem;
            bottom: .438rem;
            left: 0;
            background: #000000;
            visibility: hidden;
            transform: scaleX(0);
            transition: .25s linear;

        }
    }

    .underline-item::before {
        bottom: 0.063rem;
        background: $vinisto-color;
    }

    .nav-link,
    .underline-item {

        &:hover::before,
        &:focus::before {
            backface-visibility: hidden; // fix kvůli Safari
            visibility: visible;
            transform: scaleX(1);
        }
    }

    &.navbar-nav {

        .nav-item {
            padding-right: 1rem;
            padding-left: 1rem;
        }

        .nav-link {
            padding-right: 0 !important;
            padding-left: 0 !important;
        }
    }

    &.underline-effect--white {

        .nav-link,
        .underline-item {
            &::before {
                background: #ffffff;
            }
        }
    }

    &.underline-effect--vinisto {

        .nav-link,
        .underline-item {
            &::before {
                background: $vinisto-color;
            }
        }
    }
}

/** Vinisto - slideshow **/
.vinisto-review-preview__user__text {
    display: flex;
    align-items: center;
}

.vinisto-review-preview__user__text__name {
    margin-bottom: 0;
    line-height: 1.125rem;
}

.vinisto-review-preview__user__text__profile {
    color: $vinisto-color;
    font-style: italic;
    font-size: 0.938rem;
    line-height: 1rem;

    &:hover {
        color: $vinisto-color;
    }
}

.vinisto-slideshow-right {
    display: flex;
    flex: 0 0 55rem;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-right: -1rem;
}

/** Vinisto - wrapper vín níže **/
.vinisto-wide-wine-tabs {
    position: relative;

    &::before {
        position: absolute;
        display: block;
        content: "";
        height: 2px;
        bottom: 0;
        border-radius: 1px;
        left: 0;
        right: 0;
        background-color: rgba(163, 130, 148, 0.5);
    }

    .navbar-nav .nav-item {

        &:hover {
            .nav-link {
                color: $vinisto-color;
                font-weight: bold;
            }
        }
    }

    .nav-item {
        flex: 1 1 0px;
        padding-bottom: .5rem;
        transition: color 300ms linear;

        .nav-link {
            text-align: center;
        }

        &.active {
            position: relative;

            &::before {
                position: absolute;
                display: block;
                content: "";
                height: 4px;
                bottom: -1px;
                border-radius: 2px;
                left: 0;
                right: 0;
                background-color: $vinisto-color;
                z-index: 3;
            }

            .nav-link {
                color: $vinisto-color;
                font-weight: bold;
            }
        }
    }

    .vinisto-wide-wine-tabs__header {
        margin-bottom: 0;
        white-space: nowrap;
        font-weight: normal;
    }

    .vinisto-wide-wine-tabs__title {
        margin-bottom: 0;
    }

    &.vinisto-wide-wine-tabs--top {
        &::before {
            bottom: auto;
            top: 0;
        }

        .nav-item {
            padding-top: .5rem;

            &.active {
                &::before {
                    bottom: auto;
                    top: -1px;
                }
            }
        }
    }
}

.nav-item.nav-item--all-tips {
    align-self: flex-end;

    .nav-link {
        white-space: nowrap;
        color: $vinisto-color;
    }
}

.vinisto-card__header {
    display: flex;
}

.vinisto-card__show-more {
    display: flex;
    align-items: center;
    color: $vinisto-color;
    padding: .5rem 1rem;
    margin-bottom: .5rem;
    margin-left: auto;
}

.vinisto-shadow {
    display: block;
    position: absolute;
    top: 0;
    right: -1rem;
    width: 8rem;
    height: 100%;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.05) 90%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.05) 90%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.05) 90%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff", GradientType=1);
    z-index: 2;

    &.vinisto-shadow--left {
        right: auto;
        left: -1rem;
        transform: scaleX(-1);
    }
}

.vinisto-wide-wine-arrow {
    position: absolute;
    width: 2.625rem;
    height: 2.625rem;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #62072E;
    border-radius: $vinisto-radius;
    opacity: 0.5;
    cursor: pointer;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
    transition: opacity 300ms linear, box-shadow 0.3s ease-in-out;

    &:hover {
        opacity: 1;
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.3);
    }

    &.vinisto-wide-wine-arrow--left {
        transform: translateY(-50%);
    }
}

/** Vinisto - náhled vína s možností přidat do košíku **/
.vinisto-wine__item {
    flex: 0 0 12rem;
    margin: .5rem 1rem 0;
    border-radius: $vinisto-radius;
    padding: .5rem 0;
    transition: box-shadow 300ms ease-in-out;

    &:hover {
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.3);

        .vinisto-wine__img-info__heart {
            margin-bottom: .5rem;
            height: auto;
            opacity: 1;
        }
    }

    &.vinisto-wine__item--small {
        display: flex;
        position: relative;
        flex: 0 0 17rem;
        margin: 0 1rem 1rem 0;
        background-color: $vinisto-color-light-gray;
        border-radius: $vinisto-radius;
        height: calc(50% - .5rem);
        --bs-gutter-x: 1rem;
        cursor: pointer;
        transition: box-shadow 0.3s ease-in-out;

        .vinisto-wine__img-wrap {
            position: static;
            display: flex;
            flex: 0 0 6.25rem;
            justify-content: center;
            align-items: center;
        }

        .vinisto-wine__info-wrap {
            padding-top: 2rem;
            padding-right: .5rem;
        }

        .vinisto-wine__img-labels {
            left: auto;
            right: -.5rem;
            margin-top: .5rem;
        }

        .vinisto-wine__img-label {
            display: inline-block;
            margin-bottom: 0;
            padding: .125rem .5rem;
            font-size: 0.75rem;
            line-height: 1.063rem;
        }

        .vinisto-wine__img {
            height: 140px;
        }

        .vinisto-wine__name {
            justify-content: flex-start;
            text-align: left;
            margin-top: .75rem;
        }

        .vinisto-wine__review {
            justify-content: flex-start;
        }

        .vinisto-wine__variety {
            justify-content: flex-start;
        }

        .vinisto-wine__stock {
            text-align: left;
        }

        .vinisto-wine__price {
            text-align: left;
        }

        &:hover {
            box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.3);
        }

        &.vinisto-wine__item--active {
            box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.3);
        }
    }
}

.vinisto-wine__img-wrap {
    width: 100%;
    position: relative;
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
    text-align: center;
}

.vinisto-wine__info-wrap {
    width: 100%;
}

.vinisto-wine__img-labels {
    position: absolute;
    top: 0;
    left: -.5rem;
}

.vinisto-wine__img-info {
    position: absolute;
    top: 0;
    right: .5rem;

    .vinisto-wine__img-info__heart {
        transition: opacity 300ms linear;
        opacity: 0;
        height: 0;
        margin-bottom: 0;

        &.show {
            height: auto;
            opacity: 1;
            margin-bottom: .5rem;
        }
    }

    &>* {
        display: block;
        margin-bottom: .5rem;
    }
}

.vinisto-wine__img-label {
    display: block;
    margin-bottom: .25rem;
    background-color: #DAA628;
    border-radius: $vinisto-radius;
    color: #ffffff;
    font-size: 0.938rem;
    line-height: 1.313rem;
    padding: .125rem 0.813rem;
    white-space: nowrap;
}

.vinisto-wine__img-label--new {
    background-color: #6FC067;
}

.vinisto-wine__img-label--trend {
    background-color: #A54473;
}

.vinisto-wine__name {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $vinisto-color-dark;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.375rem;
    height: 2.75rem;
    margin-bottom: 0.250rem;
}

.vinisto-wine__review {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .250rem;
}

.vinisto-wine__review__wrap-count {
    color: $vinisto-color;
    font-style: italic;
    font-size: 0.875rem;
    line-height: 1.125rem;
    margin-left: .125rem;
}

.vinisto-wine__variety {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $vinisto-color;
    font-style: italic;
    margin-bottom: .250rem;

    &:hover {
        color: $vinisto-color;
    }
}

.vinisto-wine__stock {
    text-align: center;
    font-size: 0.938rem;
    line-height: 1.313rem;
    margin-bottom: 0;
}

.vinisto-wine__price {
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: bold;
    margin-bottom: 0;
    color: $vinisto-color-dark;
}

.vinisto-wine__count {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.375rem;
}

.vinisto-wine__count__minus,
.vinisto-wine__count__plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.688rem;
    height: 1.688rem;
    cursor: pointer;
    background-color: #ffffff;
    box-shadow: inset 1px 1px 4px 0px rgba(47, 18, 31, .5);
    border-radius: $vinisto-radius;
    z-index: 2;
    transition: 300ms linear;

    img {
        width: 1rem;
    }

    &:hover {
        background-color: #62072E;
        box-shadow: inset 1px 3px 6px 0px rgba(0, 0, 0, .25);

        img {
            filter: brightness(0) invert(1);
        }
    }
}

.vinisto-wine__count__amount {
    width: 5.625rem;
    -moz-appearance: textfield;
    text-align: center;
    border: 0px solid transparent;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1.25rem;
    margin-left: -.5rem;
    margin-right: -.5rem;
    padding-left: .75rem;
    padding-right: .75rem;
    padding-bottom: 0;
    background-color: $vinisto-color-light-gray;
    z-index: 1;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &:focus,
    &:active {
        border-color: #000000;
    }
}

.vinisto-wine__add-to-cart__button {
    width: 8rem;
    padding: .5rem 1.75rem;
    font-weight: bold;
    line-height: 1.375rem;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0), inset 2px 2px 3px 0px rgba(255, 255, 255, 0.5);
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(98, 7, 46, 1) 35%, rgba(98, 7, 46, 1) 65%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(98, 7, 46, 1) 35%, rgba(98, 7, 46, 1) 65%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(98, 7, 46, 1) 35%, rgba(98, 7, 46, 1) 65%, rgba(0, 0, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
    transition: box-shadow 0.3s ease-in-out, opacity 0.3s ease-out;

    &:hover {
        box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.5), inset 2px 2px 3px 0px rgba(255, 255, 255, 0.5);
    }
}

/** Vinisto - články **/
.vinisto-articles__article {
    flex: 1 1 auto;
}

.vinisto-articles__img {
    flex: 0 0 650px;
    margin-top: -.5rem;
    margin-right: -1rem;

    &.vinisto-articles__img--left {
        flex: 0 0 715px;
        margin-top: 0;
        margin-right: 0;

        img {
            margin-top: -.5rem;
            margin-left: -1rem;
        }
    }
}

footer {
    box-shadow: $vinisto-box-shadow;
    padding-bottom: 0;
    margin-top: 1rem;

    &,
    *,
    .footer-nav .nav-link {
        color: #ffffff;
    }

    .newsletter-h5 {
        font-size: $smaller-text;
        line-height: $smaller-line-height;
    }

    .btn-newsletter {
        position: absolute;
        right: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin: 0.125rem;
        padding: .438rem 2.5rem;
    }

    .footer-nav {
        h5 {
            font-size: 1.125rem;
            line-height: 1.375rem;
        }

        .nav-link {
            margin-top: 0.125rem;
            margin-bottom: 0.125rem;
        }
    }
}

@media (min-width: 1380px) {
    #content-wrapper {
        .container {
            --bs-gutter-x: 0.25rem;
        }

        .col,
        .col-1,
        .col-2,
        .col-3,
        .col-4,
        .col-5,
        .col-6,
        .col-7,
        .col-8,
        .col-9,
        .col-10,
        .col-11,
        .col-12 {
            --bs-gutter-x: 1rem;
        }

    }
}