.terms {
	font-size: 0.6875rem;
	font-weight: 300;
	max-width: 20rem;
	padding: 0 0 0 1.25rem;
	color: rgb(var(--vinisto-color-darker-gray));
	margin-top: 1.25rem;
}

.link {
	color: rgb(var(--vinisto-color-green));
	text-decoration: none;
}

.link:hover {
	text-decoration: underline;
	color: rgb(var(--vinisto-color-green));
}

@media (max-width: 1199.98px) {
	.terms {
		text-align: left;
		margin-left: 0;
		margin-top: 0.625rem;
		padding: 0;
		font-size: 0.625rem;
	}
}
