.button {
	background: linear-gradient(
		15deg,
		rgba(40, 0, 68, 1) 0%,
		rgba(57, 0, 68, 1) 39%,
		rgba(57, 0, 68, 1) 63%,
		rgba(40, 0, 68, 1) 100%
	);
	border-color: transparent;
  border-width: 1px;
	color: rgb(var(--vinisto-color-white));
	line-height: 1.5;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
	max-width: 12.5rem;
  padding: .25rem .75rem;
}

.button:hover, .button:focus {
  border-color: rgb(var(--vinisto-color-white));
}

.button:disabled {
	cursor: not-allowed;
	opacity: 0.6;
}

.button:focus {
  box-shadow: 0 0 0 0.25rem rgba(49,132,253,.5);
  border-color: inherit;
}

button:focus:not(:focus-visible) {
  outline: 0;
}
