.typeahead > div {
	padding: 0.25rem !important;
}

.dropdownItem {
	font-weight: 400;
	padding: 0.25rem 0.5rem;
	white-space: nowrap;
}

.allowedValueList {
	list-style-type: none;
	padding: 0.25rem;
	margin-bottom: 0;
	white-space: nowrap;
}

.allowedValueListItem {
	font-weight: 400;
	overflow: hidden;
}

.label {
	text-overflow: ellipsis;
}

.token {
	padding: 0.2rem;
	display: inline-block;
  color: #007bff;
  margin-bottom: 0.25rem;
}

.tokenSpecification {
	padding: 0.2rem;
	display: inline;
  background-color: #cfe8fc;
  border-radius: 4px;
}

.token.active .tokenSpecification {
	background-color: #007bff;
	color: white;
}

.tokenValue {
	padding: 0.2rem;
	display: inline;
  border-radius: 4px;
  background-color: #e7f4ff;
}

.tokenRemoveButton {
  background-color: #e7f4ff;
  color: #007bff;
  border: 0px solid transparent;
}