.modal {
	padding-left: 0 !important;
}

.modal-dialog.modal-dialog--ppl {
	max-width: 95vw !important;
}

.modal-dialog.modal-dialog--dpd {
	max-width: 95vw !important;
}

.modal-dialog {
	max-width: 400px !important;
}

.modal-dialog--login {
	max-width: 707px !important;
}

.modal-dialog.modal-dialog--address {
	max-width: 545px !important;
}

.modal-dialog.modal-dialog--address.open {
	max-width: 1080px !important;
}

.modal-dialog.modal-dialog--payment {
	max-width: 812px !important;
}

.modal-dialog.modal-dialog--review {
	max-width: 500px !important;
}

.modal-dialog.modal-dialog--personal {
	max-width: 1360px !important;
}

.modal-dialog.modal-dialog--personal .modal-content {
	height: 100vh;
	max-height: 670px;
}

.modal-content {
	border: none !important;
	border-radius: var(--vinisto-radius-big) !important;
}

.modal-content .modal-body {
	padding: 0.875rem 1rem;
}

.vinisto-popup__heading-wrap {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border-bottom: 1px solid rgba(var(--vinisto-color-darker-gray), 0.25);
	padding: 0 0.5rem 0.875rem 0;
}

.vinisto-popup__heading {
	font-family: var(--font-family-ubuntu);
	margin-bottom: 0;
	color: rgb(var(--vinisto-color-green));
	font-size: 1.375rem;
	font-weight: 700;
	flex-grow: 1;
}

.vinisto-popup__close {
	background-color: transparent;
	border: 0;
	padding: 0;
	display: flex;
	align-items: center;
	transition: opacity 300ms ease-out;
}

.vinisto-popup__close svg g {
	stroke: rgb(var(--vinisto-color-darker-gray));
}

.vinisto-popup__close:hover {
	opacity: 0.8;
}

.modal-content {
	font-family: var(--font-family-roboto);
	font-size: 1rem;
	font-weight: 400;
	box-shadow: 0px 2px 8px 0 rgba(var(--vinisto-color-darker2), 0.2);
}

.modal-content label {
	font-size: 1rem;
	margin-left: 0.5rem;
	margin-bottom: 0.25rem;
}

.modal-content .vinisto-input {
	border: 1px solid rgba(var(--vinisto-color-dark), 0.32);
	box-shadow: inset 1px 1px 4px 0 rgba(var(--vinisto-color-black), 0.32);
	font-size: 0.9375rem;
	padding: 0.5rem;
}

.vinisto-popup__show-password {
	cursor: pointer;
	position: absolute;
	top: 50%;
	right: 0.625rem;
	transform: translateY(-50%);
	transition: opacity 300ms ease-out;
	opacity: 0.3;
}

.vinisto-popup__show-password:hover {
	opacity: 1;
}

.vinisto-btn.vinisto-popup__btn {
	font-family: var(--font-family-ubuntu);
	width: 100%;
	white-space: nowrap;
	background-color: rgb(var(--vinisto-color));
	font-size: 1.125rem;
	white-space: normal;
	padding: 0.5rem;
}

.vinisto-btn.vinisto-popup__btn.vinisto-popup__btn--green {
	background-color: rgb(var(--vinisto-color-green));
	font-weight: 500;
}

.vinisto-btn.vinisto-popup__btn.vinisto-popup__btn--green:hover {
	background-color: rgb(var(--vinisto-color-green));
}

.vinisto-btn.vinisto-popup__btn:disabled,
.vinisto-btn.vinisto-popup__btn.disabled {
	opacity: 0.5;
}

.vinisto-popup__links {
	font-family: var(--font-family-ubuntu);
	display: flex;
	justify-content: space-between;
	margin: 1.25rem 0 0;
	color: rgb(var(--vinisto-color-darker));
}

.vinisto-popup__links .vinisto-popup__link--gray {
	font-size: 1rem;
	font-weight: 400;
	color: rgb(var(--vinisto-color-darker-gray));
}

.vinisto-popup__split {
	display: flex;
	gap: 3.3125rem;
	margin-bottom: 0.625rem;
}

.vinisto-popup__split__form {
	flex: 0 0 22.875rem;
}

.vinisto-popup__usp {
	font-family: var(--font-family-ubuntu);
	list-style: none;
	padding-right: 1.75rem;
}

.vinisto-popup__usp li {
	position: relative;
	margin-bottom: 1.4375rem;
}

.vinisto-popup__usp li::before {
	position: absolute;
	top: 50%;
	right: calc(100% + 0.5rem);
	transform: translateY(-50%);
	content: url('/assets/images/check-green.svg');
}

.vinisto-popup__usp li:last-child {
	margin-bottom: 1.6875rem;
}

.vinisto-popup__checkboxes {
	margin: 0.125rem 0 0;
}

.vinisto-popup__checkbox {
	position: relative;
	margin: 0.188rem 0 !important;
	padding-left: 1.875rem;
	font-size: 0.875rem;
}

.vinisto-popup__checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.vinisto-popup__checkbox input:checked ~ .vinisto-popup__checkmark {
	border: 1px solid rgb(var(--vinisto-color-darker-gray));
	box-shadow: inset 1px 1px 4px 0 rgba(var(--vinisto-color), 0.3);
}

.vinisto-popup__checkbox input:checked ~ .vinisto-popup__checkmark::after {
	display: block;
}

.vinisto-popup__checkbox .input-error {
	padding: 0.5rem 0.6875rem;
	margin-top: 0.125rem;
	border-radius: var(--vinisto-radius-base);
}

.vinisto-popup__checkmark {
	position: absolute;
	top: 0.188rem;
	left: 0;
	height: 1.25rem;
	width: 1.25rem;
	background-color: rgb(var(--vinisto-color-white));
	border: 1px solid rgba(var(--vinisto-color-darker-gray), 0.5);
	border-radius: var(--vinisto-radius-small);
	box-shadow: none;
	transition: box-shadow 0.3s ease-in-out;
}

.vinisto-popup__checkmark::after {
	content: url('/assets/images/check-green.svg');
	position: absolute;
	display: none;
	left: 0.125rem;
	bottom: 0;
	height: 1.25rem;
	width: 1.25rem;
}

.vinisto-popup__checkmark.vinisto-popup__checkmark--radio {
	border-radius: 0.625rem;
}

.modal-dialog.modal-dialog--cross-sell {
	width: 100%;
	max-width: 57.5rem !important;
}

.modal-dialog.modal-dialog--cross-sell .modal-content {
	border-radius: 0 !important;
}

.modal-dialog.modal-dialog--cross-sell .vinisto-popup__heading {
	display: none;
}

.modal-dialog.modal-dialog--cross-sell .vinisto-popup__heading-wrap {
	border-bottom: none;
	padding: 0.75rem 0 0.5rem 0;
}

.modal-dialog.modal-dialog--cross-sell .vinisto-popup__heading-wrap + br {
	display: none;
}

.modal-dialog.modal-dialog--cross-sell .modal-body {
	padding: 0 1rem 1rem;
	border-bottom: none;
}

.modal-dialog.modal-dialog--cross-sell {
	width: 100%;
	max-width: 57.5rem !important;
}

.modal-dialog.modal-dialog--quick-purchase .vinisto-popup__heading {
	color: rgb(var(--vinisto-color-darker-gray));
	text-align: center;
	font-size: 1.875rem;
	font-weight: 600;
	padding-top: 1.5rem;
	padding-bottom: 1rem;
}

.modal-dialog.modal-dialog--quick-purchase .vinisto-popup__heading-wrap {
	border-bottom: none;
	align-items: unset;
	margin-right: 0;
}

.modal-dialog.modal-dialog--quick-purchase .vinisto-popup__heading-wrap + br {
	display: none;
}

.modal-dialog.modal-dialog--quick-purchase .vinisto-popup__close {
	align-items: flex-start;
	padding-top: 0.5rem;
}

.modal-dialog.modal-dialog--quick-purchase {
	width: 100%;
	max-width: 37.5rem !important;
}

.modal-dialog--join-vinisto-plus {
	max-width: 600px !important;
}

.modal-dialog--join-vinisto-plus .vinisto-popup__heading-wrap {
	padding: 0;
	border-bottom: none;
}

.modal-dialog--join-vinisto-plus br,
.modal-dialog--guarantee-price br,
.modal-dialog--guarantee-ok br,
.modal-dialog--vinisto-plus-basket-modal br {
	display: none;
}

.modal-dialog--guarantee-price {
	max-width: 809px !important;
}

.modal-dialog--guarantee-price .vinisto-popup__heading-wrap,
.modal-dialog--vinisto-plus-basket-modal .vinisto-popup__heading-wrap {
	border-bottom: none;
	position: absolute;
	top: 1rem;
	right: 0.75rem;
}

.modal-dialog--guarantee-price .modal-content {
	overflow: hidden;
}

.modal-dialog--guarantee-price .modal-body {
	padding: 0;
}

.modal-dialog--guarantee-ok {
	max-width: 700px !important;
}

.modal-dialog--guarantee-ok .vinisto-popup__heading-wrap {
	border-bottom: none;
	position: absolute;
	top: 1rem;
	right: 0.75rem;
}

.modal-dialog--vinisto-plus-basket-modal {
	max-width: 707px !important;
}

.modal-dialog--request-credit-increase-modal {
	max-width: 707px !important;
}

@media (max-width: 1199.98px) {
	.vinisto-popup__heading {
		font-size: 1rem;
	}
	.vinisto-popup__links--login {
		justify-content: flex-end;
	}

	.vinisto-popup__links .vinisto-popup__link--gray {
		font-size: 0.8125rem;
	}

	.vinisto-popup__split {
		flex-direction: column;
		gap: 1rem;
	}

	.vinisto-popup__split__form {
		flex: 1 1 auto;
	}

	.vinisto-popup__usp {
		max-width: 15rem;
		margin: auto;
	}

	.vinisto-popup__usp li {
		font-size: 0.875rem;
	}

	.modal-dialog .modal-content label.vinisto-label--required,
	.modal-dialog .modal-content .vinisto-popup__checkbox {
		font-size: 0.875rem;
	}

	.modal-dialog .modal-content .vinisto-input {
		/* Must be at least 16px (1rem) on mobile, else iPhone will autozoom */
		font-size: 1rem;
		padding: 0.375rem;
	}

	.modal-body {
		background-color: rgb(var(--vinisto-color-white));
	}

	.modal-dialog,
	.modal-dialog.modal-dialog--address,
	.modal-dialog.modal-dialog--review {
		max-width: 100% !important;
		width: 100% !important;
		max-height: 100vh;
		height: 100vh;
		margin: 0 auto !important;
	}

	.modal-dialog .modal-content,
	.modal-dialog.modal-dialog--address .modal-content,
	.modal-dialog.modal-dialog--review .modal-content {
		height: 100vh;
		border-radius: 0 !important;
	}

	.modal-dialog .modal-content form,
	.modal-dialog.modal-dialog--address .modal-content form,
	.modal-dialog.modal-dialog--review .modal-content form {
		overflow: auto;
	}

	.modal-dialog .modal-content label,
	.modal-dialog.modal-dialog--address .modal-content label,
	.modal-dialog.modal-dialog--review .modal-content label {
		font-size: 1rem;
	}

	.modal-dialog--cookies,
	.modal-dialog--confirm {
		width: inherit !important;
		max-width: 400px !important;
		height: inherit !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}

	.modal-dialog--cookies .modal-content,
	.modal-dialog--confirm .modal-content {
		height: auto;
	}

	.modal-dialog--cookies .modal-body,
	.modal-dialog--confirm .modal-body {
		background-color: initial;
	}

	.modal-dialog--cookies .modal-content,
	.modal-dialog--confirm .modal-content {
		border-radius: unset !important;
	}

	.modal-dialog.modal-dialog--dpd .modal-body,
	.modal-dialog.modal-dialog--ppl .modal-body {
		display: flex;
		flex-direction: column;
	}

	.modal-dialog.modal-dialog--dpd .modal-body div:last-of-type,
	.modal-dialog.modal-dialog--ppl .modal-body div:last-of-type {
		flex-grow: 1;
	}

	.modal-dialog.mobile-modal {
		--mobile-radius: 0.625rem;
		max-width: calc(100% - 1.25rem) !important;
		height: auto !important;
		min-height: 0 !important;
		max-height: calc(100% - 1.25rem) !important;
		border-radius: var(--mobile-radius) !important;
		top: 0.625rem;
	}

	.modal-dialog.mobile-modal.modal-dialog-centered {
		top: 50%;
		transform: translateY(-50%) !important;
	}

	.modal-dialog.mobile-modal .vinisto-popup__heading-wrap {
		padding-right: 0.625rem;
	}

	.modal-dialog.mobile-modal .modal-content {
		height: auto !important;
		border-radius: var(--mobile-radius) !important;
	}

	.modal-dialog.mobile-modal .modal-body {
		height: auto !important;
		border-radius: var(--mobile-radius) !important;
		padding: 1.25rem 0.625rem !important;
	}

	.modal-dialog--guarantee-price.modal-dialog.mobile-modal .modal-body {
		padding: 0 !important;
	}
}
