.overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
}

.product {
	display: grid;
	grid-template-columns: min-content 1fr 1fr;
	grid-template-rows: auto auto auto auto;
	grid-auto-flow: row;
	grid-template-areas:
		'productImg productName productName'
		'productImg productProducer productProducer'
		'productImg productCount productPrice'
		'productImg productSeller productPriceNoVat';

	font-family: var(--font-family-roboto);
	font-size: 0.75rem;
	font-weight: 400;
	color: rgb(var(--vinisto-color-darker-gray));
	position: relative;
	padding: 0.75rem 0;
	border-bottom: 1px solid rgba(var(--vinisto-color-darker-gray), 0.25);
}

.productName {
	grid-area: productName;
	margin-bottom: 0.25rem;
}

.productProducer {
	grid-area: productProducer;
}

.productProducer :global(.vinisto-wine__variety__text) {
	font-family: var(--font-family-roboto);
	color: rgb(var(--vinisto-color-darker-gray));
	font-weight: 400;
	margin-left: 0.25rem;
}

.productCount {
	grid-area: productCount;
	font-family: var(--font-family-ubuntu);
	font-size: 0.875rem;
	font-weight: 500;
}

.productPrice {
	grid-area: productPrice;
	text-align: right;
	font-family: var(--font-family-ubuntu);
	font-size: 0.875rem;
	font-weight: 500;
	color: rgb(var(--vinisto-color-red));
}

.productImg {
	grid-area: productImg;
	margin: 0 0.5rem;
}

.productSeller {
	grid-area: productSeller;
	font-family: var(--font-family-ubuntu);
	font-size: 0.625rem;
}

.productPriceNoVat {
	grid-area: productPriceNoVat;
	text-align: right;
	font-family: var(--font-family-ubuntu);
	font-size: 0.625rem;
	font-weight: 300;
}

.productPriceNoVatPrice {
	font-weight: 400;
}

.sellerName {
	font-weight: 500;
	color: rgb(var(--vinisto-color-green));
}
