.admin-action-button {
	background: linear-gradient(
		15deg,
		rgb(40, 0, 68) 0%,
		rgb(57, 0, 68) 39%,
		rgb(57, 0, 68) 63%,
		rgb(40, 0, 68) 100%
	);
	cursor: pointer !important;
	min-width: 240px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-self: center;
	align-content: center;
}

.admin-action-button .action-button-icon {
	font-weight: bold;
	font-size: 18px;
	color: white;
	margin-right: 10px;
}

.admin-action-buttons-row {
	margin: 0.5rem 0;
}
