.inputWrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
}

.input {
	display: block;
	width: 100%;
	font-size: 1rem;
	background-color: rgb(var(--vinisto-color-white));
	padding: 0.4375rem 0.625rem;
	box-shadow: none;
	border: 1px solid rgb(var(--vinisto-color-lighter-gray2));
	outline: 1px solid transparent;
	color: rgb(var(--vinisto-color-darker-gray));
	font-weight: 400;
}

.input::placeholder {
	font-size: 0.6875rem;
	font-weight: 300;
	color: rgb(var(--vinisto-color-darker-gray));
}

.input:focus,
.input.error:focus,
.input.success:focus {
	border-color: rgb(var(--vinisto-color-darker-gray));
}

.input.error {
	border-color: rgb(var(--vinisto-color-error));
}

.input.success {
	border-color: rgb(var(--vinisto-color-success));
}

.checkIcon {
	position: absolute;
	right: 0;
	top: 55%;
	transform: translateY(-50%);
}

