.keep_whitespace {
	white-space: pre;
}

.bold {
	font-weight: 500;
}

.confirmButton:global(.btn-primary) {
	background: rgb(var(--vinisto-color-green)) !important;
}

.rejectButton:global(.btn-primary) {
	background: rgb(var(--vinisto-color-error)) !important;
}
