.formWrap {
	max-width: 520px;
	margin: 0 auto 1.875rem;
}

.address {
	width: 100%;
	max-width: 670px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.5rem;
}

.addressHeading {
	font-family: var(--font-family-ubuntu);
	font-size: 1rem;
	font-weight: 400;
	color: rgb(var(--vinisto-color-darker-gray));
	padding-bottom: 0.625rem;
	margin-top: 1.5rem;
}

.addressesWrap {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 1.625rem;
	row-gap: 0.625rem;
	margin-top: 0.5rem;
}

.readOnlyEmail {
	background-color: rgba(var(--vinisto-color-darker-gray), 0.1);
	box-shadow: none;
}

.readOnlyEmail:focus {
	border-color: rgba(var(--vinisto-color-darker-gray), 0.32);
}

.readOnlyEmailWrapper {
	width: 100%;
	margin-bottom: 1rem;
}

.readOnlyEmailLabel {
	font-family: var(--font-family-roboto);
	display: block;
	font-size: 1rem;
	font-weight: 400;
	margin: 0.375rem 0 0.375rem 0.5rem;
	color: rgb(var(--vinisto-color-darker-gray));
}

.basketItems {
	display: none;
}

@media (max-width: 1199.98px) {
	.address {
		max-width: unset;
		padding: 0 0.3125rem;
	}
	.formWrap {
		max-width: 100%;
	}

	.basketItems {
		display: block;
	}

	.addressHeading {
		font-size: 0.75rem;
		margin-top: 0.75rem;
		color: rgba(var(--vinisto-color-darker-gray), 0.75);
	}

	.questionMarkInfo {
		bottom: auto;
		top: 100%;
		left: auto;
		right: 0;
	}

	.mobileHeading {
		display: block;
		font-family: var(--font-family-ubuntu);
		font-size: 1rem;
		font-weight: 500;
		color: rgb(var(--vinisto-color-darker-gray));
		padding: 0 0.75rem;
		margin-bottom: 0.625rem;
	}
}

@media (max-width: 767.98px) {
	.addressesWrap {
		grid-template-columns: repeat(1, 1fr);
	}
}
