.contractWithdrawLink {
	font-family: var(--font-family-roboto);
	font-size: 0.75rem;
	font-weight: 400;
	color: rgb(var(--vinisto-color-darker-gray));
	text-decoration: underline;
	text-align: left;
}

@media (min-width: 1200px) {
	.contractWithdrawLink {
		font-size: 1.125rem;
	}
}
